{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenFn Redis Adaptor (synthesized)",
    "version": "1.0.0",
    "description": "Synthesized OpenAPI document for the @openfn/language-redis adaptor. Redis is a key-value / JSON store with no vendor REST API, so each public adaptor operation is modelled as an HTTP POST path with request and response schemas derived from the operation's arguments and return shape (per the adaptor ast.json). This spec exists to let OpenFn mocker generate seed data and mock responses; it does not describe a real Redis wire protocol.",
    "x-openfn-adaptor": "redis"
  },
  "servers": [
    {
      "url": "https://redis.mock.openfn.org",
      "description": "Mock placeholder server (synthesized spec; Redis has no REST API)"
    }
  ],
  "paths": {
    "/get": {
      "post": {
        "operationId": "get",
        "summary": "Get the string value of a key",
        "description": "Get the string value of a key. If the key does not exist, null is returned. An error is thrown if the value stored at key is not a string.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The string value stored at the key (or null).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StringValueResult" }
              }
            }
          }
        }
      }
    },
    "/hget": {
      "post": {
        "operationId": "hget",
        "summary": "Get the value of a field in a hash",
        "description": "Get the value associated with a specific field in a hash stored at a specified key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HGetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The value of the field in the hash.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StringValueResult" }
              }
            }
          }
        }
      }
    },
    "/jGet": {
      "post": {
        "operationId": "jGet",
        "summary": "Get a JSON document stored at a key",
        "description": "Get the value at a specified path in a JSON document stored in a key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The JSON document stored at the key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonValueResult" }
              }
            }
          }
        }
      }
    },
    "/mGet": {
      "post": {
        "operationId": "mGet",
        "summary": "Get JSON documents at multiple keys",
        "description": "Get the values at specified paths in JSON documents stored at multiple keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MGetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of JSON documents, one per requested key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonArrayResult" }
              }
            }
          }
        }
      }
    },
    "/hGetAll": {
      "post": {
        "operationId": "hGetAll",
        "summary": "Get all fields and values of a hash",
        "description": "Get all fields and values of a hash, as an object, for a specified key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The hash as an object of field/value pairs.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HashResult" }
              }
            }
          }
        }
      }
    },
    "/set": {
      "post": {
        "operationId": "set",
        "summary": "Set the string value of a key",
        "description": "Set the string value of a key. If the key already exists, its value is updated; otherwise a new key-value pair is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation of the write.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WriteResult" }
              }
            }
          }
        }
      }
    },
    "/hset": {
      "post": {
        "operationId": "hset",
        "summary": "Set fields of a hash",
        "description": "Sets the specified fields to their respective values in the hash stored at key. Overwrites existing fields. If the key does not exist, a new hash is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HSetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number of fields that were added.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CountResult" }
              }
            }
          }
        }
      }
    },
    "/jSet": {
      "post": {
        "operationId": "jSet",
        "summary": "Set a JSON document at a key",
        "description": "Creates a JSON object at the specified key. If the key already exists, the existing value is replaced by the new value.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JSetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation of the write.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WriteResult" }
              }
            }
          }
        }
      }
    },
    "/mSet": {
      "post": {
        "operationId": "mSet",
        "summary": "Set JSON documents at multiple keys",
        "description": "Set values at the root path ('$') in JSON documents stored at multiple keys in a single operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MSetRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation of the write.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WriteResult" }
              }
            }
          }
        }
      }
    },
    "/scan": {
      "post": {
        "operationId": "scan",
        "summary": "Scan for keys matching a pattern",
        "description": "Returns all keys which match the provided glob-style pattern. scan iterates the whole database to find matching keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ScanRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of keys which match the pattern.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScanResult" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetRequest": {
        "type": "object",
        "required": ["key"],
        "properties": {
          "key": { "type": "string", "description": "The name of the key" }
        }
      },
      "HGetRequest": {
        "type": "object",
        "required": ["key", "field"],
        "properties": {
          "key": { "type": "string", "description": "The name of the key" },
          "field": { "type": "string", "description": "The hash field to read" }
        }
      },
      "MGetRequest": {
        "type": "object",
        "required": ["keys"],
        "properties": {
          "keys": {
            "type": "array",
            "description": "The keys at which the JSON documents are stored.",
            "items": { "type": "string" }
          }
        }
      },
      "SetRequest": {
        "type": "object",
        "required": ["key", "value"],
        "properties": {
          "key": { "type": "string", "description": "The name of the key" },
          "value": { "type": "string", "description": "The string value to set" }
        }
      },
      "HSetRequest": {
        "type": "object",
        "required": ["key", "value"],
        "properties": {
          "key": { "type": "string", "description": "The name of the key" },
          "value": {
            "type": "object",
            "description": "The field/value pairs to set on the hash.",
            "additionalProperties": true
          }
        }
      },
      "JSetRequest": {
        "type": "object",
        "required": ["key", "value"],
        "properties": {
          "key": { "type": "string", "description": "The key to modify." },
          "value": {
            "description": "The JSON object or string value to set.",
            "oneOf": [
              { "type": "object", "additionalProperties": true },
              { "type": "string" }
            ]
          }
        }
      },
      "MSetRequest": {
        "type": "object",
        "required": ["entries"],
        "properties": {
          "entries": {
            "type": "array",
            "description": "An array of key/value pairs to set in the JSON store.",
            "items": { "$ref": "#/components/schemas/MSetEntry" }
          }
        }
      },
      "MSetEntry": {
        "type": "object",
        "required": ["key", "value"],
        "properties": {
          "key": { "type": "string" },
          "value": {
            "oneOf": [
              { "type": "object", "additionalProperties": true },
              { "type": "string" }
            ]
          }
        }
      },
      "ScanRequest": {
        "type": "object",
        "required": ["pattern"],
        "properties": {
          "pattern": { "type": "string", "description": "A glob-style pattern" },
          "options": { "$ref": "#/components/schemas/ScanOptions" }
        }
      },
      "ScanOptions": {
        "type": "object",
        "description": "Scan options.",
        "properties": {
          "count": { "type": "integer", "description": "Hint for the number of keys to return per iteration." },
          "type": { "type": "string", "description": "Filter by Redis value type (e.g. string, hash)." }
        }
      },
      "StringValueResult": {
        "type": "object",
        "description": "Result carrying a single string value.",
        "properties": {
          "data": {
            "type": "string",
            "nullable": true,
            "description": "The string value stored at the key, or null if absent."
          }
        }
      },
      "JsonValueResult": {
        "type": "object",
        "description": "Result carrying a single JSON document.",
        "properties": {
          "data": {
            "description": "The JSON document stored at the key.",
            "nullable": true,
            "oneOf": [
              { "type": "object", "additionalProperties": true },
              { "type": "array", "items": {} },
              { "type": "string" }
            ]
          }
        }
      },
      "JsonArrayResult": {
        "type": "object",
        "description": "Result carrying an array of JSON documents.",
        "properties": {
          "data": {
            "type": "array",
            "description": "One JSON document per requested key.",
            "items": {
              "nullable": true,
              "oneOf": [
                { "type": "object", "additionalProperties": true },
                { "type": "array", "items": {} },
                { "type": "string" }
              ]
            }
          }
        }
      },
      "HashResult": {
        "type": "object",
        "description": "Result carrying a hash as an object of field/value pairs.",
        "properties": {
          "data": {
            "type": "object",
            "description": "The hash fields and their values.",
            "additionalProperties": { "type": "string" }
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "description": "Result carrying the keys matched by a scan.",
        "properties": {
          "data": {
            "type": "array",
            "description": "An array of keys which match the pattern.",
            "items": { "type": "string" }
          }
        }
      },
      "WriteResult": {
        "type": "object",
        "description": "Confirmation of a write operation.",
        "properties": {
          "data": {
            "type": "string",
            "description": "Redis status reply, typically \"OK\".",
            "example": "OK"
          }
        }
      },
      "CountResult": {
        "type": "object",
        "description": "Confirmation carrying an affected-item count.",
        "properties": {
          "data": {
            "type": "integer",
            "description": "Number of fields that were added.",
            "example": 1
          }
        }
      }
    }
  }
}
