{
  "openapi": "3.0.3",
  "info": {
    "title": "Open mSupply GraphQL API (msupply adaptor subset)",
    "version": "2024-10-01",
    "description": "Focused OpenAPI description of the Open mSupply GraphQL API as used by the OpenFn msupply adaptor (@openfn/language-msupply). Open mSupply exposes a single GraphQL endpoint (POST /graphql) that accepts a JSON body of the form {query, variables} and returns {data, errors}. The adaptor authenticates with the `authToken` mutation to obtain a Bearer token, then issues the queries/mutations `itemsWithStats` (getItemsWithStats), `insertOutboundShipment`, and `batchOutboundShipment` (upsertOutboundShipment), plus a generic `query` operation for arbitrary GraphQL. Because OpenAPI 3.0 permits only one operation per HTTP method per path, each GraphQL operation is modelled here as a distinct path under /graphql purely so it can carry its own operationId and response schema; at runtime every one of these is really a POST to the single /graphql endpoint. Derived from the GraphQL query strings embedded in the adaptor's dist bundle (queries.js).",
    "x-openfn-adaptor": "msupply"
  },
  "servers": [
    {
      "url": "https://demo-open.msupply.org",
      "description": "Open mSupply server base URL (configurable per deployment via the adaptor `baseUrl` credential). The GraphQL endpoint is at {baseUrl}/graphql."
    }
  ],
  "tags": [
    { "name": "auth", "description": "Authentication" },
    { "name": "items", "description": "Catalogue items" },
    { "name": "outbound-shipments", "description": "Outbound shipment invoices" },
    { "name": "graphql", "description": "Generic GraphQL access" }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "query",
        "tags": ["graphql"],
        "summary": "Execute an arbitrary GraphQL query or mutation",
        "description": "The adaptor `query(query, variables)` operation. Posts a raw GraphQL document plus variables to the Open mSupply GraphQL endpoint. This is the real endpoint that every other operation in this spec also targets.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GraphQLRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GraphQL response envelope",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GraphQLResponse" }
              }
            }
          }
        }
      }
    },
    "/graphql#authToken": {
      "post": {
        "operationId": "authToken",
        "tags": ["auth"],
        "summary": "Authenticate and obtain a bearer token",
        "description": "Internal login used by the adaptor before any request when no `token` credential is supplied. Runs the `authToken(username, password)` query and returns a JWT used as a Bearer token on subsequent requests. Real endpoint: POST /graphql.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GraphQLRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth token response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthTokenResponse" }
              }
            }
          }
        }
      }
    },
    "/graphql#itemsWithStats": {
      "post": {
        "operationId": "getItemsWithStats",
        "tags": ["items"],
        "summary": "Get the list of items in the catalogue with stats",
        "description": "The adaptor `getItemsWithStats(variables)` operation. Runs the `itemsWithStats` query returning an ItemConnector of catalogue items with per-store stock statistics. Real endpoint: POST /graphql.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GraphQLRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Items connector response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ItemsResponse" }
              }
            }
          }
        }
      }
    },
    "/graphql#insertOutboundShipment": {
      "post": {
        "operationId": "insertOutboundShipment",
        "tags": ["outbound-shipments"],
        "summary": "Create an outbound shipment",
        "description": "The adaptor `insertOutboundShipment(variables)` operation. Runs the `insertOutboundShipment` mutation, creating an outbound shipment invoice for a customer (otherPartyId) in a store. Returns an InvoiceNode on success or a typed error. Real endpoint: POST /graphql.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GraphQLRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Insert outbound shipment response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InsertOutboundShipmentResponse" }
              }
            }
          }
        }
      }
    },
    "/graphql#batchOutboundShipment": {
      "post": {
        "operationId": "upsertOutboundShipment",
        "tags": ["outbound-shipments"],
        "summary": "Update / batch-mutate an outbound shipment",
        "description": "The adaptor `upsertOutboundShipment(variables)` operation. Runs the `batchOutboundShipment` mutation, applying a batch of inserts/updates/deletes to outbound shipments and their lines. Returns a BatchOutboundShipmentResponse describing the outcome of each sub-operation. Real endpoint: POST /graphql.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GraphQLRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch outbound shipment response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchOutboundShipmentResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token obtained from the authToken mutation, or supplied directly via the `token` credential."
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The GraphQL query or mutation document."
          },
          "variables": {
            "type": "object",
            "additionalProperties": true,
            "description": "GraphQL variables map."
          },
          "operationName": {
            "type": "string",
            "description": "Optional name of the operation to execute."
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "path": {
            "type": "array",
            "items": { "type": "string" }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": { "type": "integer" },
                "column": { "type": "integer" }
              }
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "description": "Generic GraphQL response envelope.",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GraphQLError" }
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "description": "Authentication token payload.",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT bearer token."
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "authToken": { "$ref": "#/components/schemas/AuthToken" }
            }
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GraphQLError" }
          }
        }
      },
      "ItemStats": {
        "type": "object",
        "description": "Per-store stock statistics for a catalogue item.",
        "properties": {
          "averageMonthlyConsumption": { "type": "number" },
          "availableStockOnHand": { "type": "number" },
          "availableMonthsOfStockOnHand": { "type": "number", "nullable": true },
          "monthsOfStockOnHand": { "type": "number", "nullable": true },
          "totalConsumption": { "type": "number" },
          "stockOnHand": { "type": "number" }
        }
      },
      "ItemNode": {
        "type": "object",
        "description": "A catalogue item.",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "unitName": { "type": "string", "nullable": true },
          "defaultPackSize": { "type": "number" },
          "availableStockOnHand": { "type": "number" },
          "stats": { "$ref": "#/components/schemas/ItemStats" }
        }
      },
      "ItemConnector": {
        "type": "object",
        "description": "A paged connector of catalogue items.",
        "properties": {
          "__typename": { "type": "string", "example": "ItemConnector" },
          "nodes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ItemNode" }
          },
          "totalCount": { "type": "integer" }
        }
      },
      "ItemsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "items": { "$ref": "#/components/schemas/ItemConnector" }
            }
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GraphQLError" }
          }
        }
      },
      "InvoiceNode": {
        "type": "object",
        "description": "An outbound shipment invoice.",
        "properties": {
          "__typename": { "type": "string", "example": "InvoiceNode" },
          "id": { "type": "string" },
          "invoiceNumber": { "type": "integer" }
        }
      },
      "GraphQLTypedError": {
        "type": "object",
        "description": "A typed mutation error payload returned in place of a success node.",
        "properties": {
          "__typename": { "type": "string" },
          "error": {
            "type": "object",
            "properties": {
              "__typename": { "type": "string" },
              "description": { "type": "string" },
              "fullError": { "type": "string", "nullable": true },
              "key": { "type": "string", "nullable": true }
            }
          }
        }
      },
      "InsertOutboundShipmentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "insertOutboundShipment": {
                "oneOf": [
                  { "$ref": "#/components/schemas/InvoiceNode" },
                  { "$ref": "#/components/schemas/GraphQLTypedError" }
                ]
              }
            }
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GraphQLError" }
          }
        }
      },
      "BatchMutationResult": {
        "type": "object",
        "description": "Result entry for a single item within a batch outbound-shipment mutation.",
        "properties": {
          "id": { "type": "string" },
          "response": {
            "type": "object",
            "additionalProperties": true,
            "description": "The per-item response node (a success node such as InvoiceLineNode/DeleteResponse, or a typed error)."
          }
        }
      },
      "BatchOutboundShipmentResult": {
        "type": "object",
        "description": "Outcome of a batchOutboundShipment mutation. Each array holds the results of the corresponding sub-operation.",
        "properties": {
          "__typename": { "type": "string", "example": "BatchOutboundShipmentResponse" },
          "insertOutboundShipments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "updateOutboundShipments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "deleteOutboundShipments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "insertOutboundShipmentLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "updateOutboundShipmentLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "deleteOutboundShipmentLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "insertOutboundShipmentServiceLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "updateOutboundShipmentServiceLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "deleteOutboundShipmentServiceLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "insertOutboundShipmentUnallocatedLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "updateOutboundShipmentUnallocatedLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "deleteOutboundShipmentUnallocatedLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          },
          "allocateOutboundShipmentUnallocatedLines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BatchMutationResult" }
          }
        }
      },
      "BatchOutboundShipmentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "batchOutboundShipment": { "$ref": "#/components/schemas/BatchOutboundShipmentResult" }
            }
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GraphQLError" }
          }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
