{
  "openapi": "3.0.3",
  "info": {
    "title": "SatuSehat Platform FHIR R4 API",
    "version": "1.0.0",
    "description": "Focused OpenAPI description of the Indonesian Ministry of Health (Kementerian Kesehatan) SatuSehat Platform FHIR R4 API, covering the endpoints exercised by the OpenFn satusehat adaptor. The adaptor exposes generic get/post/put/patch HTTP verbs against FHIR R4 resources under the /fhir-r4/v1 base path, plus the OAuth2 client_credentials token endpoint used for authentication. This spec models a representative subset of FHIR R4 resources (Patient, Encounter, Observation, Condition, Organization, Location) with read/search/create/update operations. FHIR resource shapes are simplified subsets, not the full R4 StructureDefinitions.",
    "x-openfn-adaptor": "satusehat"
  },
  "servers": [
    { "url": "https://api-satusehat.kemkes.go.id", "description": "Production" },
    { "url": "https://api-satusehat-stg.dto.kemkes.go.id", "description": "Sandbox / staging" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Auth", "description": "OAuth2 token acquisition" },
    { "name": "Patient" },
    { "name": "Encounter" },
    { "name": "Observation" },
    { "name": "Condition" },
    { "name": "Organization" },
    { "name": "Location" }
  ],
  "paths": {
    "/oauth2/v1/accesstoken": {
      "post": {
        "operationId": "getAccessToken",
        "tags": ["Auth"],
        "summary": "Obtain an OAuth2 access token (client_credentials grant)",
        "description": "Server-to-server authentication using client_id and client_secret. The returned access_token is used as a Bearer token on all FHIR requests.",
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["client_credentials"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["client_id", "client_secret"],
                "properties": {
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenResponse" }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Patient/{id}": {
      "get": {
        "operationId": "readPatient",
        "tags": ["Patient"],
        "summary": "Read a Patient by IHS id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Patient resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Patient" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      },
      "put": {
        "operationId": "updatePatient",
        "tags": ["Patient"],
        "summary": "Update a Patient",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": { "$ref": "#/components/requestBodies/Patient" },
        "responses": {
          "200": {
            "description": "Updated Patient",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Patient" } } }
          },
          "400": { "$ref": "#/components/responses/OperationOutcome" }
        }
      }
    },
    "/fhir-r4/v1/Patient": {
      "get": {
        "operationId": "searchPatient",
        "tags": ["Patient"],
        "summary": "Search Patients (e.g. by identifier/NIK)",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "description": "Token search, e.g. https://fhir.kemkes.go.id/id/nik|9271060312000001",
            "schema": { "type": "string" }
          },
          { "name": "name", "in": "query", "schema": { "type": "string" } },
          { "name": "_count", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Bundle of Patients",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bundle" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Encounter/{id}": {
      "get": {
        "operationId": "readEncounter",
        "tags": ["Encounter"],
        "summary": "Read an Encounter by id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Encounter resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Encounter" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      },
      "put": {
        "operationId": "updateEncounter",
        "tags": ["Encounter"],
        "summary": "Update an Encounter",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": { "$ref": "#/components/requestBodies/Encounter" },
        "responses": {
          "200": {
            "description": "Updated Encounter",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Encounter" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Encounter": {
      "get": {
        "operationId": "searchEncounter",
        "tags": ["Encounter"],
        "summary": "Search Encounters (e.g. by subject)",
        "parameters": [
          { "name": "subject", "in": "query", "schema": { "type": "string" } },
          { "name": "date", "in": "query", "schema": { "type": "string" } },
          { "name": "_count", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Bundle of Encounters",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bundle" } } }
          }
        }
      },
      "post": {
        "operationId": "createEncounter",
        "tags": ["Encounter"],
        "summary": "Create an Encounter",
        "requestBody": { "$ref": "#/components/requestBodies/Encounter" },
        "responses": {
          "201": {
            "description": "Created Encounter",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Encounter" } } }
          },
          "400": { "$ref": "#/components/responses/OperationOutcome" }
        }
      }
    },
    "/fhir-r4/v1/Observation/{id}": {
      "get": {
        "operationId": "readObservation",
        "tags": ["Observation"],
        "summary": "Read an Observation by id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Observation resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Observation" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      }
    },
    "/fhir-r4/v1/Observation": {
      "get": {
        "operationId": "searchObservation",
        "tags": ["Observation"],
        "summary": "Search Observations",
        "parameters": [
          { "name": "subject", "in": "query", "schema": { "type": "string" } },
          { "name": "encounter", "in": "query", "schema": { "type": "string" } },
          { "name": "code", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Bundle of Observations",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bundle" } } }
          }
        }
      },
      "post": {
        "operationId": "createObservation",
        "tags": ["Observation"],
        "summary": "Create an Observation",
        "requestBody": { "$ref": "#/components/requestBodies/Observation" },
        "responses": {
          "201": {
            "description": "Created Observation",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Observation" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Condition/{id}": {
      "get": {
        "operationId": "readCondition",
        "tags": ["Condition"],
        "summary": "Read a Condition by id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Condition resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Condition" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      }
    },
    "/fhir-r4/v1/Condition": {
      "post": {
        "operationId": "createCondition",
        "tags": ["Condition"],
        "summary": "Create a Condition",
        "requestBody": { "$ref": "#/components/requestBodies/Condition" },
        "responses": {
          "201": {
            "description": "Created Condition",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Condition" } } }
          }
        }
      },
      "get": {
        "operationId": "searchCondition",
        "tags": ["Condition"],
        "summary": "Search Conditions",
        "parameters": [
          { "name": "subject", "in": "query", "schema": { "type": "string" } },
          { "name": "encounter", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Bundle of Conditions",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bundle" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Organization/{id}": {
      "get": {
        "operationId": "readOrganization",
        "tags": ["Organization"],
        "summary": "Read an Organization by id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Organization resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      },
      "put": {
        "operationId": "updateOrganization",
        "tags": ["Organization"],
        "summary": "Update an Organization",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": { "$ref": "#/components/requestBodies/Organization" },
        "responses": {
          "200": {
            "description": "Updated Organization",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Organization": {
      "post": {
        "operationId": "createOrganization",
        "tags": ["Organization"],
        "summary": "Create an Organization",
        "requestBody": { "$ref": "#/components/requestBodies/Organization" },
        "responses": {
          "201": {
            "description": "Created Organization",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
          }
        }
      },
      "get": {
        "operationId": "searchOrganization",
        "tags": ["Organization"],
        "summary": "Search Organizations",
        "parameters": [
          { "name": "name", "in": "query", "schema": { "type": "string" } },
          { "name": "partof", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Bundle of Organizations",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bundle" } } }
          }
        }
      }
    },
    "/fhir-r4/v1/Location/{id}": {
      "get": {
        "operationId": "readLocation",
        "tags": ["Location"],
        "summary": "Read a Location by id",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": {
          "200": {
            "description": "Location resource",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Location" } } }
          },
          "404": { "$ref": "#/components/responses/OperationOutcome" }
        }
      }
    },
    "/fhir-r4/v1/Location": {
      "post": {
        "operationId": "createLocation",
        "tags": ["Location"],
        "summary": "Create a Location",
        "requestBody": { "$ref": "#/components/requestBodies/Location" },
        "responses": {
          "201": {
            "description": "Created Location",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Location" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "FHIR logical id (IHS number for onboarded resources)",
        "schema": { "type": "string" }
      }
    },
    "requestBodies": {
      "Patient": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Patient" } } }
      },
      "Encounter": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Encounter" } } }
      },
      "Observation": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Observation" } } }
      },
      "Condition": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Condition" } } }
      },
      "Organization": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } } }
      },
      "Location": {
        "required": true,
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Location" } } }
      }
    },
    "responses": {
      "OperationOutcome": {
        "description": "FHIR OperationOutcome error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OperationOutcome" } } }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "token_type": { "type": "string", "example": "BearerToken" },
          "expires_in": { "type": "string", "example": "3599" },
          "scope": { "type": "string" },
          "issued_at": { "type": "string" },
          "client_id": { "type": "string" }
        }
      },
      "Coding": {
        "type": "object",
        "properties": {
          "system": { "type": "string" },
          "code": { "type": "string" },
          "display": { "type": "string" }
        }
      },
      "CodeableConcept": {
        "type": "object",
        "properties": {
          "coding": { "type": "array", "items": { "$ref": "#/components/schemas/Coding" } },
          "text": { "type": "string" }
        }
      },
      "Identifier": {
        "type": "object",
        "properties": {
          "use": { "type": "string" },
          "system": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "reference": { "type": "string", "example": "Patient/100000030009" },
          "type": { "type": "string" },
          "display": { "type": "string" }
        }
      },
      "HumanName": {
        "type": "object",
        "properties": {
          "use": { "type": "string" },
          "text": { "type": "string" },
          "family": { "type": "string" },
          "given": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Period": {
        "type": "object",
        "properties": {
          "start": { "type": "string", "format": "date-time" },
          "end": { "type": "string", "format": "date-time" }
        }
      },
      "Quantity": {
        "type": "object",
        "properties": {
          "value": { "type": "number" },
          "unit": { "type": "string" },
          "system": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "Patient": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Patient"] },
          "id": { "type": "string" },
          "identifier": { "type": "array", "items": { "$ref": "#/components/schemas/Identifier" } },
          "active": { "type": "boolean" },
          "name": { "type": "array", "items": { "$ref": "#/components/schemas/HumanName" } },
          "gender": { "type": "string", "enum": ["male", "female", "other", "unknown"] },
          "birthDate": { "type": "string", "format": "date" },
          "address": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "use": { "type": "string" },
                "line": { "type": "array", "items": { "type": "string" } },
                "city": { "type": "string" },
                "postalCode": { "type": "string" },
                "country": { "type": "string" }
              }
            }
          }
        }
      },
      "Encounter": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Encounter"] },
          "id": { "type": "string" },
          "identifier": { "type": "array", "items": { "$ref": "#/components/schemas/Identifier" } },
          "status": { "type": "string", "enum": ["planned", "arrived", "in-progress", "finished", "cancelled"] },
          "class": { "$ref": "#/components/schemas/Coding" },
          "subject": { "$ref": "#/components/schemas/Reference" },
          "participant": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "array", "items": { "$ref": "#/components/schemas/CodeableConcept" } },
                "individual": { "$ref": "#/components/schemas/Reference" }
              }
            }
          },
          "period": { "$ref": "#/components/schemas/Period" },
          "serviceProvider": { "$ref": "#/components/schemas/Reference" }
        }
      },
      "Observation": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Observation"] },
          "id": { "type": "string" },
          "status": { "type": "string", "enum": ["registered", "preliminary", "final", "amended"] },
          "category": { "type": "array", "items": { "$ref": "#/components/schemas/CodeableConcept" } },
          "code": { "$ref": "#/components/schemas/CodeableConcept" },
          "subject": { "$ref": "#/components/schemas/Reference" },
          "encounter": { "$ref": "#/components/schemas/Reference" },
          "effectiveDateTime": { "type": "string", "format": "date-time" },
          "valueQuantity": { "$ref": "#/components/schemas/Quantity" },
          "valueString": { "type": "string" }
        }
      },
      "Condition": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Condition"] },
          "id": { "type": "string" },
          "clinicalStatus": { "$ref": "#/components/schemas/CodeableConcept" },
          "category": { "type": "array", "items": { "$ref": "#/components/schemas/CodeableConcept" } },
          "code": { "$ref": "#/components/schemas/CodeableConcept" },
          "subject": { "$ref": "#/components/schemas/Reference" },
          "encounter": { "$ref": "#/components/schemas/Reference" },
          "recordedDate": { "type": "string", "format": "date-time" }
        }
      },
      "Organization": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Organization"] },
          "id": { "type": "string" },
          "identifier": { "type": "array", "items": { "$ref": "#/components/schemas/Identifier" } },
          "active": { "type": "boolean" },
          "type": { "type": "array", "items": { "$ref": "#/components/schemas/CodeableConcept" } },
          "name": { "type": "string" },
          "partOf": { "$ref": "#/components/schemas/Reference" }
        }
      },
      "Location": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Location"] },
          "id": { "type": "string" },
          "identifier": { "type": "array", "items": { "$ref": "#/components/schemas/Identifier" } },
          "status": { "type": "string", "enum": ["active", "suspended", "inactive"] },
          "name": { "type": "string" },
          "physicalType": { "$ref": "#/components/schemas/CodeableConcept" },
          "managingOrganization": { "$ref": "#/components/schemas/Reference" }
        }
      },
      "Bundle": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["Bundle"] },
          "type": { "type": "string", "example": "searchset" },
          "total": { "type": "integer" },
          "link": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relation": { "type": "string" },
                "url": { "type": "string" }
              }
            }
          },
          "entry": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fullUrl": { "type": "string" },
                "resource": { "type": "object" },
                "search": {
                  "type": "object",
                  "properties": { "mode": { "type": "string" } }
                }
              }
            }
          }
        }
      },
      "OperationOutcome": {
        "type": "object",
        "required": ["resourceType"],
        "properties": {
          "resourceType": { "type": "string", "enum": ["OperationOutcome"] },
          "issue": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": { "type": "string", "enum": ["fatal", "error", "warning", "information"] },
                "code": { "type": "string" },
                "diagnostics": { "type": "string" },
                "details": { "$ref": "#/components/schemas/CodeableConcept" }
              }
            }
          }
        }
      }
    }
  }
}
