{
  "openapi": "3.0.3",
  "info": {
    "title": "Wigal Frog SMS API",
    "version": "3.0.0",
    "description": "OpenAPI description of the Wigal Frog messaging API (SMS, OTP, account balance and delivery history), authored from the vendor documentation at https://frogdocs.wigal.com.gh. Covers the endpoints used by the @openfn/language-wigal-sms adaptor and closely related messaging operations. All requests authenticate via the API-KEY and USERNAME headers.",
    "x-openfn-adaptor": "wigal-sms"
  },
  "servers": [
    {
      "url": "https://frogapi.wigal.com.gh",
      "description": "Wigal Frog production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "API-KEY"
      },
      "Username": {
        "type": "apiKey",
        "in": "header",
        "name": "USERNAME"
      }
    },
    "schemas": {
      "SmsDestination": {
        "type": "object",
        "description": "A single SMS recipient. When sending personalized messages, per-destination message, msgid and smstype may be supplied.",
        "required": ["destination"],
        "properties": {
          "destination": {
            "type": "string",
            "description": "Recipient phone number.",
            "example": "0552825710"
          },
          "message": {
            "type": "string",
            "description": "Per-destination message content (personalized send).",
            "example": "Hello Joe your order is ready"
          },
          "msgid": {
            "type": "string",
            "description": "Client-supplied message identifier.",
            "example": "MGS1010101"
          },
          "smstype": {
            "type": "string",
            "description": "Message type for this destination.",
            "example": "text"
          }
        }
      },
      "SendSmsRequest": {
        "type": "object",
        "required": ["senderid", "destinations"],
        "properties": {
          "senderid": {
            "type": "string",
            "description": "Approved sender identifier.",
            "example": "Stevkky"
          },
          "destinations": {
            "type": "array",
            "description": "Array of destination objects.",
            "items": { "$ref": "#/components/schemas/SmsDestination" }
          },
          "message": {
            "type": "string",
            "description": "Message body applied to all destinations (general send).",
            "example": "This is a sample message for SMS sending via Wigal FROG API."
          },
          "smstype": {
            "type": "string",
            "description": "Type of message to send.",
            "default": "text",
            "example": "text"
          }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Result status code.",
            "example": "ACCEPTD"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result message.",
            "example": "Message Accepted For Processing"
          }
        }
      },
      "GenerateOtpRequest": {
        "type": "object",
        "required": ["number", "senderid", "messagetemplate"],
        "properties": {
          "number": {
            "type": "string",
            "description": "Recipient phone number.",
            "example": "0276128936"
          },
          "expiry": {
            "type": "integer",
            "description": "Minutes before the OTP expires.",
            "example": 5
          },
          "length": {
            "type": "integer",
            "description": "Length of the generated OTP code.",
            "example": 6
          },
          "messagetemplate": {
            "type": "string",
            "description": "Message template. Must contain the %OTPCODE% placeholder; other placeholders include %EXPIRY%, %SERVICE%, %LENGTH%, %TYPE%.",
            "example": "Your code is %OTPCODE%. It expires in %EXPIRY% minutes."
          },
          "type": {
            "type": "string",
            "description": "OTP character set.",
            "enum": ["NUMERIC", "ALPHA", "ALPHANUMERIC"],
            "example": "NUMERIC"
          },
          "senderid": {
            "type": "string",
            "description": "Approved sender identifier.",
            "example": "Stevkky"
          }
        }
      },
      "OtpResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Result status code.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result message.",
            "example": "OTP processed for delivery"
          }
        }
      },
      "VerifyOtpRequest": {
        "type": "object",
        "required": ["otpcode", "number"],
        "properties": {
          "otpcode": {
            "type": "string",
            "description": "The OTP code entered by the user.",
            "example": "8a2b3"
          },
          "number": {
            "type": "string",
            "description": "Phone number the OTP was sent to.",
            "example": "0276128936"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "SUCCESS" },
          "message": { "type": "string", "example": "SUCCESS" },
          "data": {
            "type": "object",
            "properties": {
              "paidcashbalance": { "type": "number", "example": 0 },
              "cashbalance": { "type": "number", "example": 677.56 },
              "bundles": {
                "type": "object",
                "additionalProperties": { "type": "number" },
                "example": {
                  "VOICE": 15,
                  "KYCVERIFY": 12,
                  "SIMACTIVE": 123,
                  "SMS": 82,
                  "USSD": 100
                }
              },
              "invoicesummary": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "invoicetype": { "type": "string", "example": "TOPUP" },
                    "count": { "type": "integer", "example": 2 },
                    "totalamount": { "type": "number", "example": 2 }
                  }
                }
              },
              "activebundleinvoices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer", "example": 387 },
                    "description": { "type": "string", "example": "Mashup Bundle dash" },
                    "enddate": { "type": "string", "example": "2024-08-30" },
                    "invoicetype": { "type": "string", "example": "BUNDLE" },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "service": { "type": "string", "example": "KYCVERIFY" },
                          "quantity": { "type": "integer", "example": 12 },
                          "used": { "type": "integer", "example": 0 }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "HistoryRequest": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "description": "Service type (SMS, USSD, VOICE, etc).",
            "example": "SMS"
          },
          "servicetype": {
            "type": "string",
            "description": "TEXT, FLASH, CALL, RECORD, IVR, etc.",
            "example": "TEXT"
          },
          "datefrom": {
            "type": "string",
            "description": "Start date (max 3-month range).",
            "example": "2024-06-01"
          },
          "dateto": {
            "type": "string",
            "description": "End date (max 3-month range).",
            "example": "2024-06-30"
          },
          "senderid": {
            "type": "string",
            "description": "Approved sender identifier.",
            "example": "Stevkky"
          },
          "status": {
            "type": "string",
            "description": "Filter by delivery status (DELIVRD, FAILED, etc).",
            "example": "DELIVRD"
          },
          "msgid": {
            "type": "string",
            "description": "Message ID filter.",
            "example": "MGS1010101"
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "SUCCESS" },
          "message": { "type": "string", "example": "Success" },
          "data": {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "apimessageid": { "type": "string", "example": "MGS1010101" },
                    "status": { "type": "string", "example": "DELIVRD" },
                    "recipient": { "type": "string", "example": "233542709210" },
                    "statusdate": { "type": "string", "example": "2024-06-26T13:06:14.087856" },
                    "charge": { "type": "number", "example": 0.03 },
                    "service": { "type": "string", "example": "SMS" },
                    "servicetype": { "type": "string", "example": "TEXT" }
                  }
                }
              },
              "totalElements": { "type": "integer", "example": 3 },
              "totalPages": { "type": "integer", "example": 1 }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ERROR" },
          "message": { "type": "string", "example": "Internal server error" }
        }
      }
    }
  },
  "security": [
    { "ApiKey": [], "Username": [] }
  ],
  "paths": {
    "/api/v3/sms/send": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS (general or personalized)",
        "description": "Send an SMS message to one or more destinations. Provide a top-level message for a general broadcast, or per-destination message fields for personalized sends. This is the endpoint used by the adaptor's sendSms operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendSmsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted for processing.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendSmsResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Sender ID not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/sms/otp/generate": {
      "post": {
        "operationId": "generateOtp",
        "summary": "Generate and send an OTP",
        "description": "Generate a one-time password and deliver it to the recipient via SMS using the supplied message template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GenerateOtpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP processed for delivery.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OtpResponse" }
              }
            }
          },
          "402": {
            "description": "Insufficient balance.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g. missing %OTPCODE% placeholder).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/sms/otp/verify": {
      "post": {
        "operationId": "verifyOtp",
        "summary": "Verify an OTP",
        "description": "Verify a one-time password previously generated for a phone number.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyOtpRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OtpResponse" }
              }
            }
          },
          "404": {
            "description": "Invalid OTP code.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "408": {
            "description": "OTP code has expired.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "summary": "Get account balance",
        "description": "Retrieve the account cash balance, service bundles, invoice summary and active bundle invoices.",
        "responses": {
          "200": {
            "description": "Account balance details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BalanceResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/sms/history": {
      "post": {
        "operationId": "getSmsHistory",
        "summary": "Get message history / delivery status",
        "description": "Query message delivery history with optional filters over a date range of up to 3 months.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HistoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated message history.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistoryResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  }
}
