{
  "openapi": "3.0.3",
  "info": {
    "title": "Ghana NIA AWOPA Baby Registration API",
    "version": "1.0.0",
    "description": "Focused API surface used by the OpenFn ghana-nia adaptor. The adaptor registers newborns with the Ghana National Identification Authority (NIA) AWOPA baby-registration service to obtain a Ghana Card PIN (national ID), and also supports generic GET/POST passthrough requests. Synthesized from the adaptor surface (ast.json, types) and the mock client bundled with @openfn/language-ghana-nia.",
    "x-openfn-adaptor": "ghana-nia"
  },
  "servers": [{ "url": "https://selfie.imsgh.org:2035" }],
  "paths": {
    "/awopa/api/v1/baby/registration": {
      "post": {
        "operationId": "registerChild",
        "summary": "Register a child and generate a national ID",
        "description": "Submits baby data plus a vouching relative's details to the NIA and returns the generated Ghana Card PIN for the baby and the voucher.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BabyRegistrationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration saved; national ID PINs returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NationalIdResponse" }
              }
            }
          },
          "404": {
            "description": "Verification / registration error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/awopa/api/v1/{resource}": {
      "get": {
        "operationId": "get",
        "summary": "Generic GET request",
        "description": "Generic passthrough GET request against any resource path on the NIA API.",
        "parameters": [
          { "name": "resource", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Resource path segment" }
        ],
        "responses": {
          "200": {
            "description": "Resource payload",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BabyRegistrationRequest": {
        "type": "object",
        "description": "Payload posted to register a newborn with the NIA.",
        "properties": {
          "babyData": { "$ref": "#/components/schemas/BabyData" },
          "personVouching": { "$ref": "#/components/schemas/PersonVouching" }
        },
        "required": ["babyData", "personVouching"]
      },
      "BabyData": {
        "type": "object",
        "properties": {
          "dateOfBirth": { "type": "string", "example": "2024-03-05" },
          "fatherName": { "type": "string", "example": "Nyarkoa Osei-Akoto" },
          "forenames": { "type": "string", "example": "Kharis" },
          "gender": { "type": "string", "example": "Female" },
          "lightwaveETrackerID": { "type": "string", "example": "00313180/24-03" },
          "motherName": { "type": "string", "example": "Gifty Osei-Akoto" },
          "noSiblingsInDelivery": { "type": "string", "example": "0" },
          "placeOfBirth": { "type": "string", "example": "New Market Health Centre" },
          "surname": { "type": "string", "example": "Osei" },
          "timeOfbirth": { "type": "string", "example": "09:34" },
          "weightAtBirth": { "type": "string", "example": "2.7" },
          "birthCertificateNumber": { "type": "string", "example": "011803-48-2024" },
          "babyPicture": { "type": "string", "description": "Base64 encoded image", "example": "...base64 encoded image goes here..." }
        }
      },
      "PersonVouching": {
        "type": "object",
        "properties": {
          "etrackerLightwaveID": { "type": "string", "example": "00313180/24-03" },
          "ghanaCardPIN": { "type": "string", "example": "GHA-001097272-4" },
          "relationToBaby": { "type": "string", "example": "Mother" },
          "relativePhone": { "type": "string", "example": "0248403076" },
          "relativePicture": { "type": "string", "description": "Base64 encoded image", "example": "...base64 encoded image goes here..." }
        }
      },
      "NationalIdResponse": {
        "type": "object",
        "description": "Successful registration response with generated national ID PINs.",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "babyPin": { "type": "string", "example": "GHA-000000000-1" },
              "voucherPin": { "type": "string", "example": "GHA-000000000-4" },
              "etrackerLightwaveId": { "type": "string", "example": "00000000/24-03" },
              "lightwaveEtrackerId": { "type": "string", "nullable": true, "example": null }
            }
          },
          "success": { "type": "boolean", "example": true },
          "code": { "type": "string", "example": "00" },
          "msg": { "type": "string", "example": "Saved Successfully" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "code": { "type": "string", "example": "05" },
          "data": { "type": "object", "nullable": true, "example": null },
          "msg": { "type": "string", "example": "Error in Verifiation Process" }
        }
      }
    }
  }
}
