{
  "openapi": "3.0.3",
  "info": {
    "title": "Flutterwave v4 API (OpenFn flutterwave subset)",
    "version": "4.0.0",
    "description": "Focused OpenAPI model of the Flutterwave v4 (Flutterwave for Business) API endpoints the OpenFn flutterwave adaptor calls: createCustomer (POST /customers), createPaymentMethod (POST /payment-methods) and initiatePayment (POST /charges). Read/list operations are included so the resources seed as collections. Requests are authenticated with a Bearer secret key; responses follow the v4 envelope { status, message, data }.",
    "x-openfn-adaptor": "flutterwave"
  },
  "servers": [
    { "url": "https://api.flutterwave.cloud/developersandbox", "description": "Sandbox" },
    { "url": "https://api.flutterwave.cloud/f4bexternal", "description": "Production" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Flutterwave customer id, e.g. cus_xxx" },
          "email": { "type": "string", "format": "email" },
          "name": {
            "type": "object",
            "properties": {
              "first": { "type": "string" },
              "middle": { "type": "string" },
              "last": { "type": "string" }
            }
          },
          "phone": {
            "type": "object",
            "properties": {
              "country_code": { "type": "string" },
              "number": { "type": "string" }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": { "type": "string" },
              "line2": { "type": "string" },
              "city": { "type": "string" },
              "state": { "type": "string" },
              "postal_code": { "type": "string" },
              "country": { "type": "string" }
            }
          },
          "meta": { "type": "object", "additionalProperties": true },
          "created_datetime": { "type": "string", "format": "date-time" }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Payment method id, e.g. pmd_xxx" },
          "type": { "type": "string", "enum": ["card", "bank_transfer", "mobile_money", "ussd", "google_pay", "apple_pay"] },
          "customer_id": { "type": "string" },
          "card": {
            "type": "object",
            "properties": {
              "nickname": { "type": "string" },
              "first6": { "type": "string" },
              "last4": { "type": "string" },
              "expiry_month": { "type": "integer" },
              "expiry_year": { "type": "integer" },
              "card_holder_name": { "type": "string" }
            }
          },
          "mobile_money": {
            "type": "object",
            "properties": {
              "network": { "type": "string" },
              "country_code": { "type": "string" },
              "phone_number": { "type": "string" }
            }
          },
          "meta": { "type": "object", "additionalProperties": true },
          "created_datetime": { "type": "string", "format": "date-time" }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Charge id, e.g. chg_xxx" },
          "amount": { "type": "number" },
          "currency": { "type": "string", "example": "NGN" },
          "customer_id": { "type": "string" },
          "payment_method_id": { "type": "string" },
          "reference": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "requires_action", "succeeded", "failed"] },
          "processor_response": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "code": { "type": "string" }
            }
          },
          "next_action": { "type": "object", "additionalProperties": true },
          "redirect_url": { "type": "string", "format": "uri" },
          "meta": { "type": "object", "additionalProperties": true },
          "created_datetime": { "type": "string", "format": "date-time" }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Customer" }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Customer" } }
        }
      },
      "PaymentMethodResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/PaymentMethod" }
        }
      },
      "PaymentMethodListResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PaymentMethod" } }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Charge" }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Charge" } }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } }
        },
        "responses": {
          "201": { "description": "Customer created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomerResponse" } } } }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "size", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Customer list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomerListResponse" } } } }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve a customer",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Customer", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomerResponse" } } } }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } },
        "responses": {
          "200": { "description": "Customer updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomerResponse" } } } }
        }
      }
    },
    "/payment-methods": {
      "post": {
        "operationId": "createPaymentMethod",
        "summary": "Create a payment method",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentMethod" } } }
        },
        "responses": {
          "201": { "description": "Payment method created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentMethodResponse" } } } }
        }
      },
      "get": {
        "operationId": "listPaymentMethods",
        "summary": "List payment methods",
        "responses": {
          "200": { "description": "Payment method list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentMethodListResponse" } } } }
        }
      }
    },
    "/payment-methods/{id}": {
      "get": {
        "operationId": "getPaymentMethod",
        "summary": "Retrieve a payment method",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Payment method", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentMethodResponse" } } } }
        }
      }
    },
    "/charges": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Create a charge (initiate payment)",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Charge" } } }
        },
        "responses": {
          "201": { "description": "Charge created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChargeResponse" } } } }
        }
      },
      "get": {
        "operationId": "listCharges",
        "summary": "List charges",
        "responses": {
          "200": { "description": "Charge list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChargeListResponse" } } } }
        }
      }
    },
    "/charges/{id}": {
      "get": {
        "operationId": "getCharge",
        "summary": "Retrieve a charge",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Charge", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChargeResponse" } } } }
        }
      }
    }
  }
}
