{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoho Reports / Analytics Data API (v1)",
    "version": "1.0.0",
    "description": "Focused OpenAPI description of the Zoho Reports (now Zoho Analytics) v1 Data API as used by the OpenFn `@openfn/language-zoho` adaptor.\n\nIMPORTANT: Despite the adaptor name, this adaptor does NOT target the Zoho CRM REST API. Inspection of the published package (`dist/index.cjs`) shows the only real operation, `addRow`, issues `POST https://reportsapi.zoho.com/api/{account}/{db}/{table}` with the query parameter `ZOHO_ACTION=ADDROW` (plus `ZOHO_OUTPUT_FORMAT=JSON`, `ZOHO_ERROR_FORMAT=JSON`, `authtoken` and `ZOHO_API_VERSION`) and a form-encoded body of column values. This spec therefore models the Zoho Reports/Analytics v1 Data API family that shares that endpoint pattern.\n\nThe Data API is action-driven: the operation performed is selected by the `ZOHO_ACTION` query parameter rather than by HTTP method or path. Responses are wrapped in a top-level `response` envelope.",
    "x-openfn-adaptor": "zoho"
  },
  "servers": [
    {
      "url": "https://reportsapi.zoho.com/api",
      "description": "Zoho Reports / Analytics v1 API (legacy endpoint used by the adaptor). US datacenter; other DCs use reportsapi.zoho.eu, reportsapi.zoho.in, etc."
    }
  ],
  "paths": {
    "/{account}/{db}/{table}": {
      "parameters": [
        { "$ref": "#/components/parameters/Account" },
        { "$ref": "#/components/parameters/Db" },
        { "$ref": "#/components/parameters/Table" }
      ],
      "post": {
        "operationId": "addRow",
        "summary": "Add a row to a table (ZOHO_ACTION=ADDROW)",
        "description": "Adds a single row of data to the given Zoho Reports table. This is the operation invoked by the adaptor's `addRow(db, table, rowData)` function. The same endpoint and HTTP method are reused by Zoho for other write actions by changing the `ZOHO_ACTION` value (DELETE, UPDATE, IMPORT); the enum on the `ZOHO_ACTION` parameter documents those siblings.",
        "parameters": [
          {
            "name": "ZOHO_ACTION",
            "in": "query",
            "required": true,
            "description": "Action to perform against the table.",
            "schema": {
              "type": "string",
              "default": "ADDROW",
              "enum": ["ADDROW", "DELETE", "UPDATE", "IMPORT"]
            }
          },
          { "$ref": "#/components/parameters/OutputFormat" },
          { "$ref": "#/components/parameters/ErrorFormat" },
          { "$ref": "#/components/parameters/ApiVersion" },
          { "$ref": "#/components/parameters/AuthToken" }
        ],
        "requestBody": {
          "required": true,
          "description": "Form-encoded map of column name to value for the row being added.",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/Row" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row added. Returns the affected row(s) in the response envelope.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActionResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request / action error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "exportData",
        "summary": "Export a table or report (ZOHO_ACTION=EXPORT)",
        "description": "Exports the data of a table or report. When `ZOHO_OUTPUT_FORMAT=JSON` the row data is returned inside the response envelope.",
        "parameters": [
          {
            "name": "ZOHO_ACTION",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "default": "EXPORT", "enum": ["EXPORT"] }
          },
          { "$ref": "#/components/parameters/OutputFormat" },
          { "$ref": "#/components/parameters/ErrorFormat" },
          { "$ref": "#/components/parameters/ApiVersion" },
          { "$ref": "#/components/parameters/AuthToken" }
        ],
        "responses": {
          "200": {
            "description": "Exported data.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActionResponse" }
              }
            }
          }
        }
      }
    },
    "/{account}/{db}": {
      "parameters": [
        { "$ref": "#/components/parameters/Account" },
        { "$ref": "#/components/parameters/Db" }
      ],
      "post": {
        "operationId": "createTable",
        "summary": "Create a table in a workspace (ZOHO_ACTION=CREATETABLE)",
        "description": "Creates a new table (view) in the given workspace/database using a JSON table design supplied in the request body.",
        "parameters": [
          {
            "name": "ZOHO_ACTION",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "default": "CREATETABLE", "enum": ["CREATETABLE"] }
          },
          { "$ref": "#/components/parameters/OutputFormat" },
          { "$ref": "#/components/parameters/ErrorFormat" },
          { "$ref": "#/components/parameters/ApiVersion" },
          { "$ref": "#/components/parameters/AuthToken" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ZOHO_TABLE_DESIGN": {
                    "type": "string",
                    "description": "JSON string describing the table design (name and columns)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkspaceMetadataResponse" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getWorkspaceMetadata",
        "summary": "Get workspace/table metadata (ZOHO_ACTION=DATABASEMETADATA)",
        "description": "Fetches metadata (tables, columns) for the given workspace/database.",
        "parameters": [
          {
            "name": "ZOHO_ACTION",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DATABASEMETADATA",
              "enum": ["DATABASEMETADATA", "VIEWINFO"]
            }
          },
          {
            "name": "ZOHO_METADATA",
            "in": "query",
            "required": false,
            "description": "Metadata level requested, e.g. ZOHO_CATALOG_LIST or ZOHO_CATALOG_INFO.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/OutputFormat" },
          { "$ref": "#/components/parameters/ErrorFormat" },
          { "$ref": "#/components/parameters/ApiVersion" },
          { "$ref": "#/components/parameters/AuthToken" }
        ],
        "responses": {
          "200": {
            "description": "Workspace metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkspaceMetadataResponse" }
              }
            }
          }
        }
      }
    },
    "/{account}": {
      "parameters": [
        { "$ref": "#/components/parameters/Account" }
      ],
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces owned by the user (ZOHO_ACTION=USERDATABASES)",
        "description": "Returns the list of workspaces/databases owned by the account user.",
        "parameters": [
          {
            "name": "ZOHO_ACTION",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "USERDATABASES",
              "enum": ["USERDATABASES", "GETDATABASENAME"]
            }
          },
          { "$ref": "#/components/parameters/OutputFormat" },
          { "$ref": "#/components/parameters/ErrorFormat" },
          { "$ref": "#/components/parameters/ApiVersion" },
          { "$ref": "#/components/parameters/AuthToken" }
        ],
        "responses": {
          "200": {
            "description": "List of workspaces.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkspaceListResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Account": {
        "name": "account",
        "in": "path",
        "required": true,
        "description": "Account owner email address (URL-encoded).",
        "schema": { "type": "string" }
      },
      "Db": {
        "name": "db",
        "in": "path",
        "required": true,
        "description": "Workspace / database name.",
        "schema": { "type": "string" }
      },
      "Table": {
        "name": "table",
        "in": "path",
        "required": true,
        "description": "Table (view) name.",
        "schema": { "type": "string" }
      },
      "OutputFormat": {
        "name": "ZOHO_OUTPUT_FORMAT",
        "in": "query",
        "required": false,
        "description": "Response format. The adaptor always sends JSON.",
        "schema": { "type": "string", "default": "JSON", "enum": ["JSON", "XML", "CSV", "PDF", "HTML", "IMAGE", "XLS"] }
      },
      "ErrorFormat": {
        "name": "ZOHO_ERROR_FORMAT",
        "in": "query",
        "required": false,
        "description": "Format for error responses. The adaptor sends JSON.",
        "schema": { "type": "string", "default": "JSON", "enum": ["JSON", "XML"] }
      },
      "ApiVersion": {
        "name": "ZOHO_API_VERSION",
        "in": "query",
        "required": false,
        "description": "API version. Reports v1 uses \"1.0\".",
        "schema": { "type": "string", "default": "1.0" }
      },
      "AuthToken": {
        "name": "authtoken",
        "in": "query",
        "required": true,
        "description": "Legacy Zoho auth token used by the adaptor for authentication.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Row": {
        "type": "object",
        "description": "A single table row expressed as a map of column name to value. Sent form-encoded.",
        "additionalProperties": { "type": "string" },
        "example": { "Subject": "New ticket", "Status": "Closed" }
      },
      "RowResult": {
        "type": "object",
        "description": "Row data payload returned inside a response result: column ordering plus row values.",
        "properties": {
          "column_order": {
            "type": "array",
            "items": { "type": "string" }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "array",
              "items": { "type": "string", "nullable": true }
            }
          }
        }
      },
      "ImportSummary": {
        "type": "object",
        "description": "Summary returned by import/write actions.",
        "properties": {
          "totalColumnCount": { "type": "integer" },
          "selectedColumnCount": { "type": "integer" },
          "totalRowCount": { "type": "integer" },
          "successRowCount": { "type": "integer" },
          "warnings": { "type": "integer" },
          "importOperation": { "type": "string" }
        }
      },
      "ActionResponse": {
        "type": "object",
        "description": "Standard Zoho Reports success envelope for data actions (ADDROW, UPDATE, DELETE, IMPORT, EXPORT).",
        "required": ["response"],
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "uri": { "type": "string" },
              "action": { "type": "string", "example": "ADDROW" },
              "result": {
                "description": "Action result. For ADDROW/EXPORT this is row data; for IMPORT it may carry an import summary.",
                "oneOf": [
                  { "$ref": "#/components/schemas/RowResult" },
                  { "$ref": "#/components/schemas/ImportSummary" },
                  { "type": "object", "additionalProperties": true }
                ]
              }
            }
          }
        }
      },
      "WorkspaceMetadataResponse": {
        "type": "object",
        "description": "Envelope returned by metadata / create-table actions.",
        "required": ["response"],
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "uri": { "type": "string" },
              "action": { "type": "string" },
              "result": {
                "type": "object",
                "additionalProperties": true,
                "description": "Metadata payload (tables, columns, table info)."
              }
            }
          }
        }
      },
      "WorkspaceListResponse": {
        "type": "object",
        "description": "Envelope listing the workspaces/databases owned by the user.",
        "required": ["response"],
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "uri": { "type": "string" },
              "action": { "type": "string", "example": "USERDATABASES" },
              "result": {
                "type": "object",
                "properties": {
                  "dbList": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Zoho Reports error envelope.",
        "required": ["response"],
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "uri": { "type": "string" },
              "error": {
                "type": "object",
                "properties": {
                  "code": { "type": "integer", "example": 7107 },
                  "message": { "type": "string" }
                }
              }
            }
          }
        }
      }
    }
  }
}
