{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Sheets API (mock subset)",
    "version": "v4",
    "description": "Focused subset of the Google Sheets API v4 used by the OpenFn googlesheets adaptor: spreadsheets.values.append (appendValues), spreadsheets.values.batchUpdate (batchUpdateValues), and spreadsheets.values.get (getValues), called via the googleapis SDK. Converted from the Sheets API v4 Discovery document, covering the spreadsheets.values resource.",
    "x-openfn-adaptor": "googlesheets"
  },
  "servers": [{ "url": "https://sheets.googleapis.com" }],
  "paths": {
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "get": {
        "operationId": "getValues",
        "summary": "Get values from a range",
        "description": "Returns a range of values from a spreadsheet.",
        "parameters": [
          { "name": "spreadsheetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "path", "required": true, "schema": { "type": "string" }, "description": "A1 notation, e.g. 'Sheet1!A1:D10'." },
          { "name": "majorDimension", "in": "query", "schema": { "type": "string", "enum": ["ROWS", "COLUMNS"], "default": "ROWS" } },
          { "name": "valueRenderOption", "in": "query", "schema": { "type": "string", "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"] } },
          { "name": "dateTimeRenderOption", "in": "query", "schema": { "type": "string", "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"] } }
        ],
        "responses": {
          "200": {
            "description": "The requested value range",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValueRange" }
              }
            }
          }
        }
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "post": {
        "operationId": "appendValues",
        "summary": "Append values to a range",
        "description": "Appends values after the last row of a table within a range.",
        "parameters": [
          { "name": "spreadsheetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "range", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "valueInputOption", "in": "query", "schema": { "type": "string", "enum": ["RAW", "USER_ENTERED"], "default": "USER_ENTERED" } },
          { "name": "insertDataOption", "in": "query", "schema": { "type": "string", "enum": ["OVERWRITE", "INSERT_ROWS"] } },
          { "name": "includeValuesInResponse", "in": "query", "schema": { "type": "boolean" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ValueRange" } }
          }
        },
        "responses": {
          "200": {
            "description": "The append result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AppendValuesResponse" }
              }
            }
          }
        }
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "post": {
        "operationId": "batchUpdateValues",
        "summary": "Batch update values",
        "description": "Sets values in one or more ranges of a spreadsheet.",
        "parameters": [
          { "name": "spreadsheetId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/BatchUpdateValuesRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "The batch update result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchUpdateValuesResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValueRange": {
        "type": "object",
        "description": "Data within a range of a spreadsheet.",
        "properties": {
          "range": { "type": "string", "example": "Sheet1!A1:D5" },
          "majorDimension": { "type": "string", "enum": ["ROWS", "COLUMNS"], "example": "ROWS" },
          "values": {
            "type": "array",
            "description": "A 2D array of cell values.",
            "items": {
              "type": "array",
              "items": {}
            },
            "example": [["Name", "Age"], ["Ama", "34"], ["Kwame", "42"]]
          }
        }
      },
      "AppendValuesResponse": {
        "type": "object",
        "description": "The response when appending values.",
        "properties": {
          "spreadsheetId": { "type": "string", "example": "1BxiMVs0XRA5nFMdKvBd_B4hhaZ" },
          "tableRange": { "type": "string", "example": "Sheet1!A1:D3" },
          "updates": { "$ref": "#/components/schemas/UpdateValuesResponse" }
        }
      },
      "BatchUpdateValuesRequest": {
        "type": "object",
        "description": "The request for updating more than one range of values in a spreadsheet.",
        "properties": {
          "valueInputOption": { "type": "string", "enum": ["RAW", "USER_ENTERED"], "example": "USER_ENTERED" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ValueRange" }
          },
          "includeValuesInResponse": { "type": "boolean" }
        }
      },
      "BatchUpdateValuesResponse": {
        "type": "object",
        "description": "The response when updating a range of values in a spreadsheet.",
        "properties": {
          "spreadsheetId": { "type": "string", "example": "1BxiMVs0XRA5nFMdKvBd_B4hhaZ" },
          "totalUpdatedRows": { "type": "integer", "format": "int32", "example": 3 },
          "totalUpdatedColumns": { "type": "integer", "format": "int32", "example": 2 },
          "totalUpdatedCells": { "type": "integer", "format": "int32", "example": 6 },
          "totalUpdatedSheets": { "type": "integer", "format": "int32", "example": 1 },
          "responses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UpdateValuesResponse" }
          }
        }
      },
      "UpdateValuesResponse": {
        "type": "object",
        "description": "The result of updating a range of values.",
        "properties": {
          "spreadsheetId": { "type": "string", "example": "1BxiMVs0XRA5nFMdKvBd_B4hhaZ" },
          "updatedRange": { "type": "string", "example": "Sheet1!A4:B4" },
          "updatedRows": { "type": "integer", "format": "int32", "example": 1 },
          "updatedColumns": { "type": "integer", "format": "int32", "example": 2 },
          "updatedCells": { "type": "integer", "format": "int32", "example": 2 },
          "updatedData": { "$ref": "#/components/schemas/ValueRange" }
        }
      }
    }
  }
}
