{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Gemini (Generative Language) API (OpenFn gemini subset)",
    "version": "v1beta",
    "description": "Focused OpenAPI model of the Google Gemini / Generative Language API endpoints the OpenFn gemini adaptor calls. prompt() and deepResearch() POST to models/{model}:generateContent (deepResearch adds the google_search grounding tool); generateImage() uses the Imagen models/{model}:predict endpoint (or an image-capable generateContent model). Authenticated with an API key (x-goog-api-key header or ?key=).",
    "x-openfn-adaptor": "gemini"
  },
  "servers": [{ "url": "https://generativelanguage.googleapis.com" }],
  "components": {
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "in": "header", "name": "x-goog-api-key" }
    },
    "schemas": {
      "Blob": {
        "type": "object",
        "properties": {
          "mimeType": { "type": "string" },
          "data": { "type": "string", "description": "Base64-encoded inline data" }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "inlineData": { "$ref": "#/components/schemas/Blob" }
        }
      },
      "Content": {
        "type": "object",
        "properties": {
          "role": { "type": "string", "enum": ["user", "model"] },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/Part" } }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "properties": {
          "temperature": { "type": "number" },
          "topP": { "type": "number" },
          "topK": { "type": "integer" },
          "maxOutputTokens": { "type": "integer" },
          "candidateCount": { "type": "integer" },
          "responseMimeType": { "type": "string" }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "googleSearch": { "type": "object", "additionalProperties": true, "description": "Enables Google Search grounding (deepResearch)" }
        }
      },
      "GenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": { "type": "array", "items": { "$ref": "#/components/schemas/Content" } },
          "systemInstruction": { "$ref": "#/components/schemas/Content" },
          "tools": { "type": "array", "items": { "$ref": "#/components/schemas/Tool" } },
          "generationConfig": { "$ref": "#/components/schemas/GenerationConfig" }
        },
        "required": ["contents"]
      },
      "GroundingMetadata": {
        "type": "object",
        "properties": {
          "webSearchQueries": { "type": "array", "items": { "type": "string" } },
          "groundingChunks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "web": {
                  "type": "object",
                  "properties": {
                    "uri": { "type": "string", "format": "uri" },
                    "title": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": { "$ref": "#/components/schemas/Content" },
          "finishReason": { "type": "string" },
          "index": { "type": "integer" },
          "groundingMetadata": { "$ref": "#/components/schemas/GroundingMetadata" }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "properties": {
          "promptTokenCount": { "type": "integer" },
          "candidatesTokenCount": { "type": "integer" },
          "totalTokenCount": { "type": "integer" }
        }
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": { "type": "array", "items": { "$ref": "#/components/schemas/Candidate" } },
          "usageMetadata": { "$ref": "#/components/schemas/UsageMetadata" },
          "modelVersion": { "type": "string" }
        }
      },
      "PredictImageRequest": {
        "type": "object",
        "properties": {
          "instances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "prompt": { "type": "string" } }
            }
          },
          "parameters": {
            "type": "object",
            "properties": {
              "sampleCount": { "type": "integer" },
              "aspectRatio": { "type": "string" },
              "personGeneration": { "type": "string" }
            }
          }
        },
        "required": ["instances"]
      },
      "PredictImageResponse": {
        "type": "object",
        "properties": {
          "predictions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mimeType": { "type": "string" },
                "bytesBase64Encoded": { "type": "string", "description": "Base64-encoded generated image" }
              }
            }
          }
        }
      }
    }
  },
  "security": [{ "apiKey": [] }],
  "paths": {
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "operationId": "generateContent",
        "summary": "Generate content (prompt / deepResearch)",
        "parameters": [
          { "name": "model", "in": "path", "required": true, "schema": { "type": "string" }, "example": "gemini-2.5-flash-lite" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenerateContentRequest" } } }
        },
        "responses": {
          "200": { "description": "Generated content", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenerateContentResponse" } } } }
        }
      }
    },
    "/v1beta/models/{model}:predict": {
      "post": {
        "operationId": "predictImage",
        "summary": "Generate an image (generateImage via Imagen predict)",
        "parameters": [
          { "name": "model", "in": "path", "required": true, "schema": { "type": "string" }, "example": "imagen-3.0-generate-002" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PredictImageRequest" } } }
        },
        "responses": {
          "200": { "description": "Generated image(s)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PredictImageResponse" } } } }
        }
      }
    }
  }
}
