{
  "openapi": "3.0.3",
  "info": {
    "title": "CommCare HQ REST API (OpenFn commcare adaptor)",
    "version": "0.5.0",
    "description": "Focused OpenAPI description of the CommCare HQ REST API surface exercised by the OpenFn `@openfn/language-commcare` adaptor. The adaptor is a thin HTTP client (get, post, request) plus helpers for submitting forms (submit -> OpenRosa receiver), bulk uploading case data and lookup tables (submitXls/bulk), and fetching configurable report data (fetchReportData). CommCare's read endpoints use the Tastypie list-response envelope (a `meta` object plus an `objects` array). Paths are scoped to a project space (domain) under /a/{domain}/. Authored for the OpenFn mocker; response shapes are modelled from the public CommCare HQ documentation.",
    "x-openfn-adaptor": "commcare"
  },
  "servers": [
    {
      "url": "https://www.commcarehq.org/a/{domain}",
      "description": "CommCare HQ, scoped to a project space (domain).",
      "variables": {
        "domain": {
          "default": "demo",
          "description": "CommCare project space (domain) name."
        }
      }
    }
  ],
  "paths": {
    "/api/v0.5/case/": {
      "get": {
        "operationId": "listCases",
        "summary": "List cases",
        "description": "Return a paginated list of cases in the project space. Supports Tastypie-style filtering and pagination via query parameters.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "name": "type", "in": "query", "description": "Filter by case type.", "required": false, "schema": { "type": "string" } },
          { "name": "owner_id", "in": "query", "description": "Filter by owner id.", "required": false, "schema": { "type": "string" } },
          { "name": "user_id", "in": "query", "description": "Filter by user id.", "required": false, "schema": { "type": "string" } },
          { "name": "closed", "in": "query", "description": "Filter by closed status.", "required": false, "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of cases.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CaseListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/case/{case_id}/": {
      "get": {
        "operationId": "getCase",
        "summary": "Get a single case",
        "description": "Fetch a single case by its case_id.",
        "parameters": [
          { "name": "case_id", "in": "path", "required": true, "description": "The case identifier.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The requested case.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Case" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/form/": {
      "get": {
        "operationId": "listForms",
        "summary": "List form submissions",
        "description": "Return a paginated list of submitted forms in the project space.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "name": "xmlns", "in": "query", "description": "Filter by form XMLNS.", "required": false, "schema": { "type": "string" } },
          { "name": "app_id", "in": "query", "description": "Filter by application id.", "required": false, "schema": { "type": "string" } },
          { "name": "received_on_start", "in": "query", "description": "Filter by earliest received_on (ISO 8601).", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of forms.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FormListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/form/{form_id}/": {
      "get": {
        "operationId": "getForm",
        "summary": "Get a single form",
        "description": "Fetch a single submitted form by its instance id.",
        "parameters": [
          { "name": "form_id", "in": "path", "required": true, "description": "The form instance identifier.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The requested form.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Form" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/user/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List mobile workers (users)",
        "description": "Return a paginated list of mobile worker (CommCare) users in the project space.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of users.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserListResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a mobile worker (user)",
        "description": "Create a mobile worker user resource. Mirrors the adaptor `post('/user', {...})` example.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/User" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created user.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/group/": {
      "get": {
        "operationId": "listGroups",
        "summary": "List groups",
        "description": "Return a paginated list of groups (case sharing / reporting groups) in the project space.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of groups.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GroupListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/fixture/": {
      "get": {
        "operationId": "listFixtures",
        "summary": "List lookup table (fixture) rows",
        "description": "Return a paginated list of fixture (lookup table) items in the project space.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          { "name": "fixture_type", "in": "query", "description": "Filter by fixture (lookup table) type/tag.", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of fixtures.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FixtureListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/fixture/{fixture_id}/": {
      "get": {
        "operationId": "getFixture",
        "summary": "Get a single fixture row",
        "description": "Fetch a single fixture (lookup table) item by id.",
        "parameters": [
          { "name": "fixture_id", "in": "path", "required": true, "description": "The fixture item identifier.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The requested fixture item.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Fixture" }
              }
            }
          }
        }
      }
    },
    "/api/v0.5/configurablereportdata/{report_id}/": {
      "get": {
        "operationId": "getReportData",
        "summary": "Fetch configurable report data",
        "description": "Fetch rows from a CommCare configurable (UCR) report. Used by the adaptor's `fetchReportData` helper.",
        "parameters": [
          { "name": "report_id", "in": "path", "required": true, "description": "The configurable report identifier.", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "Report data rows plus column metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportData" }
              }
            }
          }
        }
      }
    },
    "/receiver/{app_id}/": {
      "post": {
        "operationId": "submitForm",
        "summary": "Submit a form (OpenRosa receiver)",
        "description": "Submit an XForm XML instance to the CommCare HQ OpenRosa receiver. The adaptor's `submit` helper converts JSON fields into XForm XML and POSTs it here. The receiver returns an OpenRosa XML response, but is modelled here with a JSON envelope for the mocker.",
        "parameters": [
          { "name": "app_id", "in": "path", "required": true, "description": "The application id the form belongs to.", "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": { "type": "string", "description": "XForm XML instance." }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Submission accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionResponse" }
              }
            }
          }
        }
      }
    },
    "/importer/excel/bulk_upload_api/": {
      "post": {
        "operationId": "bulkUploadCaseData",
        "summary": "Bulk upload case data (Excel)",
        "description": "Bulk import cases from an uploaded Excel workbook. Used by the adaptor's `submitXls` and `bulk('case-data', ...)` helpers, which build an XLSX from an array of objects and upload it.",
        "parameters": [
          { "name": "case_type", "in": "query", "description": "Case type to import rows as.", "required": false, "schema": { "type": "string" } },
          { "name": "search_field", "in": "query", "description": "Field used to match existing cases (e.g. external_id).", "required": false, "schema": { "type": "string" } },
          { "name": "create_new_cases", "in": "query", "description": "Whether to create new cases when no match is found ('on'/'off').", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "The XLSX workbook to import." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk upload accepted; returns a status/tracking payload.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BulkUploadResponse" }
              }
            }
          }
        }
      }
    },
    "/fixtures/fixapi/": {
      "post": {
        "operationId": "bulkUploadLookupTable",
        "summary": "Bulk upload lookup table (fixture) data (Excel)",
        "description": "Upload an Excel workbook of lookup-table (fixture) rows. Used by the adaptor's `bulk('lookup-table', ...)` helper; the file is sent as the 'file-to-upload' form field.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file-to-upload": { "type": "string", "format": "binary", "description": "The XLSX workbook of fixture rows." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lookup table upload accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BulkUploadResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of records to return per page (Tastypie pagination).",
        "required": false,
        "schema": { "type": "integer", "default": 20 }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Number of records to skip (Tastypie pagination).",
        "required": false,
        "schema": { "type": "integer", "default": 0 }
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "description": "Tastypie list-response pagination envelope.",
        "properties": {
          "limit": { "type": "integer", "example": 20 },
          "offset": { "type": "integer", "example": 0 },
          "total_count": { "type": "integer", "example": 2 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null }
        }
      },
      "Case": {
        "type": "object",
        "description": "A CommCare case.",
        "properties": {
          "id": { "type": "string", "example": "5c05f79e-2ec7-4c30-a3b2-9f3f6d0ae1b1" },
          "case_id": { "type": "string", "example": "5c05f79e-2ec7-4c30-a3b2-9f3f6d0ae1b1" },
          "domain": { "type": "string", "example": "demo" },
          "closed": { "type": "boolean", "example": false },
          "date_closed": { "type": "string", "nullable": true, "example": null },
          "date_modified": { "type": "string", "example": "2026-06-30T12:34:56.000000" },
          "server_date_modified": { "type": "string", "example": "2026-06-30T12:34:57.000000" },
          "server_date_opened": { "type": "string", "example": "2026-06-01T09:00:00.000000" },
          "user_id": { "type": "string", "example": "a1b2c3d4e5f6" },
          "indices": { "type": "object", "additionalProperties": true, "example": {} },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Case properties, including reserved keys such as case_name, case_type, owner_id.",
            "example": {
              "case_name": "Mamadou",
              "case_type": "student",
              "owner_id": "a1b2c3d4e5f6",
              "date_opened": "2026-06-01T09:00:00.000000",
              "external_id": "STU-0001",
              "phone": "000000"
            }
          },
          "xform_ids": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["form-abc-123"]
          },
          "resource_uri": { "type": "string", "example": "/a/demo/api/v0.5/case/5c05f79e-2ec7-4c30-a3b2-9f3f6d0ae1b1/" }
        }
      },
      "CaseListResponse": {
        "type": "object",
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "objects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Case" }
          }
        }
      },
      "Form": {
        "type": "object",
        "description": "A submitted CommCare form (XForm instance).",
        "properties": {
          "id": { "type": "string", "example": "form-abc-123" },
          "domain": { "type": "string", "example": "demo" },
          "app_id": { "type": "string", "example": "app-xyz-789" },
          "build_id": { "type": "string", "nullable": true, "example": "build-001" },
          "archived": { "type": "boolean", "example": false },
          "type": { "type": "string", "example": "data" },
          "received_on": { "type": "string", "example": "2026-06-30T12:34:56.000000Z" },
          "server_modified_on": { "type": "string", "example": "2026-06-30T12:34:57.000000Z" },
          "indexed_on": { "type": "string", "example": "2026-06-30T12:35:00.000000Z" },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Form metadata (deviceID, timeStart, timeEnd, userID, username, instanceID, etc.).",
            "example": {
              "deviceID": "cloudcare",
              "timeStart": "2026-06-30T12:30:00.000000Z",
              "timeEnd": "2026-06-30T12:34:56.000000Z",
              "userID": "a1b2c3d4e5f6",
              "username": "worker@demo.commcarehq.org",
              "instanceID": "form-abc-123"
            }
          },
          "form": {
            "type": "object",
            "additionalProperties": true,
            "description": "The parsed form question/answer data, keyed by question id.",
            "example": {
              "@xmlns": "http://openrosa.org/formdesigner/ABC",
              "question1": "answer1",
              "question2": "answer2"
            }
          },
          "resource_uri": { "type": "string", "example": "/a/demo/api/v0.5/form/form-abc-123/" }
        }
      },
      "FormListResponse": {
        "type": "object",
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "objects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Form" }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A CommCare mobile worker user.",
        "properties": {
          "id": { "type": "string", "example": "a1b2c3d4e5f6" },
          "username": { "type": "string", "example": "worker@demo.commcarehq.org" },
          "first_name": { "type": "string", "example": "Test" },
          "last_name": { "type": "string", "example": "Worker" },
          "default_phone_number": { "type": "string", "nullable": true, "example": "000000" },
          "email": { "type": "string", "nullable": true, "example": "worker@example.org" },
          "groups": { "type": "array", "items": { "type": "string" }, "example": [] },
          "phone_numbers": { "type": "array", "items": { "type": "string" }, "example": ["000000"] },
          "user_data": { "type": "object", "additionalProperties": true, "example": {} },
          "resource_uri": { "type": "string", "example": "/a/demo/api/v0.5/user/a1b2c3d4e5f6/" }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "objects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/User" }
          }
        }
      },
      "Group": {
        "type": "object",
        "description": "A CommCare group.",
        "properties": {
          "id": { "type": "string", "example": "grp-001" },
          "name": { "type": "string", "example": "Field Team" },
          "domain": { "type": "string", "example": "demo" },
          "case_sharing": { "type": "boolean", "example": true },
          "reporting": { "type": "boolean", "example": true },
          "users": { "type": "array", "items": { "type": "string" }, "example": ["a1b2c3d4e5f6"] },
          "metadata": { "type": "object", "additionalProperties": true, "example": {} },
          "resource_uri": { "type": "string", "example": "/a/demo/api/v0.5/group/grp-001/" }
        }
      },
      "GroupListResponse": {
        "type": "object",
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "objects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Group" }
          }
        }
      },
      "Fixture": {
        "type": "object",
        "description": "A CommCare fixture (lookup table) item.",
        "properties": {
          "id": { "type": "string", "example": "fix-001" },
          "fixture_type": { "type": "string", "example": "district" },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "The lookup table row field values.",
            "example": { "name": "North", "code": "N01" }
          },
          "resource_uri": { "type": "string", "example": "/a/demo/api/v0.5/fixture/fix-001/" }
        }
      },
      "FixtureListResponse": {
        "type": "object",
        "properties": {
          "meta": { "$ref": "#/components/schemas/Meta" },
          "objects": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Fixture" }
          }
        }
      },
      "ReportData": {
        "type": "object",
        "description": "Configurable (UCR) report data response.",
        "properties": {
          "data": {
            "type": "array",
            "description": "The report rows.",
            "items": { "type": "object", "additionalProperties": true },
            "example": [ { "district": "North", "total_cases": 42 } ]
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": { "type": "string", "example": "district" },
                "header": { "type": "string", "example": "District" }
              }
            }
          },
          "total_records": { "type": "integer", "example": 1 },
          "next_page": { "type": "string", "nullable": true, "example": null }
        }
      },
      "SubmissionResponse": {
        "type": "object",
        "description": "Result of submitting a form to the OpenRosa receiver.",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "nature": { "type": "string", "example": "submit_success" },
          "message": { "type": "string", "example": "Thanks for submitting!" },
          "form_id": { "type": "string", "example": "form-abc-123" }
        }
      },
      "BulkUploadResponse": {
        "type": "object",
        "description": "Result of a bulk Excel upload (case data or lookup table).",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "message": { "type": "string", "example": "Upload complete." },
          "created_count": { "type": "integer", "example": 1 },
          "updated_count": { "type": "integer", "example": 0 },
          "error_count": { "type": "integer", "example": 0 }
        }
      }
    }
  }
}
