{
  "openapi": "3.0.3",
  "info": {
    "title": "Open Concept Lab (OCL) API (mock subset)",
    "version": "2.3.201",
    "description": "Focused subset of the Open Concept Lab (OCL) REST API used by the OpenFn ocl adaptor, converted from the official OCL Swagger 2.0 document. The adaptor's getMappings(org, collection, options) hits the collection-versioned mappings endpoint, and the generic get(path, options) can reach any GET path. This spec models the org-owned resources: organizations, sources, collections, concepts, mappings and users. List endpoints return bare JSON arrays (OCL returns pagination in response headers); detail endpoints return a single object.",
    "x-openfn-adaptor": "ocl"
  },
  "servers": [{ "url": "https://api.openconceptlab.org" }],
  "paths": {
    "/orgs/": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/q" }
        ],
        "responses": {
          "200": {
            "description": "Organization list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Organization" } }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "parameters": [{ "$ref": "#/components/parameters/org" }],
        "responses": {
          "200": {
            "description": "Organization",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Organization" } }
            }
          }
        }
      }
    },
    "/orgs/{org}/sources/": {
      "get": {
        "operationId": "listSources",
        "summary": "List an organization's sources",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/q" }
        ],
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Source" } }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/sources/{source}/": {
      "get": {
        "operationId": "getSource",
        "summary": "Get a source",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/source" }
        ],
        "responses": {
          "200": {
            "description": "Source",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Source" } }
            }
          }
        }
      }
    },
    "/orgs/{org}/collections/": {
      "get": {
        "operationId": "listCollections",
        "summary": "List an organization's collections",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/q" }
        ],
        "responses": {
          "200": {
            "description": "Collection list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Collection" } }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/collections/{collection}/": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a collection",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/collection" }
        ],
        "responses": {
          "200": {
            "description": "Collection",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Collection" } }
            }
          }
        }
      }
    },
    "/orgs/{org}/sources/{source}/concepts/": {
      "get": {
        "operationId": "listConcepts",
        "summary": "List concepts in a source",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/source" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/verbose" },
          { "$ref": "#/components/parameters/includeRetired" }
        ],
        "responses": {
          "200": {
            "description": "Concept list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Concept" } }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/sources/{source}/concepts/{concept}/": {
      "get": {
        "operationId": "getConcept",
        "summary": "Get a concept",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/source" },
          { "name": "concept", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Concept",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Concept" } }
            }
          }
        }
      }
    },
    "/orgs/{org}/sources/{source}/mappings/": {
      "get": {
        "operationId": "listSourceMappings",
        "summary": "List mappings in a source",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/source" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/verbose" }
        ],
        "responses": {
          "200": {
            "description": "Mapping list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Mapping" } }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/collections/{collection}/{version}/mappings/": {
      "get": {
        "operationId": "getMappings",
        "summary": "List mappings in a collection version",
        "description": "The adaptor's getMappings(org, collection, options). {version} is typically HEAD.",
        "parameters": [
          { "$ref": "#/components/parameters/org" },
          { "$ref": "#/components/parameters/collection" },
          { "name": "version", "in": "path", "required": true, "schema": { "type": "string", "default": "HEAD" } },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/verbose" },
          { "name": "exact_match", "in": "query", "schema": { "type": "string", "enum": ["on", "off"] } }
        ],
        "responses": {
          "200": {
            "description": "Mapping list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Mapping" } }
              }
            }
          }
        }
      }
    },
    "/users/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/limit" }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/User" } }
              }
            }
          }
        }
      }
    },
    "/users/{user}/": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "parameters": [{ "name": "user", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "org": { "name": "org", "in": "path", "required": true, "schema": { "type": "string" }, "example": "MSFOCG" },
      "source": { "name": "source", "in": "path", "required": true, "schema": { "type": "string" } },
      "collection": { "name": "collection", "in": "path", "required": true, "schema": { "type": "string" }, "example": "lime-demo" },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
      "limit": { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 25 } },
      "q": { "name": "q", "in": "query", "schema": { "type": "string" }, "description": "Search text" },
      "verbose": { "name": "verbose", "in": "query", "schema": { "type": "boolean" } },
      "includeRetired": { "name": "includeRetired", "in": "query", "schema": { "type": "boolean" } }
    },
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "MSFOCG" },
          "uuid": { "type": "string" },
          "name": { "type": "string", "example": "Medecins Sans Frontieres" },
          "type": { "type": "string", "example": "Organization" },
          "company": { "type": "string" },
          "website": { "type": "string" },
          "location": { "type": "string" },
          "public_access": { "type": "string", "example": "View" },
          "logo_url": { "type": "string" },
          "description": { "type": "string" },
          "url": { "type": "string", "example": "/orgs/MSFOCG/" },
          "sources_url": { "type": "string" },
          "collections_url": { "type": "string" },
          "public_sources": { "type": "integer" },
          "public_collections": { "type": "integer" },
          "created_on": { "type": "string", "format": "date-time" },
          "updated_on": { "type": "string", "format": "date-time" },
          "extras": { "type": "object", "additionalProperties": true }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "uuid": { "type": "string" },
          "short_code": { "type": "string" },
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "source_type": { "type": "string", "example": "Dictionary" },
          "owner": { "type": "string", "example": "MSFOCG" },
          "owner_type": { "type": "string", "example": "Organization" },
          "owner_url": { "type": "string" },
          "version": { "type": "string", "example": "HEAD" },
          "default_locale": { "type": "string", "example": "en" },
          "supported_locales": { "type": "array", "items": { "type": "string" } },
          "canonical_url": { "type": "string" },
          "description": { "type": "string" },
          "concepts_url": { "type": "string" },
          "mappings_url": { "type": "string" },
          "active_concepts": { "type": "integer" },
          "type": { "type": "string", "example": "Source" },
          "url": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "lime-demo" },
          "uuid": { "type": "string" },
          "short_code": { "type": "string" },
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "collection_type": { "type": "string", "example": "Dictionary" },
          "owner": { "type": "string", "example": "MSFOCG" },
          "owner_type": { "type": "string", "example": "Organization" },
          "owner_url": { "type": "string" },
          "version": { "type": "string", "example": "HEAD" },
          "default_locale": { "type": "string", "example": "en" },
          "supported_locales": { "type": "array", "items": { "type": "string" } },
          "canonical_url": { "type": "string" },
          "description": { "type": "string" },
          "concepts_url": { "type": "string" },
          "mappings_url": { "type": "string" },
          "expansions_url": { "type": "string" },
          "autoexpand_head": { "type": "boolean" },
          "type": { "type": "string", "example": "Collection" },
          "url": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Concept": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "5839" },
          "uuid": { "type": "string" },
          "external_id": { "type": "string" },
          "concept_class": { "type": "string", "example": "Diagnosis" },
          "datatype": { "type": "string", "example": "N/A" },
          "url": { "type": "string" },
          "retired": { "type": "boolean" },
          "source": { "type": "string" },
          "owner": { "type": "string", "example": "MSFOCG" },
          "owner_type": { "type": "string", "example": "Organization" },
          "owner_url": { "type": "string" },
          "display_name": { "type": "string", "example": "Malaria" },
          "display_locale": { "type": "string", "example": "en" },
          "version": { "type": "string" },
          "version_url": { "type": "string" },
          "is_latest_version": { "type": "boolean" },
          "type": { "type": "string", "example": "Concept" },
          "names": { "type": "array", "items": { "$ref": "#/components/schemas/LocalizedText" } },
          "descriptions": { "type": "array", "items": { "$ref": "#/components/schemas/LocalizedText" } },
          "extras": { "type": "object", "additionalProperties": true },
          "created_on": { "type": "string", "format": "date-time" },
          "updated_on": { "type": "string", "format": "date-time" }
        }
      },
      "LocalizedText": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string" },
          "external_id": { "type": "string" },
          "type": { "type": "string" },
          "locale": { "type": "string", "example": "en" },
          "locale_preferred": { "type": "boolean" },
          "name_type": { "type": "string", "example": "Fully Specified" },
          "description_type": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "Mapping": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "uuid": { "type": "string" },
          "external_id": { "type": "string" },
          "map_type": { "type": "string", "example": "SAME-AS" },
          "retired": { "type": "boolean" },
          "source": { "type": "string" },
          "owner": { "type": "string", "example": "MSFOCG" },
          "owner_type": { "type": "string", "example": "Organization" },
          "url": { "type": "string" },
          "version": { "type": "string" },
          "version_url": { "type": "string" },
          "is_latest_version": { "type": "boolean" },
          "type": { "type": "string", "example": "Mapping" },
          "sort_weight": { "type": "number" },
          "from_concept_code": { "type": "string" },
          "from_concept_name": { "type": "string" },
          "from_concept_url": { "type": "string" },
          "to_concept_code": { "type": "string" },
          "to_concept_name": { "type": "string" },
          "to_concept_url": { "type": "string" },
          "from_source_owner": { "type": "string" },
          "from_source_name": { "type": "string" },
          "from_source_url": { "type": "string" },
          "to_source_owner": { "type": "string" },
          "to_source_name": { "type": "string" },
          "to_source_url": { "type": "string" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "uuid": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "company": { "type": "string" },
          "location": { "type": "string" },
          "website": { "type": "string" },
          "type": { "type": "string", "example": "User" },
          "url": { "type": "string" },
          "logo_url": { "type": "string" },
          "orgs": { "type": "integer" },
          "date_joined": { "type": "string", "format": "date-time" },
          "created_on": { "type": "string", "format": "date-time" },
          "updated_on": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
