{
  "openapi": "3.0.3",
  "info": {
    "title": "Zata Taxes and Payments API",
    "version": "1.0.0",
    "description": "Zata is an API-first tax compliance, invoicing, inventory and payments platform for Sub-Saharan Africa (licensed by the Rwanda Revenue Authority). This focused OpenAPI description is generated from the official Zata documentation (https://docs.zata.rw) and models the endpoints exercised through the OpenFn `@openfn/language-zata` adaptor, which is a thin HTTP wrapper exposing get/post/put/request against these routes. Business endpoints are token-authenticated and scoped by companyId/branchId headers.",
    "x-openfn-adaptor": "zata"
  },
  "servers": [
    {
      "url": "https://sandbox.zata.rw/api/v1",
      "description": "Zata sandbox environment (base path documented at docs.zata.rw)"
    }
  ],
  "tags": [
    { "name": "auth", "description": "Account creation and sign in" },
    { "name": "company", "description": "Companies and branches" },
    { "name": "party", "description": "Customers and suppliers" },
    { "name": "product", "description": "Inventory products" },
    { "name": "data", "description": "Lookup / reference datasets" },
    { "name": "transaction", "description": "Fiscal sale/purchase transactions" },
    { "name": "expense", "description": "Business expenses" },
    { "name": "payment", "description": "ZataPay payment workflows" },
    { "name": "health", "description": "Service health" }
  ],
  "paths": {
    "/create-account": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create User Account",
        "tags": ["auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAccountRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "operationId": "login",
        "summary": "Sign In User",
        "tags": ["auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User login successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          },
          "403": { "description": "Incorrect password" },
          "404": { "description": "Email not found" }
        }
      }
    },
    "/company": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List Companies",
        "tags": ["company"],
        "parameters": [
          { "$ref": "#/components/parameters/PerPage" },
          { "$ref": "#/components/parameters/Page" }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyList" }
              }
            }
          },
          "401": { "description": "Unauthenticated" }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create Company",
        "tags": ["company"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompanyInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyResponse" }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update Company",
        "tags": ["company"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompanyInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyResponse" }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get Company",
        "tags": ["company"],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyResponse" }
              }
            }
          },
          "404": { "description": "Company not found" }
        }
      }
    },
    "/company/branch": {
      "get": {
        "operationId": "listBranches",
        "summary": "List Company Branches",
        "tags": ["company"],
        "parameters": [{ "$ref": "#/components/parameters/CompanyIdHeader" }],
        "responses": {
          "200": {
            "description": "Branch list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BranchList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBranch",
        "summary": "Create Company Branch",
        "tags": ["company"],
        "parameters": [{ "$ref": "#/components/parameters/CompanyIdHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BranchInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BranchResponse" }
              }
            }
          }
        }
      }
    },
    "/party": {
      "get": {
        "operationId": "listParties",
        "summary": "List Parties",
        "tags": ["party"],
        "parameters": [{ "$ref": "#/components/parameters/CompanyIdHeader" }],
        "responses": {
          "200": {
            "description": "Party list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartyList" }
              }
            }
          }
        }
      }
    },
    "/party/new-customer": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create Customer",
        "tags": ["party"],
        "parameters": [{ "$ref": "#/components/parameters/CompanyIdHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartyResponse" }
              }
            }
          }
        }
      }
    },
    "/product": {
      "post": {
        "operationId": "createProduct",
        "summary": "Create Product",
        "tags": ["product"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProductInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          }
        }
      }
    },
    "/product/pos": {
      "get": {
        "operationId": "listPosProducts",
        "summary": "List POS Products",
        "tags": ["product"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductList" }
              }
            }
          }
        }
      }
    },
    "/product/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get Product",
        "tags": ["product"],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "404": { "description": "Product not found" }
        }
      }
    },
    "/product/reduce-quantity/{productId}": {
      "put": {
        "operationId": "reduceProductQuantity",
        "summary": "Reduce Product Quantity",
        "tags": ["product"],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuantityAdjustment" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quantity reduced",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          }
        }
      }
    },
    "/data/product-type": {
      "get": {
        "operationId": "listProductTypes",
        "summary": "List Product Types",
        "tags": ["data"],
        "responses": {
          "200": {
            "description": "Product type lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LookupList" }
              }
            }
          }
        }
      }
    },
    "/data/payment-mode": {
      "get": {
        "operationId": "listPaymentModes",
        "summary": "List Payment Modes",
        "tags": ["data"],
        "responses": {
          "200": {
            "description": "Payment mode lookup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LookupList" }
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List Transactions",
        "tags": ["transaction"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" },
          { "$ref": "#/components/parameters/PerPage" },
          { "$ref": "#/components/parameters/Page" }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionList" }
              }
            }
          }
        }
      }
    },
    "/transaction/sale": {
      "post": {
        "operationId": "createSaleTransaction",
        "summary": "Create Sales Transaction",
        "tags": ["transaction"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SaleTransactionInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response on success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResponse" }
              }
            }
          },
          "404": { "description": "Business not found" }
        }
      }
    },
    "/transaction/calculate": {
      "post": {
        "operationId": "calculateTransactionTotals",
        "summary": "Calculate Transaction Totals",
        "tags": ["transaction"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SaleTransactionInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculated totals",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionTotals" }
              }
            }
          }
        }
      }
    },
    "/transaction/{transactionId}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get Transaction",
        "tags": ["transaction"],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResponse" }
              }
            }
          },
          "404": { "description": "Transaction not found" }
        }
      }
    },
    "/expense": {
      "get": {
        "operationId": "listExpenses",
        "summary": "List Expenses",
        "tags": ["expense"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "responses": {
          "200": {
            "description": "Expense list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExpenseList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createExpense",
        "summary": "Create Expense",
        "tags": ["expense"],
        "parameters": [
          { "$ref": "#/components/parameters/CompanyIdHeader" },
          { "$ref": "#/components/parameters/BranchIdHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExpenseInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExpenseResponse" }
              }
            }
          }
        }
      }
    },
    "/zatapay/banks": {
      "get": {
        "operationId": "listSupportedBanks",
        "summary": "List Supported Banks",
        "tags": ["payment"],
        "responses": {
          "200": {
            "description": "Bank list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BankList" }
              }
            }
          }
        }
      }
    },
    "/zatapay/debit-initiate": {
      "post": {
        "operationId": "initiateDebitPayment",
        "summary": "Initiate Debit Payment",
        "tags": ["payment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DebitInitiateInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          }
        }
      }
    },
    "/zatapay/payment-status": {
      "get": {
        "operationId": "getPaymentStatus",
        "summary": "Get Payment Status",
        "tags": ["payment"],
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Payment reference to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          }
        }
      }
    },
    "/test": {
      "get": {
        "operationId": "runHealthCheck",
        "summary": "Run Health Check",
        "tags": ["health"],
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthStatus" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token issued by the login endpoint, sent as a Bearer token on business endpoints."
      }
    },
    "parameters": {
      "CompanyIdHeader": {
        "name": "companyId",
        "in": "header",
        "required": true,
        "schema": { "type": "string" },
        "description": "Tenant company scope"
      },
      "BranchIdHeader": {
        "name": "branchId",
        "in": "header",
        "required": true,
        "schema": { "type": "string" },
        "description": "Branch scope within the company"
      },
      "PerPage": {
        "name": "perPage",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Number of items per page"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Page number"
      }
    },
    "schemas": {
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "password": { "type": "string" }
        },
        "required": ["email", "password"]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string" }
        },
        "required": ["email", "password"]
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "token": { "type": "string" },
              "user": { "$ref": "#/components/schemas/User" }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "tin": { "type": "string", "description": "Taxpayer Identification Number" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "tin": { "type": "string" }
        },
        "required": ["name", "tin"]
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Company" }
        }
      },
      "CompanyList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Company" }
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "companyId": { "type": "integer" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" }
        }
      },
      "BranchInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" }
        },
        "required": ["name"]
      },
      "BranchResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Branch" }
        }
      },
      "BranchList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Branch" }
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "type": { "type": "string", "enum": ["customer", "supplier"] },
          "name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "tin": { "type": "string" }
        }
      },
      "CustomerInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "tin": { "type": "string" }
        },
        "required": ["name"]
      },
      "PartyResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Party" }
        }
      },
      "PartyList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Party" }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "productTypeId": { "type": "integer" },
          "unitPrice": { "type": "number" },
          "quantity": { "type": "number" },
          "taxRate": { "type": "number" },
          "batchNumber": { "type": "string" }
        }
      },
      "ProductInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "productTypeId": { "type": "integer" },
          "unitPrice": { "type": "number" },
          "quantity": { "type": "number" },
          "taxRate": { "type": "number" },
          "batchNumber": { "type": "string" }
        },
        "required": ["name", "unitPrice"]
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Product" }
        }
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Product" }
          }
        }
      },
      "QuantityAdjustment": {
        "type": "object",
        "properties": {
          "quantity": { "type": "number" },
          "description": { "type": "string" },
          "batchNumber": { "type": "string" }
        },
        "required": ["quantity"]
      },
      "LookupItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "code": { "type": "string" }
        }
      },
      "LookupList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LookupItem" }
          }
        }
      },
      "TransactionItem": {
        "type": "object",
        "properties": {
          "productID": { "type": "integer" },
          "units": { "type": "number" },
          "unitPrice": { "type": "number" },
          "discountRate": { "type": "number" },
          "batchNumber": { "type": "string" }
        },
        "required": ["productID", "units", "unitPrice"]
      },
      "SaleTransactionInput": {
        "type": "object",
        "properties": {
          "purchaseCode": { "type": "string" },
          "paymentMethodID": { "type": "integer" },
          "customerID": { "type": "integer" },
          "transactionDate": { "type": "string", "format": "date" },
          "note": { "type": "string" },
          "customerTIN": { "type": "string" },
          "customerName": { "type": "string" },
          "customerPhone": { "type": "string" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TransactionItem" }
          }
        },
        "required": ["items"]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "purchaseCode": { "type": "string" },
          "type": { "type": "string", "enum": ["sale", "purchase", "refund", "proforma"] },
          "transactionDate": { "type": "string", "format": "date" },
          "customerName": { "type": "string" },
          "customerTIN": { "type": "string" },
          "subtotal": { "type": "number" },
          "taxTotal": { "type": "number" },
          "total": { "type": "number" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TransactionItem" }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Transaction" }
        }
      },
      "TransactionList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Transaction" }
          }
        }
      },
      "TransactionTotals": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "subtotal": { "type": "number" },
              "discountTotal": { "type": "number" },
              "taxTotal": { "type": "number" },
              "total": { "type": "number" }
            }
          }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "categoryId": { "type": "integer" },
          "amount": { "type": "number" },
          "description": { "type": "string" },
          "expenseDate": { "type": "string", "format": "date" },
          "supplierTIN": { "type": "string" }
        }
      },
      "ExpenseInput": {
        "type": "object",
        "properties": {
          "categoryId": { "type": "integer" },
          "amount": { "type": "number" },
          "description": { "type": "string" },
          "expenseDate": { "type": "string", "format": "date" },
          "supplierTIN": { "type": "string" }
        },
        "required": ["amount"]
      },
      "ExpenseResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Expense" }
        }
      },
      "ExpenseList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Expense" }
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "BankList": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Bank" }
          }
        }
      },
      "DebitInitiateInput": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" },
          "bankCode": { "type": "string" },
          "accountNumber": { "type": "string" },
          "narration": { "type": "string" },
          "reference": { "type": "string" }
        },
        "required": ["amount", "accountNumber"]
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "reference": { "type": "string" },
              "amount": { "type": "number" },
              "status": { "type": "string", "enum": ["pending", "successful", "failed"] },
              "channel": { "type": "string" },
              "createdAt": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean" },
          "message": { "type": "string" }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
