{
  "openapi": "3.0.3",
  "info": {
    "title": "KoboToolbox Primary API (KPI v2) \u2014 OpenFn subset",
    "version": "2.0.0",
    "description": "Focused subset of the official KoboToolbox KPI /api/v2 OpenAPI schema covering the endpoints used by the OpenFn kobotoolbox adaptor: listing survey forms (assets), retrieving an asset, listing and retrieving submissions (data), submission validation status, bulk data update, and deployment info. Derived verbatim from the official schema at https://kf.kobotoolbox.org/api/v2/schema/?format=json",
    "x-openfn-adaptor": "kobotoolbox"
  },
  "servers": [
    {
      "url": "https://kf.kobotoolbox.org",
      "description": "KoboToolbox Global server (EU: https://eu.kobotoolbox.org)"
    }
  ],
  "paths": {
    "/api/v2/assets/": {
      "get": {
        "operationId": "api_v2_assets_list",
        "description": "## Get user's assets\n\n\nSearch can be made with `q` parameter.\nSearch filters can be returned with results by passing `metadata=on` to querystring.\n\n\nResults can be sorted with `ordering` parameter, e.g.:\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/?ordering=-name\n```\n\n\nAllowed fields are:\n\n- `asset_type`\n- `date_modified`\n- `date_deployed`\n- `date_modified__date`\n- `date_deployed__date`\n- `name`\n- `settings__sector`\n- `settings__sector__value`\n- `settings__description`\n- `owner__username`\n- `owner__extra_details__data__name`\n- `owner__extra_details__data__organization`\n- `owner__email`\n- `_deployment_status`\n- `subscribers_count`\n\n\nNote: Collections can be displayed first with parameter `collections_first`, e.g.:\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/?collections_first=true&ordering=-name\n```\n",
        "parameters": [
          {
            "in": "query",
            "name": "current_user_permissions_only",
            "schema": {
              "type": "boolean"
            },
            "description": "When `true`, only return the requesting user's own permission assignments. When `false` (default), return all visible assignments."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page. Use with `start`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Deprecated alias of `start`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "ordering",
            "schema": {
              "type": "string"
            },
            "description": "Which field to use when ordering the results."
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Filter the results with search query"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results. Use with `limit`.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Manage projects and library content"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAssetList"
                }
              }
            },
            "description": null
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/": {
      "get": {
        "operationId": "api_v2_assets_retrieve",
        "description": "## Get a user's current asset\n",
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "ssjson",
                "xls",
                "xml"
              ]
            }
          },
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Manage projects and library content"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/assets/metadata/": {
      "get": {
        "operationId": "api_v2_assets_metadata_retrieve",
        "description": "## Get metadata for all authenticated user' assets\n",
        "tags": [
          "Manage projects and library content"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMetadataResponse"
                }
              }
            },
            "description": null
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/data/": {
      "get": {
        "operationId": "api_v2_assets_data_list",
        "description": "## List of submissions for a specific asset\n\nBy default, JSON format is used, but XML and GeoJSON are also available:\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid}/data/\n```\n\n### Pagination\nTwo parameters can be used to control pagination.\n\n* `start`: Index (zero-based) from which the results start\n* `limit`: Number of results per page <span class='label label-warning'>Maximum results per page cannot exceed  **1000**, unless changed by server configuration</span>\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid}/data/?start=0&limit=10\n```\n\n### Query submitted data\nProvides a list of submitted data for a specific form. Use `query`\nparameter to apply form data specific, see\n<a href=\"http://docs.mongodb.org/manual/reference/operator/query/\">http://docs.mongodb.org/manual/reference/operator/query/</a>.\n\nFor more details see\n<a href=\"https://github.com/SEL-Columbia/formhub/wiki/Formhub-Access-Points-(API)#api-parameters\">API Parameters</a>.\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid}/data/?query={\"__version__\": \"vWvkKzNE8xCtfApJvabfjG\"}\ncurl https://kf.kobotoolbox.org/api/v2/assets/{uid}/data/?query={\"_submission_time\": {\"$gt\": \"2019-09-01T01:02:03\"}}\n```\n\n### About the GeoJSON format\nRequesting the `geojson` format returns a `FeatureCollection` where each\nsubmission is a `Feature`. If your form has multiple geographic questions,\nuse the `geo_question_name` query parameter to determine which question's\nresponses populate the `geometry` for each `Feature`; otherwise, the first\ngeographic question is used.  All question/response pairs are included in\nthe `properties` of each `Feature`, but _repeating groups are omitted_.\n\nQuestion types are mapped to GeoJSON geometry types as follows:\n\n* `geopoint` to `Point`;\n* `geotrace` to `LineString`;\n* `geoshape` to `Polygon`.\n\n\n\n### \u26a0\ufe0f Note: DRF-Spectacular Limitation\n\nDue to limitations in **DRF-Spectacular**, the `ACCEPT` headers do not sync properly with the request. As a result, all responses will default to `application/json`, regardless of the specified format.\n\nThis means that while alternative formats (like XML) are technically supported and will work via command-line tools (e.g., `curl`), **they will not work** when trying out the endpoint directly from the documentation page.\n\nWe\u2019ve still included the header to show supported formats, but keep in mind:\n**Only `application/json` will be used in the docs UI.**\n",
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            },
            "description": "Include only given list of fields in results"
          },
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "json",
                "xml"
              ]
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "ID of the data (when applicable)",
            "required": true
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page. Use with `start`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Deprecated alias of `start`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter the results with search query"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "description": "Sort the results by a field, e.g. {\"_id\":-1}"
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "description": "The initial index from which to return the results. Use with `limit`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "description": "UID of the parent asset",
            "required": true
          }
        ],
        "tags": [
          "Survey data"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDataResponseList"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/data/{id}/": {
      "get": {
        "operationId": "api_v2_assets_data_retrieve",
        "description": "## Get a specific submission\n\n`{id}` can be:\n\n- The primary key of the submission\n- Its `_uuid` <sup>1</sup>\n- Its `rootUuid` (without \"uuid:\" prefix)\n\n<sup>1</sup> Please note that using the `_uuid` may match **several** submissions, only\nthe first match will be returned.\n\n\nIt is also possible to specify the format.\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid_asset}/data/{id}.xml\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid_asset}/data/{id}.json\n```\n\nor\n\n```shell\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid_asset}/data/{id}/?format=xml\ncurl -X GET https://kf.kobotoolbox.org/api/v2/assets/{uid_asset}/data/{id}/?format=json\n```\n\n### \u26a0\ufe0f Note: DRF-Spectacular Limitation\n\nDue to limitations in **DRF-Spectacular**, the `ACCEPT` headers do not sync properly with the request. As a result, all responses will default to `application/json`, regardless of the specified format.\n\nThis means that while alternative formats (like XML) are technically supported and will work via command-line tools (e.g., `curl`), **they will not work** when trying out the endpoint directly from the documentation page.\n\nWe\u2019ve still included the header to show supported formats, but keep in mind:\n**Only `application/json` will be used in the docs UI.**\n",
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "json",
                "xml"
              ]
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "Integer ID (PK) or rootUuid",
            "required": true
          },
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "description": "UID of the parent asset",
            "required": true
          }
        ],
        "tags": [
          "Survey data"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/data/bulk/": {
      "patch": {
        "operationId": "api_v2_assets_data_bulk_partial_update",
        "description": "## Bulk updating of submissions\n\nWhere `<field_to_update_n>` is a string and should be an existing XML field value of the submissions.\nIf `<field_to_update_n>` is part of a group or nested group, the field must follow the group hierarchy\nstructure, i.e.:\n\nIf the field is within a group called `group_1`, the field name is `question_1` and the new value is `new value`,\nthe payload should contain an item with the following structure:\n\n*\"group_1/question_1\": \"new value\"*\n\n\nSimilarly, if there are `N` nested groups, the structure will be:\n\n*\"group_1/sub_group_1/.../sub_group_n/question_1\": \"new value\"*\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "ID of the data (when applicable)",
            "required": true
          },
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "description": "UID of the parent asset",
            "required": true
          }
        ],
        "tags": [
          "Survey data"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedDataBulkUpdate"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBulkUpdateResponse"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/data/{id}/validation_status/": {
      "get": {
        "operationId": "api_v2_assets_data_validation_status_retrieve",
        "description": "## Get validation statuses\nRetrieves the validation status of a submission.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "Integer ID (PK) or rootUuid",
            "required": true
          },
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "description": "UID of the parent asset",
            "required": true
          }
        ],
        "tags": [
          "Survey data"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataValidationStatusUpdateResponse"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/assets/{uid_asset}/deployment/": {
      "get": {
        "operationId": "api_v2_assets_deployment_retrieve",
        "description": "## Retrieve the existing deployment (if any)\n",
        "parameters": [
          {
            "in": "path",
            "name": "uid_asset",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Manage projects and library content"
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "TokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            },
            "description": null
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "examples": {
                  "NotFound": {
                    "value": {
                      "detail": "Not found."
                    },
                    "summary": "Not Found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/",
            "readOnly": true
          },
          "owner": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/users/bob/",
            "readOnly": true
          },
          "owner__username": {
            "type": "string",
            "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
            "readOnly": true
          },
          "parent": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/a3C9wWefqZVkChNLKqqXVZ/",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "sector": {
                "type": "object"
              },
              "country": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "description": {
                "type": "string"
              },
              "collects_pii": {
                "type": "string"
              },
              "organization": {
                "type": "string"
              },
              "country_codes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "operational_purpose": {
                "type": "string"
              }
            }
          },
          "asset_type": {
            "$ref": "#/components/schemas/AssetTypeEnum"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "summary": {
            "type": "object",
            "properties": {
              "geo": {
                "type": "boolean"
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "columns": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "lock_all": {
                "type": "boolean"
              },
              "lock_any": {
                "type": "boolean"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "row_count": {
                "type": "integer"
              },
              "name_quality": {
                "type": "object"
              },
              "default_translation": {
                "type": "string"
              }
            },
            "readOnly": true
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "date_deployed": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "version_id": {
            "type": "string",
            "readOnly": true
          },
          "version__content_hash": {
            "type": "string",
            "readOnly": true
          },
          "version_count": {
            "type": "integer",
            "readOnly": true
          },
          "has_deployment": {
            "type": "boolean",
            "readOnly": true
          },
          "deployed_version_id": {
            "type": "string",
            "readOnly": true
          },
          "deployed_versions": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "next": {
                "type": "string"
              },
              "previous": {
                "type": "string"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/versions/vBeA23YCYjkGTFvYVHuAyU/"
                    },
                    "content_hash": {
                      "type": "string"
                    },
                    "date_deployed": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_modified": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            },
            "readOnly": true
          },
          "deployment__links": {
            "type": "object",
            "readOnly": true
          },
          "deployment__active": {
            "type": "boolean",
            "readOnly": true
          },
          "deployment__data_download_links": {
            "type": "object",
            "readOnly": true
          },
          "deployment__submission_count": {
            "type": "integer",
            "readOnly": true
          },
          "deployment__last_submission_time": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "deployment__encrypted": {
            "type": "boolean",
            "readOnly": true
          },
          "deployment__uuid": {
            "type": "string",
            "readOnly": true
          },
          "deployment_status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssetDeploymentStatusEnum"
              }
            ],
            "readOnly": true
          },
          "report_styles": {
            "type": "object",
            "properties": {
              "default": {
                "type": "object"
              },
              "specified": {
                "type": "object",
                "properties": {
                  "end": {
                    "type": "object"
                  },
                  "start": {
                    "type": "object"
                  }
                }
              },
              "kuid_names": {
                "type": "object",
                "properties": {
                  "end": {
                    "type": "string"
                  },
                  "start": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "report_custom": {
            "type": "object"
          },
          "advanced_features": {
            "type": "object"
          },
          "map_styles": {
            "type": "object"
          },
          "map_custom": {
            "type": "object"
          },
          "content": {
            "type": "object",
            "properties": {
              "schema": {
                "type": "string"
              },
              "survey": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "settings": {
                "type": "object"
              },
              "translated": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "translations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "downloads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            },
            "readOnly": true
          },
          "embeds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            },
            "readOnly": true
          },
          "analysis_form_json": {
            "type": "object",
            "properties": {
              "additional_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "readOnly": true
          },
          "xform_link": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/xform/",
            "readOnly": true
          },
          "hooks_link": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/hooks/",
            "readOnly": true
          },
          "tag_string": {
            "type": "string"
          },
          "uid": {
            "type": "string",
            "readOnly": true
          },
          "kind": {
            "type": "string",
            "readOnly": true
          },
          "xls_link": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU.xls",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "assignable_permissions": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "readOnly": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "effective_permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codename": {
                  "type": "string"
                }
              }
            },
            "readOnly": true
          },
          "exports": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/exports/",
            "readOnly": true
          },
          "export_settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetExportSettings"
            },
            "readOnly": true
          },
          "data": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/data/",
            "readOnly": true
          },
          "children": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            },
            "readOnly": true
          },
          "subscribers_count": {
            "type": "integer",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "readOnly": true
          },
          "access_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "data_sharing": {
            "type": "object"
          },
          "paired_data": {
            "type": "string",
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/api/v2/assets/aBeA23YCYjkGTFvYVHuAyU/paired-data/",
            "readOnly": true
          },
          "project_ownership": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true,
            "readOnly": true
          },
          "owner_label": {
            "type": "string",
            "readOnly": true
          },
          "last_modified_by": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          },
          "created_by": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          }
        },
        "required": [
          "access_types",
          "analysis_form_json",
          "asset_type",
          "assignable_permissions",
          "children",
          "created_by",
          "data",
          "deployed_version_id",
          "deployed_versions",
          "deployment__active",
          "deployment__data_download_links",
          "deployment__encrypted",
          "deployment__last_submission_time",
          "deployment__links",
          "deployment__submission_count",
          "deployment__uuid",
          "deployment_status",
          "downloads",
          "effective_permissions",
          "embeds",
          "export_settings",
          "exports",
          "files",
          "has_deployment",
          "hooks_link",
          "kind",
          "last_modified_by",
          "owner",
          "owner__username",
          "owner_label",
          "paired_data",
          "permissions",
          "project_ownership",
          "status",
          "subscribers_count",
          "summary",
          "uid",
          "url",
          "version__content_hash",
          "version_count",
          "version_id",
          "xform_link",
          "xls_link"
        ]
      },
      "AssetDeploymentStatusEnum": {
        "enum": [
          "archived",
          "deployed",
          "draft",
          "-"
        ],
        "type": "string",
        "description": "* `archived` - Archived\n* `deployed` - Deployed\n* `draft` - Draft\n* `-` - -"
      },
      "AssetExportSettings": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true
          },
          "data_url_csv": {
            "type": "string",
            "readOnly": true
          },
          "data_url_xlsx": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "export_settings": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "data_url_csv",
          "data_url_xlsx",
          "date_modified",
          "export_settings",
          "name",
          "uid",
          "url"
        ]
      },
      "AssetMetadataResponse": {
        "type": "object",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "sectors": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "organizations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "countries",
          "languages",
          "organizations",
          "sectors"
        ]
      },
      "AssetTypeEnum": {
        "enum": [
          "text",
          "empty",
          "question",
          "block",
          "survey",
          "template",
          "collection"
        ],
        "type": "string",
        "description": "* `text` - text\n* `empty` - empty\n* `question` - question\n* `block` - block\n* `survey` - survey\n* `template` - template\n* `collection` - collection"
      },
      "DataBulkUpdateResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "successes": {
            "type": "integer"
          },
          "failures": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string"
                },
                "status_code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "count",
          "failures",
          "results",
          "successes"
        ]
      },
      "DataResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer",
            "title": " id"
          },
          "formhub/uuid": {
            "type": "string"
          },
          "__version__": {
            "type": "string",
            "title": "  version  "
          },
          "meta/instanceID": {
            "type": "string"
          },
          "meta/rootUuid": {
            "type": "string"
          },
          "meta/deprecatedID": {
            "type": "string"
          },
          "_xform_id_string": {
            "type": "string",
            "title": " xform id string"
          },
          "_uuid": {
            "type": "string",
            "title": " uuid"
          },
          "_attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "download_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://kf.kobotoolbox.org/api/v2/assets/aTPPUDScaFZkvBzd8FyK4Q/data/18/attachments/1"
                },
                "download_large_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://kf.kobotoolbox.org/api/v2/assets/aTPPUDScaFZkvBzd8FyK4Q/data/18/attachments/attWNZNwhXK6HDYVkZJSn9jy/large/"
                },
                "download_medium_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://kf.kobotoolbox.org/api/v2/assets/aTPPUDScaFZkvBzd8FyK4Q/data/18/attachments/attWNZNwhXK6HDYVkZJSn9jy/medium/"
                },
                "download_small_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://kf.kobotoolbox.org/api/v2/assets/aTPPUDScaFZkvBzd8FyK4Q/data/18/attachments/attWNZNwhXK6HDYVkZJSn9jy/small/"
                },
                "mimetype": {
                  "type": "string",
                  "example": "image/png"
                },
                "media_file_basename": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                },
                "uid": {
                  "type": "string"
                },
                "question_xpath": {
                  "type": "string"
                },
                "is_deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "download_url",
                "filename",
                "media_file_basename",
                "mimetype",
                "question_xpath",
                "uid"
              ],
              "additional_properties": false
            },
            "title": " attachments"
          },
          "_status": {
            "type": "string",
            "title": " status"
          },
          "_geolocation": {
            "type": "array",
            "items": {
              "type": [
                "number",
                "null"
              ]
            },
            "minItems": 2,
            "maxItems": 2,
            "title": " geolocation"
          },
          "_submission_time": {
            "type": "string",
            "format": "date-time",
            "title": " submission time"
          },
          "_validation_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DataValidationStatus"
              },
              {
                "type": "object",
                "maxProperties": 0
              }
            ],
            "title": " validation status"
          },
          "_submitted_by": {
            "type": "string",
            "title": " submitted by"
          },
          "_supplementalDetails": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SupplementalDetailsManualTranscription"
              },
              {
                "$ref": "#/components/schemas/SupplementalDetailsManualTranslation"
              },
              {
                "$ref": "#/components/schemas/SupplementalDetailsAutomaticTranscription"
              },
              {
                "$ref": "#/components/schemas/SupplementalDetailsAutomaticTranslation"
              },
              {
                "$ref": "#/components/schemas/SupplementalDetailsManualQual"
              },
              {
                "$ref": "#/components/schemas/SupplementalDetailsAutomaticQual"
              }
            ],
            "nullable": true,
            "description": "Action-specific supplemental data attached to this submission. Structure varies by action type (transcription, translation, qual). Top-level keys are question XPaths, values are action objects.",
            "title": " supplementaldetails"
          }
        },
        "required": [
          "__version__",
          "_attachments",
          "_geolocation",
          "_id",
          "_status",
          "_submission_time",
          "_submitted_by",
          "_uuid",
          "_validation_status",
          "_xform_id_string",
          "meta/instanceID",
          "meta/rootUuid"
        ]
      },
      "DataSupplementAutomaticQualDataIntegerResponse": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "value": {
                "type": "integer",
                "nullable": true
              },
              "status": {
                "type": "string",
                "const": "complete"
              }
            },
            "additionalProperties": false,
            "required": [
              "status",
              "uuid",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "const": "failed"
              },
              "error": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "error",
              "status",
              "uuid"
            ]
          }
        ]
      },
      "DataSupplementAutomaticQualDataSelectMultipleResponse": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "value": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "status": {
                "type": "string",
                "const": "complete"
              }
            },
            "additionalProperties": false,
            "required": [
              "status",
              "uuid",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "const": "failed"
              },
              "error": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "error",
              "status",
              "uuid"
            ]
          }
        ]
      },
      "DataSupplementAutomaticQualDataSelectOneResponse": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "value": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "const": "complete"
              }
            },
            "additionalProperties": false,
            "required": [
              "status",
              "uuid",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "const": "failed"
              },
              "error": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "error",
              "status",
              "uuid"
            ]
          }
        ]
      },
      "DataSupplementAutomaticQualDataTextResponse": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "value": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "complete"
              }
            },
            "additionalProperties": false,
            "required": [
              "status",
              "uuid",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "const": "failed"
              },
              "error": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "error",
              "status",
              "uuid"
            ]
          }
        ]
      },
      "DataSupplementManualQualDataInteger": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "integer",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid",
          "value"
        ]
      },
      "DataSupplementManualQualDataSelectMultiple": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid",
          "value"
        ]
      },
      "DataSupplementManualQualDataSelectOne": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "string",
            "format": "uuid"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid",
          "value"
        ]
      },
      "DataSupplementManualQualDataTags": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid",
          "value"
        ]
      },
      "DataSupplementManualQualDataText": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "uuid",
          "value"
        ]
      },
      "DataValidationStatus": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          },
          "uid": {
            "$ref": "#/components/schemas/DataValidationStatusUidEnum"
          },
          "by_whom": {
            "type": "string"
          },
          "label": {
            "$ref": "#/components/schemas/DataValidationStatusLabelEnum"
          }
        },
        "required": [
          "timestamp",
          "uid",
          "label",
          "by_whom"
        ],
        "additionalProperties": false
      },
      "DataValidationStatusLabelEnum": {
        "enum": [
          "Not Approved",
          "Approved",
          "On Hold"
        ]
      },
      "DataValidationStatusUidEnum": {
        "enum": [
          "validation_status_not_approved",
          "validation_status_approved",
          "validation_status_on_hold"
        ]
      },
      "DataValidationStatusUpdateResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "uid": {
            "type": "string"
          },
          "by_whom": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "by_whom",
          "label",
          "timestamp",
          "uid"
        ]
      },
      "DeploymentResponse": {
        "type": "object",
        "properties": {
          "backend": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "version_id": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/Asset"
          }
        },
        "required": [
          "active",
          "asset",
          "backend",
          "version_id"
        ]
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "detail"
        ]
      },
      "PaginatedAssetList": {
        "type": "object",
        "required": [
          "count",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "example": 123
          },
          "next": {
            "type": [
              "string",
              "null"
            ],
            "nullable": true,
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/accounts/?start=400&limit=100"
          },
          "previous": {
            "type": [
              "string",
              "null"
            ],
            "nullable": true,
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/accounts/?start=200&limit=100"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        },
        "metadata": {
          "type": "object",
          "properties": {
            "languages": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "English (en)"
              ]
            },
            "countries": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                [
                  "FRA",
                  "France"
                ]
              ]
            },
            "sectors": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                [
                  "Public Administration",
                  "Public Administration"
                ]
              ]
            },
            "organizations": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "Kobotoolbox"
              ]
            }
          }
        }
      },
      "PaginatedDataResponseList": {
        "type": "object",
        "required": [
          "count",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "example": 123
          },
          "next": {
            "type": [
              "string",
              "null"
            ],
            "nullable": true,
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/accounts/?start=400&limit=100"
          },
          "previous": {
            "type": [
              "string",
              "null"
            ],
            "nullable": true,
            "format": "uri",
            "example": "https://kf.kobotoolbox.org/accounts/?start=200&limit=100"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataResponse"
            }
          }
        }
      },
      "PatchedDataBulkUpdate": {
        "type": "object",
        "properties": {
          "payload": {
            "type": "object",
            "properties": {
              "submission_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "data": {
                "type": "object",
                "properties": {
                  "field_to_update": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "SupplementalDataAutomaticQual": {
        "type": "object",
        "description": "Map of automatic question UUIDs to their action objects",
        "additionalProperties": {
          "$ref": "#/components/schemas/SupplementalDataAutomaticQualItem"
        },
        "patternProperties": {
          "^[0-9a-fA-F-]{36}$": {
            "$ref": "#/components/schemas/SupplementalDataAutomaticQualItem"
          }
        }
      },
      "SupplementalDataAutomaticQualItem": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemQualAutomatic"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataAutomaticTranscription": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemAutomatic"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataAutomaticTranslation": {
        "type": "object",
        "description": "Map of language codes to automatic translation objects",
        "additionalProperties": {
          "$ref": "#/components/schemas/SupplementalDataAutomaticTranslationItem"
        }
      },
      "SupplementalDataAutomaticTranslationItem": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemAutomaticWithDep"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataContentAutomatic": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SupplementalDataContentAutomaticInProgress"
          },
          {
            "$ref": "#/components/schemas/SupplementalDataContentAutomaticFailed"
          },
          {
            "$ref": "#/components/schemas/SupplementalDataContentAutomaticComplete"
          },
          {
            "$ref": "#/components/schemas/SupplementalDataContentAutomaticDeleted"
          }
        ]
      },
      "SupplementalDataContentAutomaticComplete": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "complete"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "language",
          "status",
          "value"
        ]
      },
      "SupplementalDataContentAutomaticDeleted": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "deleted"
          },
          "value": {
            "type": "null"
          }
        },
        "additionalProperties": false,
        "required": [
          "language",
          "status",
          "value"
        ]
      },
      "SupplementalDataContentAutomaticFailed": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "failed"
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "error",
          "language",
          "status"
        ]
      },
      "SupplementalDataContentAutomaticInProgress": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "in_progress"
          }
        },
        "additionalProperties": false,
        "required": [
          "language",
          "status"
        ]
      },
      "SupplementalDataContentManual": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "required": [
          "language",
          "value"
        ]
      },
      "SupplementalDataDependency": {
        "type": "object",
        "properties": {
          "_actionId": {
            "type": "string"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false,
        "required": [
          "_actionId",
          "_uuid"
        ]
      },
      "SupplementalDataManualQual": {
        "type": "object",
        "description": "Map of manual qualitative question UUIDs to their action objects",
        "additionalProperties": {
          "$ref": "#/components/schemas/SupplementalDataManualQualItem"
        },
        "patternProperties": {
          "^[0-9a-fA-F-]{36}$": {
            "$ref": "#/components/schemas/SupplementalDataManualQualItem"
          }
        }
      },
      "SupplementalDataManualQualItem": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemQual"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataManualTranscription": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemManual"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataManualTranslation": {
        "type": "object",
        "description": "Map of language codes to manual translation objects",
        "additionalProperties": {
          "$ref": "#/components/schemas/SupplementalDataManualTranslationItem"
        }
      },
      "SupplementalDataManualTranslationItem": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "_versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplementalDataVersionItemManualWithDep"
            },
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "_dateCreated",
          "_dateModified",
          "_versions"
        ]
      },
      "SupplementalDataQualData": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/DataSupplementManualQualDataInteger"
          },
          {
            "$ref": "#/components/schemas/DataSupplementManualQualDataText"
          },
          {
            "$ref": "#/components/schemas/DataSupplementManualQualDataSelectOne"
          },
          {
            "$ref": "#/components/schemas/DataSupplementManualQualDataSelectMultiple"
          },
          {
            "$ref": "#/components/schemas/DataSupplementManualQualDataTags"
          }
        ]
      },
      "SupplementalDataQualDataAutomatic": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/DataSupplementAutomaticQualDataIntegerResponse"
          },
          {
            "$ref": "#/components/schemas/DataSupplementAutomaticQualDataTextResponse"
          },
          {
            "$ref": "#/components/schemas/DataSupplementAutomaticQualDataSelectOneResponse"
          },
          {
            "$ref": "#/components/schemas/DataSupplementAutomaticQualDataSelectMultipleResponse"
          }
        ]
      },
      "SupplementalDataVersionItemAutomatic": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataContentAutomatic"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateCreated",
          "_uuid"
        ]
      },
      "SupplementalDataVersionItemAutomaticWithDep": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_dependency": {
            "$ref": "#/components/schemas/SupplementalDataDependency"
          },
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataContentAutomatic"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateCreated",
          "_dependency",
          "_uuid"
        ]
      },
      "SupplementalDataVersionItemManual": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataContentManual"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateAccepted",
          "_dateCreated",
          "_uuid"
        ]
      },
      "SupplementalDataVersionItemManualWithDep": {
        "type": "object",
        "properties": {
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_dependency": {
            "$ref": "#/components/schemas/SupplementalDataDependency"
          },
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataContentManual"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateAccepted",
          "_dateCreated",
          "_dependency",
          "_uuid"
        ]
      },
      "SupplementalDataVersionItemQual": {
        "type": "object",
        "properties": {
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataQualData"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateVerified": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateCreated",
          "_uuid"
        ]
      },
      "SupplementalDataVersionItemQualAutomatic": {
        "type": "object",
        "properties": {
          "_data": {
            "$ref": "#/components/schemas/SupplementalDataQualDataAutomatic"
          },
          "_dateAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "_dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "_dateVerified": {
            "type": "string",
            "format": "date-time"
          },
          "_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "_dependency": {
            "$ref": "#/components/schemas/SupplementalDataDependency"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "_data",
          "_dateCreated",
          "_uuid"
        ]
      },
      "SupplementalDetailsAutomaticQual": {
        "type": "object",
        "description": "Automatic qualitative supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "automatic_bedrock_qual": {
              "$ref": "#/components/schemas/SupplementalDataAutomaticQual"
            }
          },
          "required": [
            "automatic_bedrock_qual"
          ]
        }
      },
      "SupplementalDetailsAutomaticTranscription": {
        "type": "object",
        "description": "Automatic transcription supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "automatic_google_transcription": {
              "$ref": "#/components/schemas/SupplementalDataAutomaticTranscription"
            }
          },
          "required": [
            "automatic_google_transcription"
          ]
        }
      },
      "SupplementalDetailsAutomaticTranslation": {
        "type": "object",
        "description": "Automatic translation supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "automatic_google_translation": {
              "$ref": "#/components/schemas/SupplementalDataAutomaticTranslation"
            }
          },
          "required": [
            "automatic_google_translation"
          ]
        }
      },
      "SupplementalDetailsManualQual": {
        "type": "object",
        "description": "Manual qualitative supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "manual_qual": {
              "$ref": "#/components/schemas/SupplementalDataManualQual"
            }
          },
          "required": [
            "manual_qual"
          ]
        }
      },
      "SupplementalDetailsManualTranscription": {
        "type": "object",
        "description": "Manual transcription supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "manual_transcription": {
              "$ref": "#/components/schemas/SupplementalDataManualTranscription"
            }
          },
          "required": [
            "manual_transcription"
          ]
        }
      },
      "SupplementalDetailsManualTranslation": {
        "type": "object",
        "description": "Manual translation supplemental details",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "manual_translation": {
              "$ref": "#/components/schemas/SupplementalDataManualTranslation"
            }
          },
          "required": [
            "manual_translation"
          ]
        }
      }
    }
  }
}