{
  "openapi": "3.0.3",
  "info": {
    "title": "Mojatax VFD API (generated, focused)",
    "version": "1.0.0",
    "description": "Focused OpenAPI 3.0.3 for the Mojatax VFD (Virtual Fiscal Device) API used by the OpenFn mojatax adaptor to issue Tanzania Revenue Authority (TRA) fiscal receipts/invoices. The adaptor's post() helper prefixes every path with /client/, so endpoints are modelled under /client/. Vendor machine-readable docs are not published; this is a best-effort subset.",
    "x-openfn-adaptor": "mojatax"
  },
  "servers": [{ "url": "https://api.mojatax.com" }],
  "paths": {
    "/client/GetToken": {
      "post": {
        "operationId": "getToken",
        "summary": "Authenticate a business client and obtain an access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } }
            }
          }
        }
      }
    },
    "/client/CreateInvoice": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create a fiscal invoice/receipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/InvoiceInput" } }
          }
        },
        "responses": {
          "200": {
            "description": "The created invoice and its fiscal receipt details",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Invoice" } }
            }
          }
        }
      }
    },
    "/client/CancelInvoice": {
      "post": {
        "operationId": "cancelInvoice",
        "summary": "Cancel a previously issued invoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "invoice_id": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation result",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/OperationResult" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string", "example": "eyJhbGciOiJIUzI1NiIs..." },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "example": 3600 }
        }
      },
      "InvoiceInput": {
        "type": "object",
        "properties": {
          "invoice_id": { "type": "string", "example": "PID092" },
          "customerId": { "type": "string", "example": "102" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/InvoiceItem" }
          }
        }
      },
      "InvoiceItem": {
        "type": "object",
        "properties": {
          "description": { "type": "string", "example": "Consultation" },
          "quantity": { "type": "number", "example": 1 },
          "unitPrice": { "type": "number", "example": 15000 },
          "taxCode": { "type": "string", "example": "A" }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoice_id": { "type": "string", "example": "PID092" },
          "customerId": { "type": "string", "example": "102" },
          "status": { "type": "string", "example": "ISSUED" },
          "receiptNumber": { "type": "string", "example": "6789012345" },
          "receiptUrl": { "type": "string", "example": "https://verify.tra.go.tz/6789012345" },
          "totalAmount": { "type": "number", "example": 15000 },
          "issuedAt": { "type": "string", "format": "date-time" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/InvoiceItem" } }
        }
      },
      "OperationResult": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "Invoice cancelled" }
        }
      }
    }
  }
}
