{
  "openapi": "3.0.3",
  "info": {
    "title": "Telerivet REST API",
    "version": "v1",
    "description": "Focused OpenAPI description of the Telerivet REST API (https://api.telerivet.com/v1), authored from the Telerivet REST API documentation. Covers the message and contact endpoints used by the OpenFn telerivet adaptor (notably POST /projects/{project_id}/messages/send). Authentication is HTTP Basic where the API key is supplied as the username.",
    "x-openfn-adaptor": "telerivet"
  },
  "servers": [
    {
      "url": "https://api.telerivet.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyBasic": []
    }
  ],
  "paths": {
    "/projects/{project_id}/messages/send": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a single message",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message that was queued or sent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/send_broadcast": {
      "post": {
        "operationId": "sendBroadcast",
        "summary": "Send a broadcast to a group or list of numbers",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendBroadcastRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The broadcast that was created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Broadcast" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/send_multi": {
      "post": {
        "operationId": "sendMulti",
        "summary": "Send multiple distinct messages in a single request",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMultiRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result summary of the batch send",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMultiResult" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/messages": {
      "get": {
        "operationId": "queryMessages",
        "summary": "Query messages within a project",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "name": "direction", "in": "query", "schema": { "type": "string", "enum": ["incoming", "outgoing"] } },
          { "name": "message_type", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "contact_id", "in": "query", "schema": { "type": "string" } },
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "page_size", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "A page of messages",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageList" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/messages/{message_id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Retrieve a single message by ID",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "responses": {
          "200": {
            "description": "The requested message",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateMessage",
        "summary": "Update a message (e.g. star, custom vars)",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "$ref": "#/components/parameters/MessageId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated message",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/contacts": {
      "get": {
        "operationId": "queryContacts",
        "summary": "Query contacts within a project",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "name": "name", "in": "query", "schema": { "type": "string" } },
          { "name": "phone_number", "in": "query", "schema": { "type": "string" } },
          { "name": "count", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "page_size", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "A page of contacts",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "getOrCreateContact",
        "summary": "Retrieve or create a contact by phone number",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matched or newly created contact",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Retrieve a single contact by ID",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "$ref": "#/components/parameters/ContactId" }
        ],
        "responses": {
          "200": {
            "description": "The requested contact",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateContact",
        "summary": "Update an existing contact",
        "parameters": [
          { "$ref": "#/components/parameters/ProjectId" },
          { "$ref": "#/components/parameters/ContactId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated contact",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth where the Telerivet API key is supplied as the username and the password is left blank."
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "project_id",
        "in": "path",
        "required": true,
        "description": "The ID of the Telerivet project",
        "schema": { "type": "string" }
      },
      "MessageId": {
        "name": "message_id",
        "in": "path",
        "required": true,
        "description": "The ID of the message",
        "schema": { "type": "string" }
      },
      "ContactId": {
        "name": "contact_id",
        "in": "path",
        "required": true,
        "description": "The ID of the contact",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "description": "A Telerivet message object.",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "message" },
          "direction": { "type": "string", "enum": ["incoming", "outgoing"] },
          "status": { "type": "string", "example": "queued" },
          "message_type": { "type": "string", "example": "sms" },
          "source": { "type": "string" },
          "time_created": { "type": "integer", "description": "Unix timestamp" },
          "time_sent": { "type": "integer", "nullable": true },
          "from_number": { "type": "string", "nullable": true },
          "to_number": { "type": "string", "nullable": true },
          "content": { "type": "string", "nullable": true },
          "starred": { "type": "boolean" },
          "simulated": { "type": "boolean" },
          "label_ids": { "type": "array", "items": { "type": "string" } },
          "vars": { "type": "object", "additionalProperties": true },
          "route_id": { "type": "string", "nullable": true },
          "phone_id": { "type": "string", "nullable": true },
          "contact_id": { "type": "string", "nullable": true },
          "project_id": { "type": "string" }
        }
      },
      "MessageList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Message" }
          },
          "next_marker": { "type": "string", "nullable": true },
          "count_without_limit": { "type": "integer" }
        }
      },
      "Contact": {
        "type": "object",
        "description": "A Telerivet contact object.",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "contact" },
          "name": { "type": "string", "nullable": true },
          "phone_number": { "type": "string" },
          "time_created": { "type": "integer", "description": "Unix timestamp" },
          "time_updated": { "type": "integer" },
          "send_blocked": { "type": "boolean" },
          "conversation_status": { "type": "string" },
          "last_message_time": { "type": "integer", "nullable": true },
          "last_incoming_message_time": { "type": "integer", "nullable": true },
          "last_outgoing_message_time": { "type": "integer", "nullable": true },
          "message_count": { "type": "integer" },
          "group_ids": { "type": "array", "items": { "type": "string" } },
          "vars": { "type": "object", "additionalProperties": true },
          "default_route_id": { "type": "string", "nullable": true },
          "project_id": { "type": "string" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          },
          "next_marker": { "type": "string", "nullable": true },
          "count_without_limit": { "type": "integer" }
        }
      },
      "Broadcast": {
        "type": "object",
        "description": "A Telerivet broadcast object.",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "broadcast" },
          "recipients": {
            "type": "array",
            "items": { "type": "object", "additionalProperties": true }
          },
          "title": { "type": "string", "nullable": true },
          "time_created": { "type": "integer" },
          "last_message_time": { "type": "integer", "nullable": true },
          "status": { "type": "string" },
          "message_type": { "type": "string", "example": "sms" },
          "content": { "type": "string", "nullable": true },
          "message_count": { "type": "integer" },
          "estimated_count": { "type": "integer" },
          "vars": { "type": "object", "additionalProperties": true },
          "project_id": { "type": "string" }
        }
      },
      "SendMultiResult": {
        "type": "object",
        "description": "Summary result returned when sending multiple messages.",
        "properties": {
          "count_queued": { "type": "integer" },
          "broadcast_id": { "type": "string", "nullable": true }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": { "type": "string", "description": "The text content of the message" },
          "to_number": { "type": "string", "description": "Phone number to send the message to" },
          "contact_id": { "type": "string", "description": "ID of the contact to send the message to" },
          "message_type": { "type": "string", "enum": ["sms", "mms", "ussd", "call", "chat", "service"], "default": "sms" },
          "route_id": { "type": "string" },
          "phone_id": { "type": "string" },
          "status_url": { "type": "string" },
          "media_urls": { "type": "array", "items": { "type": "string" } },
          "vars": { "type": "object", "additionalProperties": true },
          "priority": { "type": "integer" }
        }
      },
      "SendBroadcastRequest": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": { "type": "string" },
          "to_numbers": { "type": "array", "items": { "type": "string" } },
          "group_id": { "type": "string" },
          "message_type": { "type": "string", "enum": ["sms", "mms", "ussd", "call", "chat", "service"], "default": "sms" },
          "route_id": { "type": "string" },
          "status_url": { "type": "string" },
          "vars": { "type": "object", "additionalProperties": true }
        }
      },
      "SendMultiRequest": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content": { "type": "string" },
                "to_number": { "type": "string" }
              }
            }
          },
          "message_type": { "type": "string", "enum": ["sms", "mms", "ussd", "call", "chat", "service"], "default": "sms" },
          "route_id": { "type": "string" }
        }
      },
      "UpdateMessageRequest": {
        "type": "object",
        "properties": {
          "starred": { "type": "boolean" },
          "vars": { "type": "object", "additionalProperties": true }
        }
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "phone_number": { "type": "string" },
          "send_blocked": { "type": "boolean" },
          "conversation_status": { "type": "string" },
          "default_route_id": { "type": "string" },
          "vars": { "type": "object", "additionalProperties": true }
        }
      }
    }
  }
}
