{
  "openapi": "3.0.3",
  "info": {
    "title": "Magpi Outbound & Inbound API",
    "version": "3.0.0",
    "description": "OpenAPI description of the Magpi (magpi.com, formerly DataDyne / EpiSurveyor) mobile data collection API surface used by the OpenFn language-magpi adaptor. The adaptor's `fetchSurveyData` operation POSTs form-encoded credentials to the Get Survey Data endpoint (https://www.magpi.com/api/surveydata/v3) and receives an XML `SurveyDataList` document, which the adaptor parses to JSON. Its `submitRecord` operation POSTs an XML record to the Inbound `mobileApi/uploadData` endpoint. The upstream API is XML-based; response schemas here model the JSON shape the adaptor produces after XML->JSON conversion so they can seed mock collections.",
    "x-openfn-adaptor": "magpi"
  },
  "servers": [
    {
      "url": "https://www.magpi.com",
      "description": "Magpi production API base"
    }
  ],
  "paths": {
    "/api/surveydata/v3": {
      "post": {
        "operationId": "fetchSurveyData",
        "summary": "Get survey data (v3)",
        "description": "Fetches submission records for a form/survey. Credentials and filters are sent as an application/x-www-form-urlencoded body (username, accesstoken, surveyid, startdate, enddate). The upstream response is XML; the adaptor converts it to the JSON shape modelled here.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/SurveyDataRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey data list for the requested survey.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SurveyDataList" }
              }
            }
          }
        }
      }
    },
    "/api/surveydata/v2": {
      "post": {
        "operationId": "fetchSurveyDataV2",
        "summary": "Get survey data (v2, includes sub-form data)",
        "description": "Version 2 of Get Survey Data, which additionally returns sub-form (repeating group) data. Same form-encoded request parameters as v3.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/SurveyDataRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey data list including sub-form data.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SurveyDataList" }
              }
            }
          }
        }
      }
    },
    "/api/surveydata": {
      "post": {
        "operationId": "fetchSurveyDataV1",
        "summary": "Get survey data (v1)",
        "description": "Version 1 of the Get Survey Data endpoint. Returns top-level submission records for a survey using the same form-encoded credentials and date filters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/SurveyDataRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey data list for the requested survey.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SurveyDataList" }
              }
            }
          }
        }
      }
    },
    "/mobileApi/uploadData": {
      "post": {
        "operationId": "submitRecord",
        "summary": "Upload / submit a record to an existing form",
        "description": "Inbound API endpoint. The adaptor serialises the supplied JSON payload to an XML `<form>` document and POSTs it here using the configured username/password. Submits a single record against a form/survey that already exists in the Magpi account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": { "$ref": "#/components/schemas/RecordUpload" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UploadResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SurveyDataRequest": {
        "type": "object",
        "description": "Form-encoded request parameters for the Get Survey Data endpoints.",
        "required": ["username", "accesstoken", "surveyid"],
        "properties": {
          "username": {
            "type": "string",
            "description": "Magpi username that owns the access token.",
            "example": "testuser"
          },
          "accesstoken": {
            "type": "string",
            "description": "API access token generated for the user.",
            "example": "yt72xk536RUPpKscMUof"
          },
          "surveyid": {
            "type": "string",
            "description": "Identifier of the survey/form whose data is being fetched.",
            "example": "37479"
          },
          "startdate": {
            "type": "string",
            "format": "date",
            "description": "Only return submissions on or after this date (must be used with enddate).",
            "example": "2017-09-27"
          },
          "enddate": {
            "type": "string",
            "format": "date",
            "description": "Only return submissions on or before this date (must be used with startdate).",
            "example": "2017-10-27"
          },
          "start": {
            "type": "integer",
            "description": "Pagination offset (index of first record to return).",
            "example": 0
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of records to return.",
            "example": 100
          }
        }
      },
      "SurveyDataList": {
        "type": "object",
        "description": "Container returned by the Get Survey Data endpoints (XML SurveyDataList, converted to JSON).",
        "properties": {
          "SurveyData": {
            "type": "array",
            "description": "Submission records. Upstream XML may return a single object or an array; the adaptor normalises to an array.",
            "items": { "$ref": "#/components/schemas/SurveyData" }
          }
        }
      },
      "SurveyData": {
        "type": "object",
        "description": "A single survey submission. Answer fields are dynamic per form, so arbitrary string-valued properties are permitted alongside the well-known metadata fields.",
        "properties": {
          "SubmissionId": {
            "type": "string",
            "description": "Unique identifier of the submission.",
            "example": "9911002"
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Timestamp the submission was received.",
            "example": "2017-09-28 14:03:11"
          },
          "LastSubmissionDate": {
            "type": "string",
            "description": "Timestamp of the most recent submission in the list; the adaptor stores this as state.lastSubmissionDate for incremental fetches.",
            "example": "2017-10-01 09:15:00"
          },
          "surveyId": {
            "type": "string",
            "description": "Survey identifier, stamped onto each record by the adaptor.",
            "example": "37479"
          },
          "source": {
            "type": "string",
            "description": "Source label stamped onto each record by the adaptor.",
            "example": "Magpi API"
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Form-specific answer values keyed by question/field name."
        }
      },
      "RecordUpload": {
        "type": "object",
        "description": "A record to submit to an existing form. The adaptor serialises this JSON object into an XML <form> element. Field names correspond to the target form's questions.",
        "properties": {
          "surveyid": {
            "type": "string",
            "description": "Identifier of the form/survey to submit against.",
            "example": "37479"
          },
          "data": {
            "type": "object",
            "description": "Answer values keyed by field name.",
            "additionalProperties": { "type": "string" }
          }
        },
        "additionalProperties": true
      },
      "UploadResponse": {
        "type": "object",
        "description": "Result of an inbound uploadData submission.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Outcome status of the upload.",
            "example": "success"
          },
          "recordId": {
            "type": "string",
            "description": "Identifier assigned to the newly created record.",
            "example": "9911003"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result message.",
            "example": "Record uploaded successfully."
          }
        }
      }
    }
  }
}
