{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Cloud API (OpenFn whatsapp adaptor)",
    "version": "v20.0",
    "description": "Subset of the Meta WhatsApp Business Cloud API (Graph API) exercised by the OpenFn `@openfn/language-whatsapp` adaptor. The adaptor exposes a single generic `request(method, path, body, options)` operation against the Graph API base URL; this spec models the concrete endpoints jobs call through it: sending messages (text, template, media, interactive), uploading/retrieving/deleting media, and registering/deregistering a business phone number. Authored from Meta developer documentation (Meta does not publish an official OpenAPI 3.x spec).",
    "x-openfn-adaptor": "whatsapp"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v20.0",
      "description": "Meta Graph API base URL (version-pinned). Replace v20.0 with the Graph API version configured for the connection."
    }
  ],
  "paths": {
    "/{phoneNumberId}/messages": {
      "parameters": [
        {
          "name": "phoneNumberId",
          "in": "path",
          "required": true,
          "description": "The business phone number ID that sends the message.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a WhatsApp message",
        "description": "Send a message (text, template, media, interactive, location, contacts, reaction) or mark an inbound message as read via the `status` field.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted for delivery.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/media": {
      "parameters": [
        {
          "name": "phoneNumberId",
          "in": "path",
          "required": true,
          "description": "The business phone number ID that owns the media.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media",
        "description": "Upload a media file (image, video, audio, document, sticker) to obtain a media ID that can be attached to a message.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/MediaUploadRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media uploaded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaUploadResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/{mediaId}": {
      "parameters": [
        {
          "name": "mediaId",
          "in": "path",
          "required": true,
          "description": "The media object ID.",
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "operationId": "getMedia",
        "summary": "Retrieve media URL",
        "description": "Retrieve a temporary download URL and metadata for a previously uploaded or received media object. The URL is valid for 5 minutes.",
        "responses": {
          "200": {
            "description": "Media metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaInfo" }
              }
            }
          },
          "404": {
            "description": "Media not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete media",
        "description": "Delete a media object by its ID.",
        "responses": {
          "200": {
            "description": "Media deleted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuccessResponse" }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/register": {
      "parameters": [
        {
          "name": "phoneNumberId",
          "in": "path",
          "required": true,
          "description": "The business phone number ID to register.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "operationId": "registerPhoneNumber",
        "summary": "Register a business phone number",
        "description": "Register a verified business phone number with the Cloud API using a 6-digit PIN. Limited to 10 requests per number in a 72-hour window.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number registered.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuccessResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/{phoneNumberId}/deregister": {
      "parameters": [
        {
          "name": "phoneNumberId",
          "in": "path",
          "required": true,
          "description": "The business phone number ID to deregister.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "operationId": "deregisterPhoneNumber",
        "summary": "Deregister a business phone number",
        "description": "Deregister a business phone number from the Cloud API.",
        "responses": {
          "200": {
            "description": "Phone number deregistered.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuccessResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Meta system-user or user access token passed as `Authorization: Bearer {token}`."
      }
    },
    "schemas": {
      "MessageRequest": {
        "type": "object",
        "required": ["messaging_product"],
        "description": "Body for POST /{phoneNumberId}/messages. The set of fields present depends on `type` (or `status` for read receipts).",
        "properties": {
          "messaging_product": {
            "type": "string",
            "enum": ["whatsapp"],
            "description": "Always `whatsapp`."
          },
          "recipient_type": {
            "type": "string",
            "enum": ["individual"],
            "default": "individual"
          },
          "to": {
            "type": "string",
            "description": "Recipient WhatsApp phone number in E.164 (no + required), e.g. `254712345678`."
          },
          "type": {
            "type": "string",
            "enum": ["text", "template", "image", "audio", "video", "document", "sticker", "location", "contacts", "interactive", "reaction"],
            "description": "Message type. Determines which content object must be present."
          },
          "text": { "$ref": "#/components/schemas/TextObject" },
          "template": { "$ref": "#/components/schemas/TemplateObject" },
          "image": { "$ref": "#/components/schemas/MediaObject" },
          "audio": { "$ref": "#/components/schemas/MediaObject" },
          "video": { "$ref": "#/components/schemas/MediaObject" },
          "document": { "$ref": "#/components/schemas/MediaObject" },
          "sticker": { "$ref": "#/components/schemas/MediaObject" },
          "interactive": { "$ref": "#/components/schemas/InteractiveObject" },
          "location": { "$ref": "#/components/schemas/LocationObject" },
          "reaction": { "$ref": "#/components/schemas/ReactionObject" },
          "context": {
            "type": "object",
            "description": "Reference to a prior message to reply to.",
            "properties": {
              "message_id": { "type": "string" }
            }
          },
          "status": {
            "type": "string",
            "enum": ["read"],
            "description": "Set to `read` (with `message_id`) to mark an inbound message as read instead of sending content."
          },
          "message_id": {
            "type": "string",
            "description": "ID of the inbound message to mark as read (used with `status: read`)."
          }
        }
      },
      "TextObject": {
        "type": "object",
        "required": ["body"],
        "properties": {
          "body": { "type": "string", "description": "Message text (up to 4096 characters)." },
          "preview_url": { "type": "boolean", "description": "Render link previews for URLs in the body." }
        }
      },
      "TemplateObject": {
        "type": "object",
        "required": ["name", "language"],
        "properties": {
          "name": { "type": "string", "description": "Registered template name, e.g. `hello_world`." },
          "language": {
            "type": "object",
            "required": ["code"],
            "properties": {
              "code": { "type": "string", "description": "BCP-47 language/locale code, e.g. `en_US`." }
            }
          },
          "components": {
            "type": "array",
            "description": "Header/body/button parameter components.",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string", "enum": ["header", "body", "button"] },
                "sub_type": { "type": "string" },
                "index": { "type": "string" },
                "parameters": {
                  "type": "array",
                  "items": { "type": "object", "additionalProperties": true }
                }
              }
            }
          }
        }
      },
      "MediaObject": {
        "type": "object",
        "description": "Media reference for image/audio/video/document/sticker messages. Provide either `id` (uploaded media) or `link` (public URL).",
        "properties": {
          "id": { "type": "string", "description": "Uploaded media ID." },
          "link": { "type": "string", "format": "uri", "description": "Public HTTPS URL to the media." },
          "caption": { "type": "string", "description": "Caption (image/video/document)." },
          "filename": { "type": "string", "description": "Document filename." }
        }
      },
      "InteractiveObject": {
        "type": "object",
        "required": ["type"],
        "description": "Interactive message (buttons, list, product, etc.).",
        "properties": {
          "type": { "type": "string", "enum": ["button", "list", "product", "product_list", "cta_url", "flow"] },
          "header": { "type": "object", "additionalProperties": true },
          "body": {
            "type": "object",
            "properties": { "text": { "type": "string" } }
          },
          "footer": {
            "type": "object",
            "properties": { "text": { "type": "string" } }
          },
          "action": { "type": "object", "additionalProperties": true }
        }
      },
      "LocationObject": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "name": { "type": "string" },
          "address": { "type": "string" }
        }
      },
      "ReactionObject": {
        "type": "object",
        "required": ["message_id", "emoji"],
        "properties": {
          "message_id": { "type": "string", "description": "ID of the message to react to." },
          "emoji": { "type": "string", "description": "Emoji to apply, or empty string to remove." }
        }
      },
      "MessageResponse": {
        "type": "object",
        "description": "Successful response from POST /{phoneNumberId}/messages.",
        "properties": {
          "messaging_product": { "type": "string", "example": "whatsapp" },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "input": { "type": "string", "description": "The number provided in the request." },
                "wa_id": { "type": "string", "description": "The normalized WhatsApp ID for the contact." }
              }
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "description": "The message ID (wamid...)." },
                "message_status": {
                  "type": "string",
                  "enum": ["accepted", "held_for_quality_assessment", "paused"],
                  "description": "Status of the message when a template quality pause is in effect."
                }
              }
            }
          }
        }
      },
      "MediaUploadRequest": {
        "type": "object",
        "required": ["messaging_product", "file", "type"],
        "properties": {
          "messaging_product": { "type": "string", "enum": ["whatsapp"] },
          "file": { "type": "string", "format": "binary", "description": "The media file to upload." },
          "type": { "type": "string", "description": "MIME type of the file, e.g. `image/jpeg`." }
        }
      },
      "MediaUploadResponse": {
        "type": "object",
        "description": "Response from POST /{phoneNumberId}/media.",
        "properties": {
          "id": { "type": "string", "description": "The uploaded media ID." }
        }
      },
      "MediaInfo": {
        "type": "object",
        "description": "Response from GET /{mediaId}.",
        "properties": {
          "messaging_product": { "type": "string", "example": "whatsapp" },
          "url": { "type": "string", "format": "uri", "description": "Temporary download URL (valid for 5 minutes)." },
          "mime_type": { "type": "string" },
          "sha256": { "type": "string" },
          "file_size": { "type": "integer", "description": "File size in bytes." },
          "id": { "type": "string" }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["messaging_product", "pin"],
        "properties": {
          "messaging_product": { "type": "string", "enum": ["whatsapp"] },
          "pin": { "type": "string", "description": "6-digit two-step verification PIN.", "pattern": "^[0-9]{6}$" }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "description": "Generic boolean success response used by register, deregister, and delete-media.",
        "properties": {
          "success": { "type": "boolean", "example": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard Graph API error envelope.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string" },
              "code": { "type": "integer" },
              "error_subcode": { "type": "integer" },
              "error_data": {
                "type": "object",
                "properties": {
                  "messaging_product": { "type": "string" },
                  "details": { "type": "string" }
                }
              },
              "fbtrace_id": { "type": "string" }
            }
          }
        }
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
