{
  "openapi": "3.0.3",
  "info": {
    "title": "SIUBEN (Sistema Único de Beneficiarios) API",
    "version": "1.0.0",
    "description": "Synthesized OpenAPI description of the SIUBEN API surface targeted by the OpenFn siuben-rd adaptor. SIUBEN is the Dominican Republic's Sistema Único de Beneficiarios — the national social beneficiary registry that identifies, characterizes and scores households (via the Índice de Calidad de Vida / Quality of Life Index) for eligibility to social programs and subsidies. The adaptor authenticates against POST /authenticate (username/password -> bearer Token) and then issues generic bearer-authenticated GET/request calls. Only /authenticate is confirmed from the adaptor source; the beneficiary/household/ICV consultation endpoints are synthesized from SIUBEN's documented public functions and are intended for mocking, not live traffic.",
    "x-openfn-adaptor": "siuben-rd"
  },
  "servers": [
    {
      "url": "https://api.siuben.gob.do",
      "description": "Mock placeholder base URL. The real base URL is supplied per-connection via the adaptor's `configuration.baseUrl`."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["username", "password"],
        "properties": {
          "username": { "type": "string" },
          "password": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string",
            "description": "Bearer token used for subsequent Authorization headers."
          },
          "Expiration": { "type": "string", "format": "date-time" }
        }
      },
      "Beneficiario": {
        "type": "object",
        "properties": {
          "cedula": {
            "type": "string",
            "description": "National ID (cédula) of the beneficiary.",
            "example": "00112345678"
          },
          "nombres": { "type": "string" },
          "apellidos": { "type": "string" },
          "sexo": { "type": "string", "enum": ["M", "F"] },
          "fechaNacimiento": { "type": "string", "format": "date" },
          "hogarId": { "type": "string" },
          "estatus": {
            "type": "string",
            "description": "Registration status of the beneficiary.",
            "example": "REGISTRADO"
          }
        }
      },
      "Hogar": {
        "type": "object",
        "properties": {
          "hogarId": { "type": "string" },
          "jefeHogarCedula": { "type": "string" },
          "provincia": { "type": "string" },
          "municipio": { "type": "string" },
          "sector": { "type": "string" },
          "direccion": { "type": "string" },
          "cantidadMiembros": { "type": "integer" },
          "icv": { "$ref": "#/components/schemas/Icv" }
        }
      },
      "MiembroHogar": {
        "type": "object",
        "properties": {
          "cedula": { "type": "string" },
          "nombres": { "type": "string" },
          "apellidos": { "type": "string" },
          "parentesco": {
            "type": "string",
            "description": "Relationship to the head of household.",
            "example": "HIJO"
          },
          "edad": { "type": "integer" }
        }
      },
      "Icv": {
        "type": "object",
        "description": "Índice de Calidad de Vida (Quality of Life Index) classification for a household.",
        "properties": {
          "hogarId": { "type": "string" },
          "puntaje": {
            "type": "number",
            "description": "Score on a 0–100 scale.",
            "example": 42.7
          },
          "categoria": {
            "type": "string",
            "description": "ICV poverty category.",
            "example": "ICV-2"
          },
          "cisehVersion": { "type": "string", "example": "CISEH-2023" }
        }
      },
      "ListaBeneficiarios": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Beneficiario" }
          }
        }
      },
      "ListaMiembros": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MiembroHogar" }
          }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/authenticate": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate and obtain a bearer token",
        "description": "Confirmed from the adaptor source: the siuben-rd adaptor POSTs username/password and reads the `Token` field from the response body for subsequent bearer-authenticated requests.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication succeeded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthResponse" }
              }
            }
          }
        }
      }
    },
    "/beneficiarios": {
      "get": {
        "operationId": "listBeneficiarios",
        "summary": "List/search beneficiaries",
        "parameters": [
          {
            "name": "cedula",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by national ID."
          },
          {
            "name": "provincia",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of beneficiaries.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListaBeneficiarios" }
              }
            }
          }
        }
      }
    },
    "/beneficiarios/{cedula}": {
      "get": {
        "operationId": "getBeneficiario",
        "summary": "Get a beneficiary by cédula",
        "parameters": [
          {
            "name": "cedula",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The beneficiary record.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Beneficiario" }
              }
            }
          }
        }
      }
    },
    "/hogares/{hogarId}": {
      "get": {
        "operationId": "getHogar",
        "summary": "Get a household by id",
        "parameters": [
          {
            "name": "hogarId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The household record.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Hogar" }
              }
            }
          }
        }
      }
    },
    "/hogares/{hogarId}/miembros": {
      "get": {
        "operationId": "getHogarMiembros",
        "summary": "List members of a household",
        "parameters": [
          {
            "name": "hogarId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The household members.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListaMiembros" }
              }
            }
          }
        }
      }
    },
    "/icv/{hogarId}": {
      "get": {
        "operationId": "getIcv",
        "summary": "Get the Quality of Life Index (ICV) for a household",
        "parameters": [
          {
            "name": "hogarId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The ICV classification.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Icv" }
              }
            }
          }
        }
      }
    }
  }
}
