{
  "openapi": "3.1.0",
  "info": {
    "title": "Mailgun API (subset)",
    "version": "3.0.0",
    "description": "Focused subset of the official Mailgun OpenAPI 3.1.0 specification covering the endpoints used by the @openfn/language-mailgun adaptor: sending messages, retrieving stored messages, and managing mailing lists and their members.",
    "x-openfn-adaptor": "mailgun"
  },
  "servers": [
    {
      "url": "https://api.mailgun.net",
      "description": "US Mailgun"
    },
    {
      "url": "https://api.eu.mailgun.net",
      "description": "EU Mailgun"
    }
  ],
  "paths": {
    "/v3/{domain_name}/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send an email",
        "description": "Pass the components of the messages such as To, From, Subject, HTML, text parts, attachments, etc. Mailgun will build a MIME representation of the message and send it. In order to send you must provide one of the following parameters: 'text', 'html', 'amp-html' or 'template'. Important: Send options (parameters starting with o:, h:, v:, or t:) are limited to 16KB total",
        "operationId": "POST-v3--domain-name--messages",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name used to send the message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/POST-v3-domain_name-messages-multipart-form-data-RequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": "message-id",
                      "message": "Queued. Thank you."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "A simple message describing the issue - A few examples:'to parameter is not a valid address. please check documentation.' 'Only one parameters 'html' or 'template' is allowed.' 'Need at least one of 'text', 'html', 'amp-html' or 'template' parameters specified.' 'from parameter is missing. ''Send options (parameters starting with o:, h:, or v:) are limited to 16KB total'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "A 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/string"
                },
                "examples": {
                  "Example": {
                    "value": "Forbidden"
                  }
                }
              }
            }
          },
          "429": {
            "description": "A 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Domain example.com is not allowed to send: account-requests-per-sec limit exceeded, try again after 120 seconds"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "A 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/{domain_name}/messages.mime": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send an email in MIME format",
        "description": "Build a MIME string yourself using a MIME library and submit it to Mailgun. Important: Send options (parameters starting with o:, h:, v:, or t:) are limited to 16KB total",
        "operationId": "POST-v3--domain-name--messages-mime",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name used to send the message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/POST-v3-domain_name-messages-mime-multipart-form-data-RequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": "message-id",
                      "message": "Queued. Thank you."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "A simple message describing the issue - A few examples:'to parameter is not a valid address. please check documentation.' 'Only one parameters 'html' or 'template' is allowed.' 'Need at least one of 'text', 'html', 'amp-html' or 'template' parameters specified.' 'from parameter is missing. ''Send options (parameters starting with o:, h:, or v:) are limited to 16KB total'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "A 401 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/string"
                },
                "examples": {
                  "Example": {
                    "value": "Forbidden"
                  }
                }
              }
            }
          },
          "429": {
            "description": "A 429 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Domain example.com is not allowed to send: account-requests-per-sec limit exceeded, try again after 120 seconds"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "A 500 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/domains/{domain_name}/messages/{storage_key}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Retrieve a stored email",
        "description": "Event(s) created from sending an email with Mailgun will contain a `storage.key` to use to retrieve the email.",
        "operationId": "GET-v3-domains--domain-name--messages--storage-key-",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name that was used to send the email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage_key",
            "in": "path",
            "description": "Storage key from the email's associated events (Example: Accepted/Delivered events `storage.key` field). Note: Storage keys are available for the duration of your domain's message retention policy.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBasicExample"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "Content-Transfer-Encoding": "7bit",
                      "Content-Type": "multipart/form-data; boundary=----SomeFormBoundaryABC123",
                      "From": "foo.bar@my-domain.com",
                      "Message-Id": "<xxxxxxxxxxxxx.111111111111111@my-domain.com>",
                      "Mime-Version": "1.0",
                      "Subject": "\"Mailgun is awesome\"",
                      "To": "Cool Bar <cool.barr@cool.com>, bar.baz@gmail.com",
                      "X-Mailgun-Tag": "Earth",
                      "sender": "foo.bar@my-domain.com",
                      "recipients": "cool.barr@cool.com, bar.baz@gmail.com",
                      "body-html": "<html>This is some html</html>",
                      "body-plain": "This is some html",
                      "stripped-html": "<html>This is some html</html>",
                      "stripped-text": "This is some html",
                      "stripped-signature": "the signature block stripped from the plain text message (if found)",
                      "message-headers": [
                        [
                          "Mime-Version",
                          "1.0"
                        ],
                        [
                          "Subject",
                          "\"Mailgun is awesome\""
                        ],
                        [
                          "From",
                          "foo.bar@my-domain.com"
                        ],
                        [
                          "To",
                          "cool.barr@cool.com, bar.baz@gmail.com"
                        ],
                        [
                          "X-Mailgun-Tag",
                          "Earth"
                        ],
                        [
                          "Message-Id",
                          "<xxxxxxxxxxxxx.111111111111111@my-domain.com>"
                        ],
                        [
                          "Content-Transfer-Encoding",
                          "7bit"
                        ],
                        [
                          "Content-Type",
                          "text/html; charset=ascii"
                        ]
                      ],
                      "X-Mailgun-Template-Name": "my-awesome-template",
                      "X-Mailgun-Template-Variables": "{\"name\":\"Foo\",\"phrase\":\"Bar\"}"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A 400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "A 404 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Message not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Resend an email",
        "operationId": "POST-v3-domains--domain-name--messages--storage-key-",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name used to send the message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage_key",
            "in": "path",
            "description": "Storage key from the email's associated events (Example: Accepted/Delivered events `storage.key` field). Note: Storage keys are available for the duration of your domain's message retention policy.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/POST-v3-domains-domain_name-messages-storage_key-multipart-form-data-RequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": "message-id",
                      "message": "Queued. Thank you."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/lists": {
      "post": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Create a mailing list",
        "description": "Adds a mailing list to the account.",
        "operationId": "post-v3-lists",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "A valid email address for the mailing list, e.g. developers@mailgun.net, or Developers <devs@mg.net>"
                  },
                  "name": {
                    "type": "string",
                    "description": "Mailing list name, e.g. Developers"
                  },
                  "description": {
                    "type": "string",
                    "description": "A description"
                  },
                  "access_level": {
                    "type": "string",
                    "description": "List access level, one of: readonly, members, everyone. Defaults to readonly"
                  },
                  "reply_preference": {
                    "type": "string",
                    "description": "Set where replies should go: list or sender. Defaults to list"
                  }
                },
                "required": [
                  "address"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "address": "developers@mailgun.net",
                    "name": "Developers",
                    "description": "Describe the mailing list",
                    "access_level": "readonly",
                    "reply_preference": "list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailing list creation success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "$ref": "#/components/schemas/MailingListResponse"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "list": {
                        "address": "developers@mailgun.net",
                        "name": "Developers",
                        "description": "Describe the mailing list",
                        "access_level": "readonly",
                        "reply_preference": "list",
                        "created_at": "Tue, 09 Aug 2011 20:50:27 -0000",
                        "members_count": 2
                      },
                      "message": "Mailing list has been created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "message": "Invalid access level 'fake_access_level'. It can be any of: 'readonly', 'members', 'everyone'."
                    }
                  },
                  "Example 2": {
                    "value": {
                      "message": "Invalid reply preference 'wrong_preference'. It can be any of: 'sender', 'list'"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Get mailing lists",
        "description": "A mailing list is a group of members (recipients) which itself has an email address. This address becomes an ID for this mailing list.",
        "operationId": "get-v3-lists",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Set limit for the list length returned. Defaults to 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip the first n values in the list. Defaults to 0.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Filter mailing lists matching a specific address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MailingListResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "total_count": 1,
                      "items": [
                        {
                          "address": "developers@mailgun.net",
                          "name": "Developers",
                          "description": "Describe the mailing list",
                          "access_level": "readonly",
                          "reply_preference": "list",
                          "created_at": "Tue, 09 Aug 2011 20:50:27 -0000",
                          "members_count": 2
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/lists/{list_address}": {
      "put": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Update a mailing list",
        "description": "Update mailing list properties, such as address, description or name",
        "operationId": "put-v3-lists-address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The new mailing list address."
                  },
                  "description": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "access_level": {
                    "type": "string",
                    "description": "One of: readonly, members, everyone. Defaults to readonly."
                  },
                  "reply_reference": {
                    "type": "string",
                    "description": "Set where replies should go. Can be list or sender. Defaults to list."
                  },
                  "list-id": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "address": "developers@mailgun.net",
                    "name": "Developers",
                    "description": "Describe the mailing list",
                    "access_level": "readonly",
                    "reply_preference": "list",
                    "list_id": "123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "list": {
                      "$ref": "#/components/schemas/MailingListResponse"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Mailing list has been updated",
                      "list": {
                        "address": "developers@mailgun.net",
                        "name": "Developers",
                        "description": "Describe the mailing list",
                        "access_level": "readonly",
                        "reply_preference": "list",
                        "created_at": "Tue, 09 Aug 2011 20:50:27 -0000",
                        "members_count": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Mailing list developers@mailgun.net not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Delete a mailing list",
        "description": "Deletes a mailing list",
        "operationId": "delete-v3-lists-address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The email address of the mailing list"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "address": "developers@mailgun.net",
                      "message": "Mailing list has been removed"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Mailing list developers@mailgun.net not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Get a mailing list by address",
        "description": "Returns the matching mailing list for the given address",
        "operationId": "get-v3-lists-address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "$ref": "#/components/schemas/MailingListResponse"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "list": {
                        "address": "developers@mailgun.net",
                        "name": "Developers",
                        "description": "Describe the mailing list",
                        "access_level": "readonly",
                        "reply_preference": "list",
                        "created_at": "Tue, 09 Aug 2011 20:50:27 -0000",
                        "members_count": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Mailing list developers@mailgun.net not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/lists/{list_address}/members": {
      "get": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Get mailing lists members",
        "description": "Lists members in a given mailing list",
        "operationId": "get-lists-string:list_address-members",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A valid email address specification.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Filtering list on whether the member is subscribed or not.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return. Max is 100. Defaults to 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "description": "Total number of members in the mailing list"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListMemberResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "total_count": 1,
                      "items": [
                        {
                          "address": "alice@example.com",
                          "name": "Alice",
                          "vars": {
                            "gender": "female",
                            "age": 27
                          },
                          "subscribed": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Create a mailing list member",
        "description": "Adds a new member to the mailing list.  For adding many list members, consider bulk upload endpoints \"POST /v3/lists/{list_address}/members.json\" or \"members.csv\".",
        "operationId": "post-lists-string:list_address-members",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Valid email address specification."
                  },
                  "name": {
                    "type": "string",
                    "description": "An optional member name."
                  },
                  "vars": {
                    "type": "object",
                    "description": "JSON-encoded dictionary string with arbitrary parameters."
                  },
                  "subscribed": {
                    "type": "boolean",
                    "description": "Set the member as subscribed or not. Defaults to true."
                  },
                  "upsert": {
                    "type": "boolean",
                    "description": "Set to True to update member if present, False to raise error in case of a duplicate member. Defaults to false."
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "address": "alice@example.com",
                    "name": "Alice",
                    "vars": {
                      "gender": "female",
                      "age": 27
                    },
                    "subscribed": true,
                    "upsert": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/ListMemberResponse"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "member": {
                        "address": "alice@example.com",
                        "name": "Alice",
                        "vars": {
                          "gender": "female",
                          "age": 27
                        },
                        "subscribed": true
                      },
                      "message": "Mailing list member has been created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Address already exists 'alice@example.com'"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v3/lists/{list_address}/members/{member_address}": {
      "get": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Get a member",
        "description": "Get details about a specific mailing list member",
        "operationId": "get-lists-list_address-members-member_address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_address",
            "in": "path",
            "description": "The member's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMemberResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "address": "alice@example.com",
                      "name": "Alice",
                      "vars": {
                        "gender": "female",
                        "age": 27
                      },
                      "subscribed": true
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Update a mailing list member",
        "description": "Updates a mailing list member with the given properties. Existing properties not included in the request will not be changed.",
        "operationId": "put-lists-list_address-members-member_address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_address",
            "in": "path",
            "description": "The member's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "A valid email address specification."
                  },
                  "name": {
                    "type": "string",
                    "description": "An optional member name."
                  },
                  "vars": {
                    "type": "object",
                    "description": "JSON-encoded dictionary string with arbitrary parameters."
                  },
                  "subscribed": {
                    "type": "boolean",
                    "description": "Set the member to subscribed or not. Defaults to True."
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "address": "alice@example.com",
                    "name": "Alice",
                    "vars": {
                      "gender": "female",
                      "age": 27
                    },
                    "subscribed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/ListMemberResponse"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "member": {
                        "address": "alice@example.com",
                        "name": "Alice",
                        "vars": {
                          "gender": "female",
                          "age": 27
                        },
                        "subscribed": true
                      },
                      "message": "Mailing list member has been updated"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Mailing Lists"
        ],
        "summary": "Delete a member",
        "description": "Deletes a member from a mailing list",
        "operationId": "delete-lists-list_address-members-member_address",
        "parameters": [
          {
            "name": "list_address",
            "in": "path",
            "description": "The mailing list's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member_address",
            "in": "path",
            "description": "The member's address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "The email address of the member"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "member": {
                        "address": "alice@example.com"
                      },
                      "message": "Mailing list member has been deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Member dev@example.com of mailing list alice@example.com not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "MailingListResponse": {
        "type": "object",
        "title": "The mailing list response",
        "properties": {
          "address": {
            "type": "string",
            "description": "The email address of the mailing list"
          },
          "name": {
            "type": "string",
            "description": "The name of the mailing list"
          },
          "description": {
            "type": "string",
            "description": "A description of the mailing list"
          },
          "access_level": {
            "type": "string",
            "description": "List access level, one of: readonly, members, everyone"
          },
          "reply_preference": {
            "type": "string",
            "description": "Set where replies should go: list or sender"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp indicating the mailing list creation time in RFC 5322 format"
          },
          "members_count": {
            "type": "integer",
            "description": "The number of members on the mailing list"
          }
        },
        "examples": [
          {
            "address": "developers@mailgun.net",
            "name": "Developers",
            "description": "Describe the mailing list",
            "access_level": "readonly",
            "reply_preference": "list",
            "created_at": "Tue, 09 Aug 2011 20:50:27 -0000",
            "members_count": 2
          }
        ]
      },
      "string": {
        "type": "string"
      },
      "POST-v3-domain_name-messages-mime-multipart-form-data-RequestBody": {
        "type": "object",
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email address of the recipient(s). Supports friendly name format. Example: `\"Bob <bob@host.com>\"`. Use commas to separate multiple recipients. Duplicate addresses are automatically ignored."
          },
          "message": {
            "type": "string",
            "format": "binary",
            "description": "MIME string of the message.  Make sure to use `multipart/form-data` content type to send this as a file upload"
          },
          "template": {
            "type": "string",
            "description": "Name of a template stored via template API to use to render the email body. See [Templates](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-templates) for more information"
          },
          "t:version": {
            "type": "string",
            "description": "Render a specific version of the given template instead of the latest version. `template` option must also be provided."
          },
          "t:text": {
            "type": "string",
            "enum": [
              "yes"
            ],
            "description": "Generates a plain text version of the template alongside the HTML version when sending templated emails. When set to 'yes', instructs Mailgun to create a text/plain MIME part based on the template content, ensuring compatibility with email clients that don't support HTML or have HTML rendering disabled. This improves email deliverability and accessibility by providing a fallback text version in multipart emails.",
            "x-enumDescriptions": {
              "yes": "Render template in the text part of the message"
            }
          },
          "t:variables": {
            "type": "string",
            "description": "A valid JSON-encoded dictionary used as the input for template variable expansion. See [Templates](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-templates) for more information"
          },
          "o:tag": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tag string.  See [Tags](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/track-tagging) for more information"
          },
          "o:dkim": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "Enables or disables DKIM signatures on a per-message basis. Overrides the domain-level DKIM setting for this specific message.",
            "x-enumDescriptions": {
              "yes": "Enables DKIM signatures",
              "no": "Disable DKIM signatures",
              "true": "Enables DKIM signatures",
              "false": "Disable DKIM signatures"
            }
          },
          "o:secondary-dkim": {
            "type": "string",
            "description": "Specify a second domain key to sign the email with. The value is formatted as `signing_domain/selector`, e.g. `example.com/s1`. This tells Mailgun to sign the message with the signing domain `example.com` using the selector `s1`. Note: the domain key specified must have been previously created and activated."
          },
          "o:secondary-dkim-public": {
            "type": "string",
            "description": "Specify an alias of the domain key specified in `o:secondary-dkim`. Also formatted as `public_signing_domain/selector`. `o:secondary-dkim` option must also be provided. Mailgun will sign the message with the provided key of the secondary DKIM, but use the public secondary DKIM name and selector. Note: We will perform a DNS check prior to signing the message to ensure the public keys matches the secondary DKIM."
          },
          "o:deliverytime": {
            "type": "string",
            "description": "Specifies the scheduled delivery time in [RFC-2822 format](https://documentation.mailgun.com/docs/mailgun/api-reference/api-overview#date-format). Depending on your plan, you can schedule messages up to 3 or 7 days in advance. If your domain has a custom message_ttl (time-to-live) setting, this value determines the maximum scheduling duration. Example: 'Fri, 14 Oct 2011 12:00:00 +0000'"
          },
          "o:deliver-within": {
            "type": "string",
            "description": "Specifies the maximum time window for delivering the message. Accepts values in format `[0-9]+h[0-9]+m` (e.g., `1h30m`, `30m`, `24h`), with a minimum of `5m` and maximum of `24h`. For scheduled messages, the delivery window starts from the scheduled time. The standard retry schedule applies within this window, so shorter timeframes may result in fewer delivery attempts."
          },
          "o:deliverytime-optimize-period": {
            "type": "string",
            "description": "Toggles Send Time Optimization (STO) on a per-message basis.  String should be set to the number of hours in `[0-9]+h` format, with the minimum being `24h` and the maximum being `72h`.  This value defines the time window in which Mailgun will run the optimization algorithm based on prior engagement data of a given recipient.  See [Sending a Message with STO](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-sto) for details. *Please note that STO is only available on certain plans. See www.mailgun.com/pricing for more info*"
          },
          "o:time-zone-localize": {
            "type": "string",
            "description": "Toggles Timezone Optimization (TZO) on a per message basis. String should be set to preferred delivery time in `HH:mm` or `hh:mmaa` format, where `HH:mm` is used for 24 hour format without AM/PM and hh:mmaa is used for 12 hour format with AM/PM. See [Sending a Message with TZO](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-tzo) for details.  *Please note that TZO is only available on certain plans. See www.mailgun.com/pricing for more info*"
          },
          "o:testmode": {
            "type": "string",
            "enum": [
              "yes"
            ],
            "description": "Enables sending in test mode. Messages are processed normally but not actually delivered to recipients. Useful for testing without sending real emails. See [Sending in Test Mode](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/test-mode)",
            "x-enumDescriptions": {
              "yes": "Send in test mode"
            }
          },
          "o:tracking": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Toggles both click and open tracking on a per-message basis, see [Tracking Messages](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages) for details.",
            "x-enumDescriptions": {
              "yes": "Enable tracking on a per-message basis",
              "no": "Disable tracking on a per-message basis",
              "true": "Enable tracking on a per-message basis",
              "false": "Disable tracking on a per-message basis",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:tracking-clicks": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Toggles click tracking on a per-message basis, see [Tracking Clicks](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/tracking-clicks).  This overrides the domain-level click tracking setting",
            "x-enumDescriptions": {
              "yes": "Enable tracking on a per-message basis",
              "no": "Disable tracking on a per-message basis",
              "true": "Enable tracking on a per-message basis",
              "false": "Disable tracking on a per-message basis",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:tracking-opens": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "Toggles opens tracking on a per-message basis, see [Tracking Opens](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/tracking-opens). Has higher priority than domain-level setting.",
            "x-enumDescriptions": {
              "yes": "Enables opens tracking",
              "no": "Disable opens tracking",
              "true": "Enables opens tracking",
              "false": "Disable opens tracking"
            }
          },
          "o:require-tls": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "When set to 'yes', requires the message to be sent only over a TLS connection. If TLS cannot be established, the message will not be delivered. When set to 'no' (default), Mailgun attempts TLS but falls back to plaintext SMTP if needed.",
            "x-enumDescriptions": {
              "yes": "Message only be sent over a TLS connection",
              "no": "Message do not require to be sent over a TLS connection",
              "true": "Message only be sent over a TLS connection",
              "false": "Message do not require to be sent over a TLS connection"
            }
          },
          "o:skip-verification": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "When set to 'true', skips certificate and hostname verification for TLS connections. When 'false' (default), Mailgun verifies certificates and hostnames - if verification fails, TLS connection is not established.",
            "x-enumDescriptions": {
              "yes": "Verification skipped",
              "no": "Verification active",
              "true": "Verification skipped",
              "false": "Verification active"
            }
          },
          "o:sending-ip": {
            "type": "string",
            "description": "Used to specify an IP Address to send an email that is owned by your account"
          },
          "o:sending-ip-pool": {
            "type": "string",
            "description": "If an IP Pool ID is provided, the email will be delivered with an IP that belongs in that pool"
          },
          "o:tracking-pixel-location-top": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Places the tracking pixel at the top of emails instead of the bottom. Useful for long emails that may be truncated or have rendering issues, ensuring open tracking works accurately.",
            "x-enumDescriptions": {
              "yes": "Enables tracking",
              "no": "Disable tracking",
              "true": "Enables tracking",
              "false": "Disable tracking",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:archive-to": {
            "type": "string",
            "description": "Sends a copy of successfully delivered messages to the specified URL via HTTP POST. The request uses Content-Type: application/mime and contains the exact message the recipient's SMTP server received. NOTE: These are accounted for and billed as delivered messages"
          },
          "o:suppress-headers": {
            "type": "string",
            "description": "Removes specified X-Mailgun headers from the delivered message. Provide header names separated by commas (e.g., 'X-Mailgun-Variables,X-Mailgun-Tag') or use 'all' to remove all X-Mailgun headers.Note: X-Mailgun-Sid header is currently used to process complains received via feedback loops."
          },
          "h:X-My-Header": {
            "type": "string",
            "description": "Adds custom headers to the email. Use 'h:' prefix followed by header name and value. Example: 'h:X-Custom-Header=my-value'"
          },
          "v:my-var": {
            "type": "string",
            "description": "Attaches custom data to the message using the 'v:' prefix followed by a variable name. When sending with templates, provides values for template variable substitution (overridden by 't:variables' if both are provided). When not using templates, treated as metadata and included in events/webhooks. Variables are visible in the delivered email's X-Mailgun-Variables header. Example: 'v:user-id=123'.NOTE: Anything over 4KB will be truncated in the event/webhooks"
          },
          "recipient-variables": {
            "type": "string",
            "description": "A JSON-encoded dictionary for batch sending with personalized variables per recipient. Each key is a recipient email address, each value is a dictionary of variables for that recipient. Variables can be referenced in the message using %recipient.variablename%. Example: '{\"alice@example.com\": {\"name\":\"Alice\", \"id\":1}, \"bob@example.com\": {\"name\":\"Bob\", \"id\":2}}'. Maximum 1,000 recipients per batch. See [Batch Sending](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/batch-sending) for more information."
          }
        },
        "required": [
          "to",
          "message"
        ],
        "additionalProperties": true
      },
      "github.com-mailgun-influx-httpapi-SendMessageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the message as defined by [RFC-2392](https://datatracker.ietf.org/doc/html/rfc2392)."
          },
          "message": {
            "type": "string",
            "description": "A success message"
          }
        },
        "required": [
          "id",
          "message"
        ]
      },
      "ListMemberResponse": {
        "type": "object",
        "title": "ListMemberResponse",
        "properties": {
          "address": {
            "type": "string",
            "description": "The email address of the mailing list"
          },
          "name": {
            "type": "string",
            "description": "The name of the mailing list"
          },
          "vars": {
            "type": "object",
            "description": "A JSON-encoded dictionary string with arbitrary parameters, e.g. {\"gender\":\"female\",\"age\":27}"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Whether the member is subscribed or not"
          }
        },
        "examples": [
          {
            "address": "alice@example.com",
            "name": "Alice",
            "vars": {
              "gender": "female",
              "age": 27
            },
            "subscribed": true
          }
        ]
      },
      "github.com-mailgun-influx-httpapi-GetMessageResponseBasicExample": {
        "type": "object",
        "properties": {
          "Content-Transfer-Encoding": {
            "type": "string",
            "description": "The content transfer encoding if enabled"
          },
          "Content-Type": {
            "type": "string",
            "description": "The content type sent with the message with a possible boundary"
          },
          "From": {
            "type": "string",
            "description": "The full 'From' email address entry of the email"
          },
          "Message-Id": {
            "type": "string",
            "description": "The unique identifier of the message as defined by [RFC-2392](https://datatracker.ietf.org/doc/html/rfc2392)"
          },
          "Mime-Version": {
            "type": "string",
            "description": "The MIME version of the email"
          },
          "Subject": {
            "type": "string",
            "description": "Subject of the email"
          },
          "To": {
            "type": "string",
            "description": "The full 'To' email address entries"
          },
          "X-Mailgun-Tag": {
            "type": "string",
            "description": "The raw tags of the message if provided"
          },
          "sender": {
            "type": "string",
            "description": "Just the email address from the provided 'From'' field"
          },
          "recipients": {
            "type": "string",
            "description": "A list of email addresses from the 'To'' field"
          },
          "body-html": {
            "type": "string",
            "description": "The full HTML body of the full message"
          },
          "body-plain": {
            "type": "string",
            "description": "The plain text body of the full message"
          },
          "stripped-html": {
            "type": "string",
            "description": "Only the body of the email in HTML"
          },
          "stripped-text": {
            "type": "string",
            "description": "Only the body of the email in plain text"
          },
          "stripped-signature": {
            "type": "string",
            "description": "The signature stripped from the body"
          },
          "message-headers": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The full list of headers of the MIME upon send"
          },
          "X-Mailgun-Template-Name": {
            "type": "string",
            "description": "The name of the template if one was used"
          },
          "X-Mailgun-Template-Variables": {
            "type": "string",
            "description": "The variables used in the template if one was used"
          }
        },
        "required": [
          "Content-Transfer-Encoding",
          "Content-Type",
          "From",
          "Message-Id",
          "Mime-Version",
          "Subject",
          "To",
          "X-Mailgun-Tag",
          "sender",
          "recipients",
          "body-html",
          "body-plain",
          "stripped-html",
          "stripped-text",
          "stripped-signature",
          "message-headers",
          "X-Mailgun-Template-Name",
          "X-Mailgun-Template-Variables"
        ]
      },
      "POST-v3-domain_name-messages-multipart-form-data-RequestBody": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Email address of the `From` header. Can include a friendly name using the format `\"Friendly Name <email@domain.com>\"`. Note: not required if sending with a template that has a pre-set From header, but will override the template's From header if provided."
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email address of the recipient(s). Supports friendly name format. Example: `\"Bob <bob@host.com>\"`. Use commas to separate multiple recipients. Duplicate addresses are automatically ignored."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Same as `to` but for carbon copy recipients. Supports friendly name format."
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Same as `to` but for blind carbon copy recipients. Supports friendly name format."
          },
          "subject": {
            "type": "string",
            "description": "Message subject. Note: not required if sending with a template that has a pre-set Subject header, but it will override it if provided."
          },
          "text": {
            "type": "string",
            "description": "Body of the message (text version)"
          },
          "html": {
            "type": "string",
            "description": "Body of the message (HTML version)"
          },
          "amp-html": {
            "type": "string",
            "description": "AMP part of the message.  Please follow Google guidelines to compose and send AMP emails"
          },
          "attachment": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "File attachment.  You can post multiple `attachment` values.  **Important:** You must use `multipart/form-data` encoding for sending attachments"
          },
          "inline": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "format": "binary",
            "description": "Attachment with `inline` disposition.  Can be used to send inline images (see example). You can post multiple `inline` values"
          },
          "template": {
            "type": "string",
            "description": "Name of a template stored via the Templates API to use to render the email body. See [Templates](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-templates) for more information"
          },
          "t:version": {
            "type": "string",
            "description": "Render a specific version of the given template instead of the latest version. `template` option must also be provided."
          },
          "t:text": {
            "type": "string",
            "enum": [
              "yes"
            ],
            "description": "Generates a plain text version of the template alongside the HTML version when sending templated emails. When set to 'yes', instructs Mailgun to create a text/plain MIME part based on the template content, ensuring compatibility with email clients that don't support HTML or have HTML rendering disabled. This improves email deliverability and accessibility by providing a fallback text version in multipart emails.",
            "x-enumDescriptions": {
              "yes": "Render template in the text part of the message"
            }
          },
          "t:variables": {
            "type": "string",
            "description": "A valid JSON-encoded dictionary used as the input for template variable expansion.  See [Templates](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-templates) for more information"
          },
          "o:tag": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tag string.  See [Tagging](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/track-tagging) for more information"
          },
          "o:dkim": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "Enables or disables DKIM signatures on a per-message basis. Overrides the domain-level DKIM setting for this specific message.",
            "x-enumDescriptions": {
              "yes": "Enables DKIM signatures",
              "no": "Disable DKIM signatures",
              "true": "Enables DKIM signatures",
              "false": "Disable DKIM signatures"
            }
          },
          "o:secondary-dkim": {
            "type": "string",
            "description": "Specify a second domain key to sign the email with. The value is formatted as `signing_domain/selector`, e.g. `example.com/s1`. This tells Mailgun to sign the message with the signing domain `example.com` using the selector `s1`. Note: the domain key specified must have been previously created and activated."
          },
          "o:secondary-dkim-public": {
            "type": "string",
            "description": "Specify an alias of the domain key specified in `o:secondary-dkim`. Also formatted as `public_signing_domain/selector`. `o:secondary-dkim` option must also be provided. Mailgun will sign the message with the provided key of the secondary DKIM, but use the public secondary DKIM name and selector. Note: We will perform a DNS check prior to signing the message to ensure the public keys matches the secondary DKIM."
          },
          "o:deliverytime": {
            "type": "string",
            "description": "Specifies the scheduled delivery time in [RFC-2822 format](https://documentation.mailgun.com/docs/mailgun/api-reference/api-overview#date-format). Depending on your plan, you can schedule messages up to 3 or 7 days in advance. If your domain has a custom message_ttl (time-to-live) setting, this value determines the maximum scheduling duration. Example: 'Fri, 14 Oct 2011 12:00:00 +0000'"
          },
          "o:deliver-within": {
            "type": "string",
            "description": "Specifies the maximum time window for delivering the message. Accepts values in format `[0-9]+h[0-9]+m` (e.g., `1h30m`, `30m`, `24h`), with a minimum of `5m` and maximum of `24h`. For scheduled messages, the delivery window starts from the scheduled time. The standard retry schedule applies within this window, so shorter timeframes may result in fewer delivery attempts."
          },
          "o:deliverytime-optimize-period": {
            "type": "string",
            "description": "Toggles Send Time Optimization (STO) on a per-message basis.  String should be set to the number of hours in `[0-9]+h` format, with the minimum being `24h` and the maximum being `72h`.  This value defines the time window in which Mailgun will run the optimization algorithm based on prior engagement data of a given recipient. See [Sending a Message with STO](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-sto) for details. *Please note that STO is only available on certain plans. See www.mailgun.com/pricing for more info*"
          },
          "o:time-zone-localize": {
            "type": "string",
            "description": "Toggles Timezone Optimization (TZO) on a per message basis. String should be set to preferred delivery time in `HH:mm` or `hh:mmaa` format, where `HH:mm` is used for 24 hour format without AM/PM and hh:mmaa is used for 12 hour format with AM/PM. See [Sending a Message with TZO](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/send-tzo) for details. *Please note that TZO is only available on certain plans. See www.mailgun.com/pricing for more info*"
          },
          "o:testmode": {
            "type": "string",
            "enum": [
              "yes"
            ],
            "description": "Enables sending in test mode. Messages are processed normally but not actually delivered to recipients. Useful for testing without sending real emails. See [Sending in Test Mode](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/test-mode)",
            "x-enumDescriptions": {
              "yes": "Send in test mode"
            }
          },
          "o:tracking": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Toggles both click and open tracking on a per-message basis",
            "x-enumDescriptions": {
              "yes": "Enable tracking on a per-message basis",
              "no": "Disable tracking on a per-message basis",
              "true": "Enable tracking on a per-message basis",
              "false": "Disable tracking on a per-message basis",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:tracking-clicks": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Toggles click tracking on a per-message basis, see [Tracking Clicks](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/tracking-clicks).  This overrides the domain-level click tracking setting.",
            "x-enumDescriptions": {
              "yes": "Enable tracking on a per-message basis",
              "no": "Disable tracking on a per-message basis",
              "true": "Enable tracking on a per-message basis",
              "false": "Disable tracking on a per-message basis",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:tracking-opens": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "Toggles opens tracking on a per-message basis, see [Tracking Opens](https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/tracking-opens).  Has higher priority than domain-level setting.",
            "x-enumDescriptions": {
              "yes": "Enables opens tracking",
              "no": "Disable opens tracking",
              "true": "Enables opens tracking",
              "false": "Disable opens tracking"
            }
          },
          "o:require-tls": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "When set to 'yes', requires the message to be sent only over a TLS connection to the Email Service Provider. If TLS cannot be established, the message will not be delivered. When set to 'no' (default), Mailgun attempts TLS but falls back to plaintext SMTP if needed.",
            "x-enumDescriptions": {
              "yes": "Message only be sent over a TLS connection",
              "no": "Message do not require to be sent over a TLS connection",
              "true": "Message only be sent over a TLS connection",
              "false": "Message do not require to be sent over a TLS connection"
            }
          },
          "o:skip-verification": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false"
            ],
            "description": "If `true`, the certificate and hostname of the resolved MX Host will not be verified when trying to establish a TLS connection. If `false`, Mailgun will verify the certificate and hostname. If either one can not be verified, a TLS connection will not be established. The default is `false`",
            "x-enumDescriptions": {
              "yes": "Verification skipped",
              "no": "Verification active",
              "true": "Verification skipped",
              "false": "Verification active"
            }
          },
          "o:sending-ip": {
            "type": "string",
            "description": "Used to specify an IP Address to send an email that is owned by your account"
          },
          "o:sending-ip-pool": {
            "type": "string",
            "description": "If an IP Pool ID is provided, the email will be delivered with an IP that belongs in that pool"
          },
          "o:tracking-pixel-location-top": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "true",
              "false",
              "htmlonly"
            ],
            "description": "Places the tracking pixel at the top of emails instead of the bottom. Useful for long emails that may be truncated or have rendering issues, ensuring open tracking works accurately.",
            "x-enumDescriptions": {
              "yes": "Enables tracking",
              "no": "Disable tracking",
              "true": "Enables tracking",
              "false": "Disable tracking",
              "htmlonly": "Use if you only want links rewritten in the HTML part of the message"
            }
          },
          "o:archive-to": {
            "type": "string",
            "description": "Sends a copy of successfully delivered messages to the specified URL via HTTP POST. The request uses Content-Type: application/mime and contains the exact message the recipient's SMTP server received. NOTE: These are accounted for and billed as delivered messages"
          },
          "o:suppress-headers": {
            "type": "string",
            "description": "Removes specified X-Mailgun headers from the delivered message. Provide header names separated by commas (e.g., 'X-Mailgun-Variables,X-Mailgun-Tag') or use 'all' to remove all X-Mailgun headers.Note: X-Mailgun-Sid header is currently used to process complains received via feedback loops."
          },
          "h:X-My-Header": {
            "type": "string",
            "description": "Adds custom headers to the email. Use 'h:' prefix followed by header name and value. Example: 'h:X-Custom-Header=my-value'"
          },
          "v:my-var": {
            "type": "string",
            "description": "Attaches custom data to the message using the 'v:' prefix followed by a variable name. When sending with templates, provides values for template variable substitution (overridden by 't:variables' if both are provided). When not using templates, treated as metadata and included in events/webhooks. Variables are visible in the delivered email's X-Mailgun-Variables header. Example: 'v:user-id=123'. NOTE: Anything over 4KB will be truncated in the event/webhooks."
          },
          "recipient-variables": {
            "type": "string",
            "description": "A JSON-encoded dictionary for batch sending with personalized variables per recipient. Each key is a recipient email address, each value is a dictionary of variables for that recipient. Variables can be referenced in the message using %recipient.variablename%. Example: '{\"alice@example.com\": {\"name\":\"Alice\", \"id\":1}, \"bob@example.com\": {\"name\":\"Bob\", \"id\":2}}'. Maximum 1,000 recipients per batch. See [Batch Sending](https://documentation.mailgun.com/docs/mailgun/user-manual/sending-messages/batch-sending) for more information"
          }
        },
        "required": [
          "from",
          "to",
          "subject"
        ],
        "additionalProperties": true
      },
      "github.com-mailgun-influx-httpapi-GetMessageResponseBadRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A failure message"
          }
        },
        "required": [
          "message"
        ]
      },
      "POST-v3-domains-domain_name-messages-storage_key-multipart-form-data-RequestBody": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Email address of the recipient(s). Supports friendly name format. Example: `\"Bob <bob@host.com>\"`. Use commas to separate multiple recipients. Duplicate addresses are automatically ignored."
          }
        },
        "required": [
          "to"
        ]
      },
      "github.com-mailgun-influx-httpapi-GetMessageResponseNotFound": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A failure message"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth using api:YOUR_API_KEY. See [documentation](https://documentation.mailgun.com/docs/mailgun/api-reference/authentication/)"
      }
    }
  }
}