{
  "openapi": "3.0.3",
  "info": {
    "title": "Twilio API (Messages subset)",
    "version": "2010-04-01",
    "description": "Focused subset of the Twilio REST API (api.twilio.com/2010-04-01) covering the Message resource used by the OpenFn twilio adaptor. The adaptor's sendSMS operation calls the Twilio Node client's messages.create, which issues POST /2010-04-01/Accounts/{AccountSid}/Messages.json. This subset also includes read/update/delete of Messages and the related Media subresource. Derived from the official twilio-oai spec (twilio_api_v2010.json).",
    "x-openfn-adaptor": "twilio"
  },
  "servers": [
    {
      "url": "https://api.twilio.com"
    }
  ],
  "paths": {
    "/2010-04-01/Accounts/{AccountSid}/Messages.json": {
      "post": {
        "operationId": "createMessage",
        "summary": "Send a message (SMS/MMS)",
        "description": "Creates and sends a new outbound Message. This is the endpoint the twilio adaptor's sendSMS operation calls via messages.create({ body, from, to }).",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "description": "The SID of the Account creating the Message resource.",
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/CreateMessageRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created and queued for sending.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Returns a paged list of Message resources associated with the Account.",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "To",
            "in": "query",
            "required": false,
            "description": "Filter by the recipient phone number (E.164).",
            "schema": { "type": "string" }
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "description": "Filter by the sender phone number (E.164).",
            "schema": { "type": "string" }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "maximum": 1000 }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged list of messages.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageList" }
              }
            }
          }
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{Sid}.json": {
      "get": {
        "operationId": "fetchMessage",
        "summary": "Fetch a message",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "description": "The SID of the Message resource to fetch.",
            "schema": { "type": "string", "pattern": "^(SM|MM)[0-9a-fA-F]{32}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Message resource.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateMessage",
        "summary": "Update or redact a message",
        "description": "Updates the body of a scheduled Message or redacts a sent Message body by setting Body to an empty string.",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^(SM|MM)[0-9a-fA-F]{32}$" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/UpdateMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Message resource.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete a message",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^(SM|MM)[0-9a-fA-F]{32}$" }
          }
        ],
        "responses": {
          "204": {
            "description": "The Message resource was deleted."
          }
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media.json": {
      "get": {
        "operationId": "listMessageMedia",
        "summary": "List media for a message",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "MessageSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^(SM|MM)[0-9a-fA-F]{32}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged list of Media resources for the message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MediaList" }
              }
            }
          }
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media/{Sid}.json": {
      "get": {
        "operationId": "fetchMessageMedia",
        "summary": "Fetch a media resource",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^AC[0-9a-fA-F]{32}$" }
          },
          {
            "name": "MessageSid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^(SM|MM)[0-9a-fA-F]{32}$" }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^ME[0-9a-fA-F]{32}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Media resource.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Media" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateMessageRequest": {
        "type": "object",
        "required": ["To"],
        "properties": {
          "To": {
            "type": "string",
            "description": "The recipient's phone number in E.164 format (or channel address, e.g. whatsapp:+15552229999)."
          },
          "From": {
            "type": "string",
            "description": "A Twilio phone number, alphanumeric sender ID, or short code the message is sent from. Required unless MessagingServiceSid is used."
          },
          "MessagingServiceSid": {
            "type": "string",
            "description": "The SID of the Messaging Service to send through, used instead of From."
          },
          "Body": {
            "type": "string",
            "description": "The text content of the message. Up to 1600 characters."
          },
          "MediaUrl": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "description": "URLs of media to include in an MMS message."
          },
          "StatusCallback": {
            "type": "string",
            "format": "uri",
            "description": "A URL Twilio will POST delivery status updates to."
          }
        }
      },
      "UpdateMessageRequest": {
        "type": "object",
        "properties": {
          "Body": {
            "type": "string",
            "description": "The new message body. An empty string redacts the message body of a sent message."
          },
          "Status": {
            "type": "string",
            "enum": ["canceled"],
            "description": "Set to canceled to cancel a scheduled message that has not yet been sent."
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "A Twilio Message resource.",
        "properties": {
          "sid": {
            "type": "string",
            "description": "The unique string identifying the Message resource.",
            "pattern": "^(SM|MM)[0-9a-fA-F]{32}$"
          },
          "account_sid": {
            "type": "string",
            "description": "The SID of the Account that sent the message.",
            "pattern": "^AC[0-9a-fA-F]{32}$"
          },
          "messaging_service_sid": {
            "type": "string",
            "nullable": true,
            "description": "The SID of the Messaging Service used, if any."
          },
          "body": {
            "type": "string",
            "nullable": true,
            "description": "The text content of the message."
          },
          "num_segments": {
            "type": "string",
            "nullable": true,
            "description": "The number of segments that make up the complete message."
          },
          "num_media": {
            "type": "string",
            "nullable": true,
            "description": "The number of media files associated with the message."
          },
          "direction": { "$ref": "#/components/schemas/MessageDirection" },
          "from": {
            "type": "string",
            "nullable": true,
            "description": "The sender's phone number, alphanumeric sender ID, short code, or channel address."
          },
          "to": {
            "type": "string",
            "nullable": true,
            "description": "The recipient's phone number or channel address."
          },
          "date_created": {
            "type": "string",
            "nullable": true,
            "description": "RFC 2822 timestamp (GMT) of when the resource was created."
          },
          "date_updated": {
            "type": "string",
            "nullable": true,
            "description": "RFC 2822 timestamp (GMT) of when the resource was last updated."
          },
          "date_sent": {
            "type": "string",
            "nullable": true,
            "description": "RFC 2822 timestamp (GMT) of when the message was sent."
          },
          "status": { "$ref": "#/components/schemas/MessageStatus" },
          "error_code": {
            "type": "integer",
            "nullable": true,
            "description": "The error code if the message status is failed or undelivered."
          },
          "error_message": {
            "type": "string",
            "nullable": true,
            "description": "The description of the error_code, if any."
          },
          "price": {
            "type": "string",
            "nullable": true,
            "description": "The amount billed for the message in the currency specified by price_unit."
          },
          "price_unit": {
            "type": "string",
            "nullable": true,
            "description": "The currency the price is measured in (ISO 4217)."
          },
          "api_version": {
            "type": "string",
            "nullable": true,
            "description": "The API version used to process the message."
          },
          "uri": {
            "type": "string",
            "nullable": true,
            "description": "The URI of the resource relative to https://api.twilio.com."
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": { "type": "string" },
            "description": "A map of related subresources (e.g. media, feedback)."
          }
        }
      },
      "MessageStatus": {
        "type": "string",
        "description": "The status of the Message.",
        "enum": [
          "queued",
          "sending",
          "sent",
          "failed",
          "delivered",
          "undelivered",
          "receiving",
          "received",
          "accepted",
          "scheduled",
          "read",
          "partially_delivered",
          "canceled"
        ]
      },
      "MessageDirection": {
        "type": "string",
        "description": "The direction of the message.",
        "enum": ["inbound", "outbound-api", "outbound-call", "outbound-reply"]
      },
      "MessageList": {
        "type": "object",
        "description": "A paged list of Message resources.",
        "properties": {
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Message" }
          },
          "page": { "type": "integer" },
          "page_size": { "type": "integer" },
          "first_page_uri": { "type": "string", "nullable": true },
          "next_page_uri": { "type": "string", "nullable": true },
          "previous_page_uri": { "type": "string", "nullable": true },
          "uri": { "type": "string", "nullable": true }
        }
      },
      "Media": {
        "type": "object",
        "description": "A Twilio Media resource attached to a Message.",
        "properties": {
          "sid": {
            "type": "string",
            "description": "The unique string identifying the Media resource.",
            "pattern": "^ME[0-9a-fA-F]{32}$"
          },
          "account_sid": {
            "type": "string",
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "description": "The SID of the Account associated with this Media resource."
          },
          "parent_sid": {
            "type": "string",
            "nullable": true,
            "description": "The SID of the Message that this Media resource belongs to."
          },
          "content_type": {
            "type": "string",
            "nullable": true,
            "description": "The default MIME type of the media, e.g. image/jpeg."
          },
          "date_created": {
            "type": "string",
            "nullable": true,
            "description": "RFC 2822 timestamp (GMT) when the resource was created."
          },
          "date_updated": {
            "type": "string",
            "nullable": true,
            "description": "RFC 2822 timestamp (GMT) when the resource was last updated."
          },
          "uri": {
            "type": "string",
            "nullable": true,
            "description": "The URI of the resource relative to https://api.twilio.com."
          }
        }
      },
      "MediaList": {
        "type": "object",
        "description": "A paged list of Media resources.",
        "properties": {
          "media_list": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Media" }
          },
          "page": { "type": "integer" },
          "page_size": { "type": "integer" },
          "first_page_uri": { "type": "string", "nullable": true },
          "next_page_uri": { "type": "string", "nullable": true },
          "previous_page_uri": { "type": "string", "nullable": true },
          "uri": { "type": "string", "nullable": true }
        }
      }
    }
  }
}
