{
  "openapi": "3.0.3",
  "info": {
    "title": "Odoo External API (JSON-RPC, mock subset)",
    "version": "16.0",
    "description": "Synthesized OpenAPI 3.x model of the Odoo external API exercised by the OpenFn odoo adaptor. The adaptor (via the odoo-await client) authenticates and then calls model methods create, read, write, unlink, search and search_read through execute_kw. Odoo transports this over XML-RPC (POST /xmlrpc/2/common and /xmlrpc/2/object, Content-Type text/xml); because OpenAPI cannot faithfully describe XML-RPC method dispatch and the mocker needs JSON, this document models Odoo's equivalent JSON-RPC web endpoints (POST /web/session/authenticate and POST /jsonrpc), which accept and return JSON with the same semantics. Reusable schemas model the res.partner resource and a generic Odoo record.",
    "x-openfn-adaptor": "odoo"
  },
  "servers": [{ "url": "https://demo.odoo.com" }],
  "paths": {
    "/web/session/authenticate": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate a session",
        "description": "Establish a session and obtain the authenticated user id (uid). Mirrors the XML-RPC authenticate(db, login, password) call the adaptor makes on connect.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthenticateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated session info",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthenticateResponse" }
              }
            }
          }
        }
      }
    },
    "/jsonrpc": {
      "post": {
        "operationId": "callObject",
        "summary": "Call a model method (execute_kw)",
        "description": "Invoke a model method via the object service. Corresponds to execute_kw(db, uid, password, model, method, args, kwargs) and covers the adaptor's create/read/write/unlink/search/search_read operations. The result field varies by method: create returns an integer id, write/unlink return a boolean, read/search_read return an array of record objects, search returns an array of integer ids.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JsonRpcRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response envelope",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonRpcResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticateRequest": {
        "type": "object",
        "required": ["jsonrpc", "method", "params"],
        "properties": {
          "jsonrpc": { "type": "string", "example": "2.0" },
          "method": { "type": "string", "example": "call" },
          "params": {
            "type": "object",
            "properties": {
              "db": { "type": "string", "example": "odoo" },
              "login": { "type": "string", "example": "admin" },
              "password": { "type": "string", "example": "admin" }
            }
          },
          "id": { "type": "integer", "example": 1 }
        }
      },
      "AuthenticateResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": { "type": "string", "example": "2.0" },
          "id": { "type": "integer", "example": 1 },
          "result": {
            "type": "object",
            "properties": {
              "uid": { "type": "integer", "example": 2 },
              "db": { "type": "string", "example": "odoo" },
              "username": { "type": "string", "example": "admin" },
              "name": { "type": "string", "example": "Mitchell Admin" },
              "server_version": { "type": "string", "example": "16.0" }
            }
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method", "params"],
        "properties": {
          "jsonrpc": { "type": "string", "example": "2.0" },
          "method": { "type": "string", "example": "call" },
          "params": {
            "type": "object",
            "properties": {
              "service": { "type": "string", "example": "object" },
              "method": { "type": "string", "example": "execute_kw" },
              "args": {
                "type": "array",
                "description": "[db, uid, password, model, method, args, kwargs]",
                "items": {},
                "example": ["odoo", 2, "password", "res.partner", "search_read", [[]], { "fields": ["name", "email"], "limit": 10 }]
              }
            }
          },
          "id": { "type": "integer", "example": 2 }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": { "type": "string", "example": "2.0" },
          "id": { "type": "integer", "example": 2 },
          "result": {
            "description": "Method result. Type depends on the called model method (id, boolean, or list of records/ids).",
            "oneOf": [
              { "type": "integer", "description": "New record id (create)" },
              { "type": "boolean", "description": "write / unlink success" },
              { "type": "array", "items": { "type": "integer" }, "description": "search: matching ids" },
              { "type": "array", "items": { "$ref": "#/components/schemas/Record" }, "description": "read / search_read: records" }
            ]
          },
          "error": { "$ref": "#/components/schemas/JsonRpcError" }
        }
      },
      "JsonRpcError": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 200 },
          "message": { "type": "string", "example": "Odoo Server Error" },
          "data": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "odoo.exceptions.AccessError" },
              "message": { "type": "string" },
              "debug": { "type": "string" }
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "description": "A generic Odoo model record. Always includes an integer id; other fields depend on the model and the requested field list.",
        "properties": {
          "id": { "type": "integer", "example": 54 },
          "display_name": { "type": "string", "example": "Kool Keith" },
          "create_date": { "type": "string", "format": "date-time" },
          "write_date": { "type": "string", "format": "date-time" }
        },
        "additionalProperties": true
      },
      "Partner": {
        "type": "object",
        "description": "res.partner record (a contact/company).",
        "properties": {
          "id": { "type": "integer", "example": 54 },
          "name": { "type": "string", "example": "Kool Keith" },
          "display_name": { "type": "string", "example": "Kool Keith" },
          "email": { "type": "string", "example": "keith@example.com" },
          "phone": { "type": "string", "example": "+1 555 0100" },
          "is_company": { "type": "boolean", "example": false },
          "customer_rank": { "type": "integer", "example": 1 },
          "supplier_rank": { "type": "integer", "example": 0 },
          "country_id": {
            "type": "array",
            "description": "Many2one as [id, display_name]",
            "items": {},
            "example": [233, "United States"]
          },
          "city": { "type": "string", "example": "Boston" },
          "street": { "type": "string" },
          "active": { "type": "boolean", "example": true }
        }
      }
    }
  }
}
