{
  "openapi": "3.0.3",
  "info": {
    "title": "Safaricom M-Pesa Daraja API",
    "version": "1.0.0",
    "description": "Focused OpenAPI description of the Safaricom M-Pesa Daraja API endpoints exercised by the OpenFn mpesa adaptor: OAuth token generation, Lipa Na M-Pesa Online (STK Push), transaction status query, C2B URL registration, and the B2B tax remittance and payment (buy goods) requests. Authored from the Daraja developer documentation.",
    "x-openfn-adaptor": "mpesa"
  },
  "servers": [
    { "url": "https://sandbox.safaricom.co.ke", "description": "Sandbox" },
    { "url": "https://api.safaricom.co.ke", "description": "Production" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/oauth/v1/generate": {
      "get": {
        "operationId": "generateToken",
        "summary": "Generate an OAuth access token",
        "description": "Exchanges the app consumer key/secret (Basic auth) for a short-lived bearer access token used on all other Daraja requests.",
        "security": [{ "basicAuth": [] }],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "default": "client_credentials" }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenResponse" }
              }
            }
          }
        }
      }
    },
    "/mpesa/stkpush/v1/processrequest": {
      "post": {
        "operationId": "stkPush",
        "summary": "Initiate Lipa Na M-Pesa Online (STK Push)",
        "description": "Initiates an STK PIN prompt on a customer's Safaricom mobile number. Returns an acknowledgement; the final result is delivered asynchronously to CallBackURL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/STKPushRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "STK Push accepted for processing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/STKPushResponse" }
              }
            }
          }
        }
      }
    },
    "/mpesa/transactionstatus/v1/query": {
      "post": {
        "operationId": "checkTransactionStatus",
        "summary": "Query the status of a transaction",
        "description": "Checks the status of a previously initiated transaction. Returns a synchronous acknowledgement; the status result is delivered asynchronously to ResultURL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TransactionStatusRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction status query accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AsyncAckResponse" }
              }
            }
          }
        }
      }
    },
    "/mpesa/c2b/v1/registerurl": {
      "post": {
        "operationId": "registerUrl",
        "summary": "Register C2B validation and confirmation URLs",
        "description": "Registers the confirmation and validation URLs that receive payment notifications for a paybill/till short code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterUrlRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URLs registered",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RegisterUrlResponse" }
              }
            }
          }
        }
      }
    },
    "/mpesa/b2b/v1/remittax": {
      "post": {
        "operationId": "remitTax",
        "summary": "Remit tax to the Kenya Revenue Authority (KRA)",
        "description": "Initiates a B2B payment to remit tax to KRA. Returns a synchronous acknowledgement; the result is delivered asynchronously to ResultURL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RemitTaxRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax remittance accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AsyncAckResponse" }
              }
            }
          }
        }
      }
    },
    "/mpesa/b2b/v1/paymentrequest": {
      "post": {
        "operationId": "buyGoods",
        "summary": "B2B payment (buy goods / till payment)",
        "description": "Pays for goods and services directly from a business account to a till number, merchant store number or Merchant HO. Returns a synchronous acknowledgement; the result is delivered asynchronously to ResultURL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BuyGoodsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "B2B payment request accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AsyncAckResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" },
      "basicAuth": { "type": "http", "scheme": "basic" }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "description": "OAuth token issued by /oauth/v1/generate.",
        "properties": {
          "access_token": { "type": "string", "example": "c9SQxWWhmdVRlyh0zh8gZDTkubVF" },
          "expires_in": { "type": "string", "example": "3599" }
        }
      },
      "STKPushRequest": {
        "type": "object",
        "properties": {
          "BusinessShortCode": { "type": "string", "example": "174379" },
          "Password": { "type": "string" },
          "Timestamp": { "type": "string", "example": "20240101120000" },
          "TransactionType": { "type": "string", "example": "CustomerPayBillOnline" },
          "Amount": { "type": "integer", "example": 1 },
          "PartyA": { "type": "string", "example": "254708374149" },
          "PartyB": { "type": "string", "example": "174379" },
          "PhoneNumber": { "type": "string", "example": "254708374149" },
          "CallBackURL": { "type": "string", "format": "uri" },
          "AccountReference": { "type": "string", "example": "CompanyXLTD" },
          "TransactionDesc": { "type": "string", "example": "Payment of X" }
        },
        "required": ["Amount", "PartyA", "PartyB", "PhoneNumber", "CallBackURL", "AccountReference", "TransactionDesc"]
      },
      "STKPushResponse": {
        "type": "object",
        "description": "Synchronous acknowledgement for an STK Push request.",
        "properties": {
          "MerchantRequestID": { "type": "string", "example": "29115-34620561-1" },
          "CheckoutRequestID": { "type": "string", "example": "ws_CO_191220191020363925" },
          "ResponseCode": { "type": "string", "example": "0" },
          "ResponseDescription": { "type": "string", "example": "Success. Request accepted for processing" },
          "CustomerMessage": { "type": "string", "example": "Success. Request accepted for processing" }
        }
      },
      "TransactionStatusRequest": {
        "type": "object",
        "properties": {
          "Initiator": { "type": "string", "example": "testapi" },
          "SecurityCredential": { "type": "string" },
          "CommandID": { "type": "string", "example": "TransactionStatusQuery" },
          "TransactionID": { "type": "string", "example": "OEI2AK4Q16" },
          "PartyA": { "type": "string", "example": "600998" },
          "IdentifierType": { "type": "string", "example": "4" },
          "ResultURL": { "type": "string", "format": "uri" },
          "QueueTimeOutURL": { "type": "string", "format": "uri" },
          "Remarks": { "type": "string" },
          "Occassion": { "type": "string" }
        },
        "required": ["Initiator", "SecurityCredential", "TransactionID", "PartyA", "IdentifierType", "ResultURL", "QueueTimeOutURL"]
      },
      "RegisterUrlRequest": {
        "type": "object",
        "properties": {
          "ShortCode": { "type": "string", "example": "600426" },
          "ResponseType": { "type": "string", "enum": ["Completed", "Cancelled"], "example": "Completed" },
          "ConfirmationURL": { "type": "string", "format": "uri" },
          "ValidationURL": { "type": "string", "format": "uri" }
        },
        "required": ["ShortCode", "ResponseType", "ConfirmationURL", "ValidationURL"]
      },
      "RegisterUrlResponse": {
        "type": "object",
        "description": "Acknowledgement for C2B URL registration.",
        "properties": {
          "OriginatorCoversationID": { "type": "string", "example": "7619-37765134-1" },
          "ResponseCode": { "type": "string", "example": "0" },
          "ResponseDescription": { "type": "string", "example": "Success" }
        }
      },
      "RemitTaxRequest": {
        "type": "object",
        "properties": {
          "Initiator": { "type": "string", "example": "testapi" },
          "SecurityCredential": { "type": "string" },
          "CommandID": { "type": "string", "example": "PayTaxToKRA" },
          "SenderIdentifierType": { "type": "string", "example": "4" },
          "RecieverIdentifierType": { "type": "string", "example": "4" },
          "Amount": { "type": "integer", "example": 1 },
          "PartyA": { "type": "string", "example": "600995" },
          "PartyB": { "type": "string", "example": "572572" },
          "AccountReference": { "type": "string", "example": "353353" },
          "Remarks": { "type": "string", "example": "ok" },
          "QueueTimeOutURL": { "type": "string", "format": "uri" },
          "ResultURL": { "type": "string", "format": "uri" }
        },
        "required": ["Initiator", "SecurityCredential", "Amount", "PartyA", "AccountReference", "QueueTimeOutURL", "ResultURL"]
      },
      "BuyGoodsRequest": {
        "type": "object",
        "properties": {
          "Initiator": { "type": "string", "example": "testapi" },
          "SecurityCredential": { "type": "string" },
          "CommandID": { "type": "string", "example": "BusinessBuyGoods" },
          "SenderIdentifierType": { "type": "string", "example": "4" },
          "RecieverIdentifierType": { "type": "string", "example": "4" },
          "Amount": { "type": "integer", "example": 1 },
          "PartyA": { "type": "string", "example": "600999" },
          "PartyB": { "type": "string", "example": "600000" },
          "AccountReference": { "type": "string", "example": "353353" },
          "Requester": { "type": "string", "example": "254708374149" },
          "Remarks": { "type": "string", "example": "ok" },
          "QueueTimeOutURL": { "type": "string", "format": "uri" },
          "ResultURL": { "type": "string", "format": "uri" }
        },
        "required": ["Initiator", "SecurityCredential", "Amount", "PartyA", "PartyB", "QueueTimeOutURL", "ResultURL"]
      },
      "AsyncAckResponse": {
        "type": "object",
        "description": "Standard synchronous acknowledgement for asynchronous Daraja requests (transaction status, B2B). The final result is posted to ResultURL.",
        "properties": {
          "OriginatorConversationID": { "type": "string", "example": "5118-111210482-1" },
          "ConversationID": { "type": "string", "example": "AG_20230206_00007bb3f2a5b3f2a5b3" },
          "ResponseCode": { "type": "string", "example": "0" },
          "ResponseDescription": { "type": "string", "example": "Accept the service request successfully." }
        }
      }
    }
  }
}
