{
  "openapi": "3.0.3",
  "info": {
    "title": "UNICEF Inform API (mock subset)",
    "version": "v1",
    "description": "Focused subset of the UNICEF Inform data API (an Ona/onadata-based platform) used by the OpenFn inform adaptor: list/get forms, get form structure, list/get submissions (data), and attachment (media) metadata and download. Base path is /api/{apiVersion} on the configured host, e.g. https://data.inform.unicef.org/api/v1.",
    "x-openfn-adaptor": "inform"
  },
  "servers": [{ "url": "https://data.inform.unicef.org/api/v1" }],
  "paths": {
    "/forms": {
      "get": {
        "operationId": "getForms",
        "summary": "List forms",
        "parameters": [
          { "name": "public", "in": "query", "schema": { "type": "boolean" } },
          { "name": "tags", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "page_size", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "A list of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Form" }
                }
              }
            }
          }
        }
      }
    },
    "/forms/{formId}": {
      "get": {
        "operationId": "getForm",
        "summary": "Get a single form's metadata",
        "parameters": [
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A single form",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Form" }
              }
            }
          }
        }
      }
    },
    "/forms/{formId}/form.json": {
      "get": {
        "operationId": "getFormStructure",
        "summary": "Get a form's structure (XLSForm JSON)",
        "parameters": [
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The form structure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FormStructure" }
              }
            }
          }
        }
      }
    },
    "/data/{formId}": {
      "get": {
        "operationId": "getSubmissions",
        "summary": "List submissions for a form",
        "parameters": [
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "MongoDB-style JSON filter, e.g. {\"_submission_time\":{\"$gte\":\"2024-11-05\"}}" },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "start", "in": "query", "schema": { "type": "integer" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "page_size", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "A list of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Submission" }
                }
              }
            }
          }
        }
      }
    },
    "/data/{formId}/{submissionId}": {
      "get": {
        "operationId": "getSubmission",
        "summary": "Get a single submission",
        "parameters": [
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "submissionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "A single submission",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Submission" }
              }
            }
          }
        }
      }
    },
    "/media/{attachmentId}": {
      "get": {
        "operationId": "getAttachmentMetadata",
        "summary": "Get attachment (media) metadata",
        "parameters": [
          { "name": "attachmentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Attachment metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Form": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "formid": { "type": "integer", "example": 6225 },
          "uuid": { "type": "string", "example": "853fa4a8f52e4b4c9f0d3d2c1b0a9e8f" },
          "id_string": { "type": "string", "example": "household_survey" },
          "title": { "type": "string", "example": "Household Survey" },
          "description": { "type": "string" },
          "downloadable": { "type": "boolean" },
          "encrypted": { "type": "boolean" },
          "owner": { "type": "string", "format": "uri" },
          "public": { "type": "boolean" },
          "public_data": { "type": "boolean" },
          "num_of_submissions": { "type": "integer", "example": 42 },
          "date_created": { "type": "string", "format": "date-time" },
          "date_modified": { "type": "string", "format": "date-time" },
          "last_updated_at": { "type": "string", "format": "date-time" },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "FormStructure": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "household_survey" },
          "title": { "type": "string", "example": "Household Survey" },
          "id_string": { "type": "string", "example": "household_survey" },
          "type": { "type": "string", "example": "survey" },
          "default_language": { "type": "string", "example": "default" },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "type": { "type": "string" },
                "label": { "type": "string" }
              }
            }
          }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "_id": { "type": "integer", "example": 7783155 },
          "_uuid": { "type": "string", "example": "b1a2c3d4-e5f6-7890-abcd-ef1234567890" },
          "_submission_time": { "type": "string", "format": "date-time", "example": "2024-11-05T09:30:00" },
          "_xform_id_string": { "type": "string", "example": "household_survey" },
          "_status": { "type": "string", "example": "submitted_via_web" },
          "_geolocation": {
            "type": "array",
            "items": { "type": "number" },
            "nullable": true
          },
          "_attachments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attachment" }
          },
          "formhub/uuid": { "type": "string" }
        },
        "additionalProperties": true
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 621985 },
          "xform": { "type": "integer", "example": 6225 },
          "instance": { "type": "integer", "example": 7783155 },
          "filename": { "type": "string", "example": "project/attachments/download_1.png" },
          "mimetype": { "type": "string", "example": "image/png" },
          "download_url": { "type": "string", "format": "uri" },
          "url": { "type": "string", "format": "uri" }
        }
      }
    }
  }
}
