{
  "openapi": "3.0.3",
  "info": {
    "title": "Ethiopia Master Facility Registry (MFR) API (subset)",
    "version": "2.0.0",
    "description": "Focused OpenAPI subset of the Ethiopia Master Facility Registry (MFR) API used by the OpenFn et-mfr adaptor, a thin HTTP client (get/post/request). Covers the endpoints exercised in the adaptor examples: administrative location lookups (regions), facility retrieval and search, paged facility listing, and CSV export.",
    "x-openfn-adaptor": "et-mfr"
  },
  "servers": [{ "url": "https://mfrapi.moh.gov.et" }],
  "paths": {
    "/Location/Regions": {
      "get": {
        "operationId": "getRegions",
        "summary": "List administrative regions",
        "responses": {
          "200": {
            "description": "Regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Region" }
                }
              }
            }
          }
        }
      }
    },
    "/Facility": {
      "get": {
        "operationId": "getFacility",
        "summary": "Get a facility by id",
        "parameters": [
          { "name": "id", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Facility",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Facility" }
              }
            }
          }
        }
      }
    },
    "/Facility/All": {
      "get": {
        "operationId": "getAllFacilities",
        "summary": "Search facilities by name",
        "parameters": [
          { "name": "name", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Facilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Facility" }
                }
              }
            }
          }
        }
      }
    },
    "/Facility/GetFacilities": {
      "post": {
        "operationId": "getFacilities",
        "summary": "Paged facility listing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FacilityPageQuery" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged facilities",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilityPage" }
              }
            }
          }
        }
      }
    },
    "/Facility/ExportCSV": {
      "post": {
        "operationId": "exportFacilitiesCsv",
        "summary": "Export facilities as CSV",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "name": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV export",
            "content": {
              "text/csv": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Region": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "code": { "type": "string" },
          "level": { "type": "string" }
        }
      },
      "Facility": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "facilityId": { "type": "string" },
          "name": { "type": "string" },
          "facilityType": { "type": "string" },
          "operationalStatus": { "type": "string" },
          "ownership": { "type": "string" },
          "region": { "type": "string" },
          "zone": { "type": "string" },
          "woreda": { "type": "string" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "settlement": { "type": "string" }
        }
      },
      "FacilityPageQuery": {
        "type": "object",
        "properties": {
          "pageNumber": { "type": "integer" },
          "showPerPage": { "type": "integer" },
          "name": { "type": "string" }
        }
      },
      "FacilityPage": {
        "type": "object",
        "properties": {
          "totalRecords": { "type": "integer" },
          "pageNumber": { "type": "integer" },
          "showPerPage": { "type": "integer" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Facility" }
          }
        }
      }
    }
  }
}
