{
  "openapi": "3.0.3",
  "info": {
    "title": "Facebook Messenger Send API (subset)",
    "version": "2.6",
    "description": "Focused OpenAPI subset of the Facebook (Meta) Messenger Platform Send API used by the OpenFn facebook adaptor. The adaptor's postMessage operation issues POST /me/messages against the Graph API to deliver a message to a recipient identified by PSID.",
    "x-openfn-adaptor": "facebook"
  },
  "servers": [{ "url": "https://graph.facebook.com/v2.6" }],
  "paths": {
    "/me/messages": {
      "post": {
        "operationId": "postMessage",
        "summary": "Send a message via the Messenger Send API",
        "parameters": [
          { "name": "access_token", "in": "query", "schema": { "type": "string" }, "description": "Page access token" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendRequest": {
        "type": "object",
        "required": ["recipient", "message"],
        "properties": {
          "messaging_type": {
            "type": "string",
            "enum": ["RESPONSE", "UPDATE", "MESSAGE_TAG"]
          },
          "recipient": { "$ref": "#/components/schemas/Recipient" },
          "message": { "$ref": "#/components/schemas/Message" }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Page-scoped recipient ID (PSID)" },
          "user_ref": { "type": "string" },
          "phone_number": { "type": "string" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "attachment": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["image", "audio", "video", "file", "template"] },
              "payload": { "type": "object" }
            }
          },
          "quick_replies": {
            "type": "array",
            "items": { "type": "object" }
          }
        }
      },
      "SendResponse": {
        "type": "object",
        "properties": {
          "recipient_id": { "type": "string" },
          "message_id": { "type": "string" }
        }
      }
    }
  }
}
