{
  "openapi": "3.0.3",
  "info": {
    "title": "Ghana Births & Deaths Registry (CHIM eTracker) API",
    "version": "1.0.0",
    "description": "Focused API surface used by the OpenFn ghana-bdr adaptor. The adaptor posts birth notifications to the Ghana Births & Deaths Registry integration exposed via the CHIM/Lightwave eTracker platform, and also supports generic GET/POST passthrough requests. Synthesized from the adaptor surface (ast.json, types) and the mock client bundled with @openfn/language-ghana-bdr.",
    "x-openfn-adaptor": "ghana-bdr"
  },
  "servers": [{ "url": "http://tracker.chimgh.org" }],
  "paths": {
    "/api/notification": {
      "post": {
        "operationId": "sendBirthNotification",
        "summary": "Send a birth notification / generate a birth certificate",
        "description": "Submits a birth notification (child, mother, father details) and returns the created birth registry record including the generated birth certificate number.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BirthNotificationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Birth notification saved; registry record returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BirthNotificationResponse" }
              }
            }
          },
          "417": {
            "description": "Record failed to save",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/{resource}": {
      "get": {
        "operationId": "get",
        "summary": "Generic GET request",
        "description": "Generic passthrough GET request against any resource path on the registry API.",
        "parameters": [
          { "name": "resource", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Resource path segment" }
        ],
        "responses": {
          "200": {
            "description": "Resource payload",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BirthNotificationRequest": {
        "type": "object",
        "description": "Payload posted to create a birth notification.",
        "properties": {
          "registry_code": { "type": "string", "example": "011803" },
          "child": { "$ref": "#/components/schemas/ChildDetails" },
          "mother": { "$ref": "#/components/schemas/MotherDetails" },
          "father": { "$ref": "#/components/schemas/FatherDetails" }
        },
        "required": ["registry_code", "child", "mother", "father"]
      },
      "ChildDetails": {
        "type": "object",
        "properties": {
          "first_name": { "type": "string", "example": "Test" },
          "middle_name": { "type": "string", "example": "" },
          "Surname": { "type": "string", "example": "Testerson" },
          "birth_date": { "type": "string", "example": "2024/03/04" },
          "birth_type_code": { "type": "string", "example": "1" },
          "gender_code": { "type": "string", "example": "2" },
          "place_of_delivery_code": { "type": "string", "example": "7" },
          "attendant_at_birth_code": { "type": "string", "example": "1" },
          "bith_attendant_full_name": { "type": "string", "example": "Helen" },
          "bith_attendant_phone": { "type": "string", "example": "0248403076" }
        }
      },
      "MotherDetails": {
        "type": "object",
        "properties": {
          "national_id_number": { "type": "string", "example": "GHA-000000000-2" },
          "first_name": { "type": "string", "example": "fake" },
          "middle_name": { "type": "string", "example": "" },
          "maiden_name": { "type": "string", "example": "fakerson" },
          "phone": { "type": "string", "example": "0248403076" },
          "occupation_code": { "type": "string", "example": "29" },
          "age": { "type": "integer", "example": 25 }
        }
      },
      "FatherDetails": {
        "type": "object",
        "properties": {
          "national_id_number": { "type": "string", "example": "" },
          "first_name": { "type": "string", "example": "john" },
          "middle_name": { "type": "string", "example": "" },
          "Surname": { "type": "string", "example": "doe" },
          "phone": { "type": "string", "example": "0248403076" },
          "occupation_code": { "type": "string", "example": "5" }
        }
      },
      "BirthNotificationResponse": {
        "type": "object",
        "description": "Birth registry record returned after a successful notification.",
        "properties": {
          "birth_certificate_number": { "type": "string", "example": "000000-00-2024" },
          "first_name": { "type": "string", "example": "Test" },
          "middle_name": { "type": "string", "example": "" },
          "Surname": { "type": "string", "example": "sample surname" },
          "birth_date": { "type": "string", "example": "04 Mar 2024" },
          "national_id_number": { "type": "string", "example": "" },
          "place_of_delivery": { "type": "string", "example": "MATERNITY HOME" },
          "Health_facility": { "type": "string", "example": "" },
          "birth_type": { "type": "string", "nullable": true, "example": null },
          "gender": { "type": "string", "example": "MALE" },
          "house_number": { "type": "string", "example": "" },
          "street_name": { "type": "string", "example": "" },
          "district": { "type": "string", "example": "" },
          "region": { "type": "string", "example": "" },
          "town_or_village": { "type": "string", "example": "" },
          "m_first_name": { "type": "string", "example": "sample mom" },
          "m_middle_name": { "type": "string", "example": "" },
          "m_maiden_name": { "type": "string", "example": "sample surname" },
          "m_surname": { "type": "string", "example": "" },
          "m_national_id_number": { "type": "string", "example": "GHA-000000000-0" },
          "m_nationality": { "type": "string", "example": "" },
          "f_first_name": { "type": "string", "example": "father fname" },
          "f_middle_name": { "type": "string", "example": "" },
          "f_Surname": { "type": "string", "example": "father sur" },
          "f_nationality": { "type": "string", "example": "" },
          "f_national_id_number": { "type": "string", "example": "" },
          "reference_id": { "type": "string", "example": "abc123de-1995" },
          "document_number": { "type": "string", "example": "1995/000000/XX0000000A1B2C3" },
          "created_at": { "type": "string", "example": "05 Mar 2024" },
          "last_updated_at": { "type": "string", "nullable": true, "example": null },
          "issuccessful": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "record reference_id : abc123de-1995 , created successfully" },
          "messagecode": { "type": "string", "example": "200" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "issuccessful": { "type": "boolean", "example": false },
          "message": { "type": "string", "example": "Record failed to save with this error" },
          "messagecode": { "type": "string", "example": "210" }
        }
      }
    }
  }
}
