{
  "openapi": "3.0.3",
  "info": {
    "title": "Stripe API (stripe adaptor subset)",
    "version": "2024-06-20",
    "description": "Focused subset of the Stripe REST API used by the OpenFn stripe adaptor. The adaptor is generic: list(resource, options) issues GET /v1/{resource}, get(resource, id) issues GET /v1/{resource}/{id}, and the http namespace (http.get, http.post, http.request) makes arbitrary calls against https://api.stripe.com. Documented example resources are payment_intents, customers, charges and invoices (see the adaptor ast.json / type defs). This spec covers list/retrieve/create for those resources so the mocker can serve realistic Stripe objects. Subset of Stripe's official OpenAPI 3.0 spec (stripe/openapi spec3.json).",
    "x-openfn-adaptor": "stripe"
  },
  "servers": [{ "url": "https://api.stripe.com" }],
  "paths": {
    "/v1/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Returns a list of customers. Reached via the adaptor list('customers', options).",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/starting_after" },
          { "$ref": "#/components/parameters/ending_before" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of customers.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "Creates a new customer object. Reached via http.post('/v1/customers', ...).",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/CustomerCreateParams" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created customer object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customer}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve a customer",
        "description": "Retrieves a customer by id. Reached via the adaptor get('customers', id).",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested customer object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Customer" }
              }
            }
          }
        }
      }
    },
    "/v1/charges": {
      "get": {
        "operationId": "listCharges",
        "summary": "List charges",
        "description": "Returns a list of charges. Reached via the adaptor list('charges', options).",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/starting_after" },
          { "$ref": "#/components/parameters/ending_before" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of charges.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCharge",
        "summary": "Create a charge",
        "description": "Creates a new charge object. Reached via http.post('/v1/charges', ...).",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/ChargeCreateParams" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created charge object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Charge" }
              }
            }
          }
        }
      }
    },
    "/v1/charges/{charge}": {
      "get": {
        "operationId": "getCharge",
        "summary": "Retrieve a charge",
        "description": "Retrieves a charge by id. Reached via the adaptor get('charges', id).",
        "parameters": [
          {
            "name": "charge",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested charge object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Charge" }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents": {
      "get": {
        "operationId": "listPaymentIntents",
        "summary": "List payment intents",
        "description": "Returns a list of payment intents. Reached via the adaptor list('payment_intents', options).",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/starting_after" },
          { "$ref": "#/components/parameters/ending_before" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of payment intents.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentIntentList" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Create a payment intent",
        "description": "Creates a new payment intent. Reached via http.post('/v1/payment_intents', ...).",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PaymentIntentCreateParams" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created payment intent object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentIntent" }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents/{intent}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Retrieve a payment intent",
        "description": "Retrieves a payment intent by id. Reached via the adaptor get('payment_intents', id).",
        "parameters": [
          {
            "name": "intent",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested payment intent object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentIntent" }
              }
            }
          }
        }
      }
    },
    "/v1/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "description": "Returns a list of invoices. Reached via the adaptor list('invoices', options) or http.get('/v1/invoices').",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/starting_after" },
          { "$ref": "#/components/parameters/ending_before" }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of invoices.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvoiceList" }
              }
            }
          }
        }
      }
    },
    "/v1/invoices/{invoice}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Retrieve an invoice",
        "description": "Retrieves an invoice by id. Reached via the adaptor get('invoices', id).",
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested invoice object.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Invoice" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "A limit on the number of objects to be returned, between 1 and 100.",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 }
      },
      "starting_after": {
        "name": "starting_after",
        "in": "query",
        "required": false,
        "description": "A cursor for pagination: an object ID that defines your place in the list.",
        "schema": { "type": "string" }
      },
      "ending_before": {
        "name": "ending_before",
        "in": "query",
        "required": false,
        "description": "A cursor for pagination: an object ID that defines your place in the list.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "description": "A Stripe customer object.",
        "required": ["id", "object"],
        "properties": {
          "id": { "type": "string", "example": "cus_SthTl85l20LRJj" },
          "object": { "type": "string", "enum": ["customer"] },
          "address": { "type": "object", "nullable": true },
          "balance": { "type": "integer" },
          "created": { "type": "integer", "description": "Time at which the object was created (Unix timestamp)." },
          "currency": { "type": "string", "nullable": true },
          "default_source": { "type": "string", "nullable": true },
          "delinquent": { "type": "boolean", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "invoice_prefix": { "type": "string", "nullable": true },
          "livemode": { "type": "boolean" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "name": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "shipping": { "type": "object", "nullable": true },
          "tax_exempt": { "type": "string", "enum": ["none", "exempt", "reverse"], "nullable": true }
        }
      },
      "CustomerCreateParams": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "name": { "type": "string" },
          "phone": { "type": "string" },
          "description": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "CustomerList": {
        "type": "object",
        "required": ["object", "data", "has_more", "url"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "url": { "type": "string", "example": "/v1/customers" },
          "has_more": { "type": "boolean" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Customer" }
          }
        }
      },
      "Charge": {
        "type": "object",
        "description": "A Stripe charge object.",
        "required": ["id", "object"],
        "properties": {
          "id": { "type": "string", "example": "ch_3RxS5EEAUr6ipfDB0aKo3moC" },
          "object": { "type": "string", "enum": ["charge"] },
          "amount": { "type": "integer", "description": "Amount intended to be collected, in the smallest currency unit." },
          "amount_captured": { "type": "integer" },
          "amount_refunded": { "type": "integer" },
          "balance_transaction": { "type": "string", "nullable": true },
          "captured": { "type": "boolean" },
          "created": { "type": "integer" },
          "currency": { "type": "string" },
          "customer": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "disputed": { "type": "boolean" },
          "livemode": { "type": "boolean" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "paid": { "type": "boolean" },
          "payment_intent": { "type": "string", "nullable": true },
          "payment_method": { "type": "string", "nullable": true },
          "receipt_email": { "type": "string", "nullable": true },
          "receipt_url": { "type": "string", "nullable": true },
          "refunded": { "type": "boolean" },
          "status": { "type": "string", "enum": ["succeeded", "pending", "failed"] }
        }
      },
      "ChargeCreateParams": {
        "type": "object",
        "required": ["amount", "currency"],
        "properties": {
          "amount": { "type": "integer" },
          "currency": { "type": "string" },
          "customer": { "type": "string" },
          "description": { "type": "string" },
          "source": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "ChargeList": {
        "type": "object",
        "required": ["object", "data", "has_more", "url"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "url": { "type": "string", "example": "/v1/charges" },
          "has_more": { "type": "boolean" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Charge" }
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "description": "A Stripe payment intent object.",
        "required": ["id", "object"],
        "properties": {
          "id": { "type": "string", "example": "pi_3RxS5EEAUr6ipfDB0aKo3moC" },
          "object": { "type": "string", "enum": ["payment_intent"] },
          "amount": { "type": "integer" },
          "amount_capturable": { "type": "integer" },
          "amount_received": { "type": "integer" },
          "canceled_at": { "type": "integer", "nullable": true },
          "cancellation_reason": { "type": "string", "nullable": true },
          "capture_method": { "type": "string", "enum": ["automatic", "automatic_async", "manual"] },
          "client_secret": { "type": "string", "nullable": true },
          "confirmation_method": { "type": "string", "enum": ["automatic", "manual"] },
          "created": { "type": "integer" },
          "currency": { "type": "string" },
          "customer": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "latest_charge": { "type": "string", "nullable": true },
          "livemode": { "type": "boolean" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "payment_method": { "type": "string", "nullable": true },
          "receipt_email": { "type": "string", "nullable": true },
          "status": {
            "type": "string",
            "enum": [
              "requires_payment_method",
              "requires_confirmation",
              "requires_action",
              "processing",
              "requires_capture",
              "canceled",
              "succeeded"
            ]
          }
        }
      },
      "PaymentIntentCreateParams": {
        "type": "object",
        "required": ["amount", "currency"],
        "properties": {
          "amount": { "type": "integer" },
          "currency": { "type": "string" },
          "customer": { "type": "string" },
          "description": { "type": "string" },
          "payment_method": { "type": "string" },
          "confirm": { "type": "boolean" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "PaymentIntentList": {
        "type": "object",
        "required": ["object", "data", "has_more", "url"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "url": { "type": "string", "example": "/v1/payment_intents" },
          "has_more": { "type": "boolean" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PaymentIntent" }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "description": "A Stripe invoice object.",
        "required": ["id", "object"],
        "properties": {
          "id": { "type": "string", "example": "in_1RxS5EEAUr6ipfDB0aKo3moC" },
          "object": { "type": "string", "enum": ["invoice"] },
          "amount_due": { "type": "integer" },
          "amount_paid": { "type": "integer" },
          "amount_remaining": { "type": "integer" },
          "created": { "type": "integer" },
          "currency": { "type": "string" },
          "customer": { "type": "string", "nullable": true },
          "customer_email": { "type": "string", "nullable": true },
          "customer_name": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "due_date": { "type": "integer", "nullable": true },
          "hosted_invoice_url": { "type": "string", "nullable": true },
          "livemode": { "type": "boolean" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "number": { "type": "string", "nullable": true },
          "paid": { "type": "boolean" },
          "status": { "type": "string", "enum": ["draft", "open", "paid", "uncollectible", "void"], "nullable": true },
          "subtotal": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "InvoiceList": {
        "type": "object",
        "required": ["object", "data", "has_more", "url"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "url": { "type": "string", "example": "/v1/invoices" },
          "has_more": { "type": "boolean" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Invoice" }
          }
        }
      }
    }
  }
}
