{
  "openapi": "3.0.3",
  "info": {
    "title": "Nexmo (Vonage) SMS API (mock subset)",
    "version": "1.0.0",
    "description": "Focused subset of the legacy Nexmo (now Vonage) SMS API used by the OpenFn nexmo adaptor. The adaptor's sendSMS(from, to, text) operation posts a form-encoded request to the /sms/json outbound SMS endpoint and receives a JSON envelope containing a messages array. Also models the account balance endpoint for completeness.",
    "x-openfn-adaptor": "nexmo"
  },
  "servers": [{ "url": "https://rest.nexmo.com" }],
  "paths": {
    "/sms/json": {
      "post": {
        "operationId": "sendSMS",
        "summary": "Send an outbound SMS",
        "description": "Send an SMS to one recipient. The adaptor calls this with api_key, api_secret, from, to and text.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/SendSMSRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS submission result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SMSResponse" }
              }
            }
          }
        }
      }
    },
    "/account/get-balance": {
      "get": {
        "operationId": "getAccountBalance",
        "summary": "Get account balance",
        "parameters": [
          { "name": "api_key", "in": "query", "schema": { "type": "string" } },
          { "name": "api_secret", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Current account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountBalance" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendSMSRequest": {
        "type": "object",
        "required": ["api_key", "api_secret", "from", "to", "text"],
        "properties": {
          "api_key": { "type": "string", "description": "Vonage API key" },
          "api_secret": { "type": "string", "description": "Vonage API secret" },
          "from": { "type": "string", "description": "Sender ID (alphanumeric or MSISDN)", "example": "OpenFn" },
          "to": { "type": "string", "description": "Recipient phone number in E.164 format", "example": "447700900000" },
          "text": { "type": "string", "description": "Message body", "example": "Hello World!" },
          "type": { "type": "string", "enum": ["text", "unicode", "binary"], "default": "text" },
          "client-ref": { "type": "string", "description": "Client reference, max 40 chars" },
          "callback": { "type": "string", "description": "Delivery receipt webhook URL" }
        }
      },
      "SMSResponse": {
        "type": "object",
        "properties": {
          "message-count": { "type": "string", "description": "Number of message parts", "example": "1" },
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SMSMessage" }
          }
        }
      },
      "SMSMessage": {
        "type": "object",
        "properties": {
          "to": { "type": "string", "example": "447700900000" },
          "message-id": { "type": "string", "example": "0A0000000123ABCD1" },
          "status": { "type": "string", "description": "0 indicates success; any other value is an error code", "example": "0" },
          "remaining-balance": { "type": "string", "example": "3.14159265" },
          "message-price": { "type": "string", "example": "0.03330000" },
          "network": { "type": "string", "example": "12345" },
          "client-ref": { "type": "string" },
          "account-ref": { "type": "string" },
          "error-text": { "type": "string", "description": "Present when status is non-zero" }
        }
      },
      "AccountBalance": {
        "type": "object",
        "properties": {
          "value": { "type": "number", "format": "float", "example": 3.14159265 },
          "autoReload": { "type": "boolean", "example": false }
        }
      }
    }
  }
}
