{
  "openapi": "3.0.3",
  "info": {
    "title": "MTN Mobile Money (MoMo) Open API",
    "version": "1.0.0",
    "description": "Focused OpenAPI description of the MTN Mobile Money (MoMo) Open API endpoints exercised by the OpenFn mtn-momo adaptor. The adaptor exposes a single generic request(method, path, body, options) operation, so this spec models the concrete MoMo REST endpoints an OpenFn job typically calls: sandbox provisioning (API user / API key), OAuth token issuance, Collection product (request to pay, status, account balance, account holder validation, basic user info, invoice) and Disbursement product (transfer, transfer status). Authored from the MTN MoMo developer documentation (momodeveloper.mtn.com).",
    "x-openfn-adaptor": "mtn-momo"
  },
  "servers": [
    {
      "url": "https://sandbox.momodeveloper.mtn.com",
      "description": "MTN MoMo sandbox environment"
    }
  ],
  "tags": [
    { "name": "Sandbox provisioning" },
    { "name": "Authentication" },
    { "name": "Collection" },
    { "name": "Disbursement" }
  ],
  "paths": {
    "/v1_0/apiuser": {
      "post": {
        "operationId": "createApiUser",
        "tags": ["Sandbox provisioning"],
        "summary": "Create an API user in the sandbox",
        "parameters": [
          { "$ref": "#/components/parameters/XReferenceId" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApiUserRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API user created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AcknowledgeResponse" }
              }
            }
          }
        }
      }
    },
    "/v1_0/apiuser/{referenceId}": {
      "get": {
        "operationId": "getApiUser",
        "tags": ["Sandbox provisioning"],
        "summary": "Get details of an API user",
        "parameters": [
          { "$ref": "#/components/parameters/ReferenceIdPath" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "API user details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiUser" }
              }
            }
          }
        }
      }
    },
    "/v1_0/apiuser/{referenceId}/apikey": {
      "post": {
        "operationId": "createApiKey",
        "tags": ["Sandbox provisioning"],
        "summary": "Create an API key for an API user",
        "parameters": [
          { "$ref": "#/components/parameters/ReferenceIdPath" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKey" }
              }
            }
          }
        }
      }
    },
    "/collection/token/": {
      "post": {
        "operationId": "createCollectionToken",
        "tags": ["Authentication"],
        "summary": "Create an OAuth 2.0 access token for the Collection product",
        "parameters": [
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccessToken" }
              }
            }
          }
        }
      }
    },
    "/disbursement/token/": {
      "post": {
        "operationId": "createDisbursementToken",
        "tags": ["Authentication"],
        "summary": "Create an OAuth 2.0 access token for the Disbursement product",
        "parameters": [
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccessToken" }
              }
            }
          }
        }
      }
    },
    "/collection/v1_0/requesttopay": {
      "post": {
        "operationId": "requestToPay",
        "tags": ["Collection"],
        "summary": "Request a payment from a consumer (payer)",
        "parameters": [
          { "$ref": "#/components/parameters/XReferenceId" },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RequestToPay" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request to pay accepted for processing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AcknowledgeResponse" }
              }
            }
          }
        }
      }
    },
    "/collection/v1_0/requesttopay/{referenceId}": {
      "get": {
        "operationId": "getRequestToPayStatus",
        "tags": ["Collection"],
        "summary": "Get the status of a request to pay",
        "parameters": [
          { "$ref": "#/components/parameters/ReferenceIdPath" },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Request to pay transaction",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RequestToPayResult" }
              }
            }
          }
        }
      }
    },
    "/collection/v1_0/account/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "tags": ["Collection"],
        "summary": "Get the balance of the collection account",
        "parameters": [
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountBalance" }
              }
            }
          }
        }
      }
    },
    "/collection/v1_0/accountholder/{accountHolderIdType}/{accountHolderId}/active": {
      "get": {
        "operationId": "validateAccountHolderActive",
        "tags": ["Collection"],
        "summary": "Check whether an account holder is registered and active",
        "parameters": [
          {
            "name": "accountHolderIdType",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "example": "msisdn" }
          },
          {
            "name": "accountHolderId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "example": "46733123453" }
          },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Account holder active status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountHolderActive" }
              }
            }
          }
        }
      }
    },
    "/collection/v1_0/accountholder/msisdn/{msisdn}/basicuserinfo": {
      "get": {
        "operationId": "getBasicUserInfo",
        "tags": ["Collection"],
        "summary": "Get basic KYC information about an account holder",
        "parameters": [
          {
            "name": "msisdn",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "example": "46733123451" }
          },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Basic user information",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BasicUserInfo" }
              }
            }
          }
        }
      }
    },
    "/collection/v2_0/invoice": {
      "post": {
        "operationId": "createInvoice",
        "tags": ["Collection"],
        "summary": "Create an invoice for a payer",
        "parameters": [
          { "$ref": "#/components/parameters/XReferenceId" },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Invoice" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Invoice accepted for processing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AcknowledgeResponse" }
              }
            }
          }
        }
      }
    },
    "/disbursement/v1_0/transfer": {
      "post": {
        "operationId": "transfer",
        "tags": ["Disbursement"],
        "summary": "Transfer funds from the disbursement account to a payee",
        "parameters": [
          { "$ref": "#/components/parameters/XReferenceId" },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Transfer" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Transfer accepted for processing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AcknowledgeResponse" }
              }
            }
          }
        }
      }
    },
    "/disbursement/v1_0/transfer/{referenceId}": {
      "get": {
        "operationId": "getTransferStatus",
        "tags": ["Disbursement"],
        "summary": "Get the status of a transfer",
        "parameters": [
          { "$ref": "#/components/parameters/ReferenceIdPath" },
          { "$ref": "#/components/parameters/XTargetEnvironment" },
          { "$ref": "#/components/parameters/SubscriptionKey" }
        ],
        "responses": {
          "200": {
            "description": "Transfer transaction",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransferResult" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "XReferenceId": {
        "name": "X-Reference-Id",
        "in": "header",
        "required": true,
        "description": "Client-generated UUID used as the transaction / resource reference.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ReferenceIdPath": {
        "name": "referenceId",
        "in": "path",
        "required": true,
        "description": "UUID reference of the resource or transaction.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "XTargetEnvironment": {
        "name": "X-Target-Environment",
        "in": "header",
        "required": true,
        "description": "Identifier of the target environment, e.g. 'sandbox' or a production market code.",
        "schema": { "type": "string", "example": "sandbox" }
      },
      "SubscriptionKey": {
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header",
        "required": true,
        "description": "Product subscription key from the MoMo developer portal.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Party": {
        "type": "object",
        "description": "Identifies an account holder (payer or payee).",
        "properties": {
          "partyIdType": {
            "type": "string",
            "enum": ["MSISDN", "EMAIL", "PARTY_CODE"],
            "example": "MSISDN"
          },
          "partyId": { "type": "string", "example": "46733123450" }
        },
        "required": ["partyIdType", "partyId"]
      },
      "ApiUserRequest": {
        "type": "object",
        "properties": {
          "providerCallbackHost": {
            "type": "string",
            "example": "clinic.example.org"
          }
        },
        "required": ["providerCallbackHost"]
      },
      "ApiUser": {
        "type": "object",
        "properties": {
          "providerCallbackHost": { "type": "string", "example": "clinic.example.org" },
          "targetEnvironment": { "type": "string", "example": "sandbox" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "example": "f1db798c98df4bcf83b538175893bbf0"
          }
        },
        "required": ["apiKey"]
      },
      "AccessToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
          },
          "token_type": { "type": "string", "example": "access_token" },
          "expires_in": { "type": "integer", "example": 3600 }
        },
        "required": ["access_token", "token_type", "expires_in"]
      },
      "AcknowledgeResponse": {
        "type": "object",
        "description": "Acknowledgement returned for asynchronous operations (201/202) whose real bodies are empty. Modeled here so mocker can return a JSON payload.",
        "properties": {
          "referenceId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "example": "ACCEPTED" }
        }
      },
      "RequestToPay": {
        "type": "object",
        "properties": {
          "amount": { "type": "string", "example": "100" },
          "currency": { "type": "string", "example": "EUR" },
          "externalId": { "type": "string", "example": "6353636" },
          "payer": { "$ref": "#/components/schemas/Party" },
          "payerMessage": { "type": "string", "example": "Payment for order 123" },
          "payeeNote": { "type": "string", "example": "Thank you" }
        },
        "required": ["amount", "currency", "externalId", "payer"]
      },
      "RequestToPayResult": {
        "type": "object",
        "properties": {
          "amount": { "type": "string", "example": "100" },
          "currency": { "type": "string", "example": "EUR" },
          "financialTransactionId": { "type": "string", "example": "23503452" },
          "externalId": { "type": "string", "example": "6353636" },
          "payer": { "$ref": "#/components/schemas/Party" },
          "payerMessage": { "type": "string", "example": "Payment for order 123" },
          "payeeNote": { "type": "string", "example": "Thank you" },
          "status": {
            "type": "string",
            "enum": ["PENDING", "SUCCESSFUL", "FAILED"],
            "example": "SUCCESSFUL"
          },
          "reason": { "type": "string", "example": "PAYER_NOT_FOUND" }
        },
        "required": ["amount", "currency", "externalId", "payer", "status"]
      },
      "AccountBalance": {
        "type": "object",
        "properties": {
          "availableBalance": { "type": "string", "example": "1200.50" },
          "currency": { "type": "string", "example": "EUR" }
        },
        "required": ["availableBalance", "currency"]
      },
      "AccountHolderActive": {
        "type": "object",
        "properties": {
          "result": { "type": "boolean", "example": true }
        },
        "required": ["result"]
      },
      "BasicUserInfo": {
        "type": "object",
        "properties": {
          "given_name": { "type": "string", "example": "Sand" },
          "family_name": { "type": "string", "example": "Box" },
          "birthdate": { "type": "string", "example": "1976-08-13" },
          "locale": { "type": "string", "example": "sv_SE" },
          "gender": { "type": "string", "example": "MALE" },
          "status": { "type": "string", "example": "OK" }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "externalId": { "type": "string", "example": "996b82e6-d498-4c7c-87ee-7b0654350a2c" },
          "amount": { "type": "string", "example": "100" },
          "currency": { "type": "string", "example": "EUR" },
          "validityDuration": { "type": "string", "example": "3600" },
          "intendedPayer": { "$ref": "#/components/schemas/Party" },
          "payee": { "$ref": "#/components/schemas/Party" },
          "description": { "type": "string", "example": "Invoice for services" }
        },
        "required": ["externalId", "amount", "currency", "intendedPayer"]
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "amount": { "type": "string", "example": "100" },
          "currency": { "type": "string", "example": "EUR" },
          "externalId": { "type": "string", "example": "6353636" },
          "payee": { "$ref": "#/components/schemas/Party" },
          "payerMessage": { "type": "string", "example": "Salary payment" },
          "payeeNote": { "type": "string", "example": "March salary" }
        },
        "required": ["amount", "currency", "externalId", "payee"]
      },
      "TransferResult": {
        "type": "object",
        "properties": {
          "amount": { "type": "string", "example": "100" },
          "currency": { "type": "string", "example": "EUR" },
          "financialTransactionId": { "type": "string", "example": "23503452" },
          "externalId": { "type": "string", "example": "6353636" },
          "payee": { "$ref": "#/components/schemas/Party" },
          "payerMessage": { "type": "string", "example": "Salary payment" },
          "payeeNote": { "type": "string", "example": "March salary" },
          "status": {
            "type": "string",
            "enum": ["PENDING", "SUCCESSFUL", "FAILED"],
            "example": "SUCCESSFUL"
          },
          "reason": { "type": "string", "example": "PAYEE_NOT_FOUND" }
        },
        "required": ["amount", "currency", "externalId", "payee", "status"]
      }
    }
  }
}
