{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenLMIS API (mock subset)",
    "version": "3.x",
    "description": "Focused subset of the OpenLMIS v3 microservices REST API used by the OpenFn openlmis adaptor. The adaptor is a thin HTTP client (get/post/put/request) whose base URL points at an OpenLMIS gateway (…/api). This document covers the most commonly integrated Reference Data resources (facilities, programs, orderables/products, facility types, geographic zones, processing periods, users, supply lines, supervisory nodes, lots), Requisition and Fulfillment (orders) resources, and Stock Management summaries. List endpoints return Spring Data style paginated wrappers.",
    "x-openfn-adaptor": "openlmis"
  },
  "servers": [
    { "url": "https://demo.openlmis.org/api" }
  ],
  "paths": {
    "/facilities": {
      "get": {
        "operationId": "listFacilities",
        "summary": "List/search facilities",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "size", "in": "query", "schema": { "type": "integer" } },
          { "name": "name", "in": "query", "schema": { "type": "string" } },
          { "name": "code", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paged facilities",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilityPage" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFacility",
        "summary": "Create a facility",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Facility" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created facility",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Facility" } }
            }
          }
        }
      }
    },
    "/facilities/{id}": {
      "get": {
        "operationId": "getFacility",
        "summary": "Get a facility by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Facility",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Facility" } }
            }
          },
          "404": { "description": "Not found" }
        }
      },
      "put": {
        "operationId": "updateFacility",
        "summary": "Create or update a facility",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Facility" } }
          }
        },
        "responses": {
          "200": {
            "description": "Updated facility",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Facility" } }
            }
          }
        }
      }
    },
    "/programs": {
      "get": {
        "operationId": "listPrograms",
        "summary": "List/search programs",
        "parameters": [
          { "name": "name", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Program" }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProgram",
        "summary": "Create a program",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Program" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created program",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Program" } }
            }
          }
        }
      }
    },
    "/programs/{id}": {
      "get": {
        "operationId": "getProgram",
        "summary": "Get a program by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Program",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Program" } }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProgram",
        "summary": "Update a program",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Program" } }
          }
        },
        "responses": {
          "200": {
            "description": "Updated program",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Program" } }
            }
          }
        }
      }
    },
    "/orderables": {
      "get": {
        "operationId": "listOrderables",
        "summary": "List/search orderables (products)",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "size", "in": "query", "schema": { "type": "integer" } },
          { "name": "code", "in": "query", "schema": { "type": "string" } },
          { "name": "name", "in": "query", "schema": { "type": "string" } },
          { "name": "program", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paged orderables",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrderablePage" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrderable",
        "summary": "Create an orderable",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Orderable" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created orderable",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Orderable" } }
            }
          }
        }
      }
    },
    "/orderables/{id}": {
      "get": {
        "operationId": "getOrderable",
        "summary": "Get an orderable by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Orderable",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Orderable" } }
            }
          }
        }
      }
    },
    "/facilityTypes": {
      "get": {
        "operationId": "listFacilityTypes",
        "summary": "List facility types",
        "responses": {
          "200": {
            "description": "Paged facility types",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilityTypePage" }
              }
            }
          }
        }
      }
    },
    "/geographicZones": {
      "get": {
        "operationId": "listGeographicZones",
        "summary": "List/search geographic zones",
        "responses": {
          "200": {
            "description": "Paged geographic zones",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GeographicZonePage" }
              }
            }
          }
        }
      }
    },
    "/processingPeriods": {
      "get": {
        "operationId": "listProcessingPeriods",
        "summary": "List/search processing periods",
        "parameters": [
          { "name": "programId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "facilityId", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Paged processing periods",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProcessingPeriodPage" }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List/search users",
        "parameters": [
          { "name": "username", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paged users",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserPage" }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        }
      }
    },
    "/supplyLines": {
      "get": {
        "operationId": "listSupplyLines",
        "summary": "List/search supply lines",
        "parameters": [
          { "name": "programId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "supplyingFacilityId", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Supply lines",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupplyLinePage" }
              }
            }
          }
        }
      }
    },
    "/supervisoryNodes": {
      "get": {
        "operationId": "listSupervisoryNodes",
        "summary": "List supervisory nodes",
        "responses": {
          "200": {
            "description": "Paged supervisory nodes",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SupervisoryNodePage" }
              }
            }
          }
        }
      }
    },
    "/lots": {
      "get": {
        "operationId": "listLots",
        "summary": "List/search lots",
        "parameters": [
          { "name": "tradeItemId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "expirationDate", "in": "query", "schema": { "type": "string", "format": "date" } }
        ],
        "responses": {
          "200": {
            "description": "Paged lots",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LotPage" }
              }
            }
          }
        }
      }
    },
    "/requisitions/{id}": {
      "get": {
        "operationId": "getRequisition",
        "summary": "Get a requisition by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Requisition",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Requisition" } }
            }
          }
        }
      }
    },
    "/requisitions/search": {
      "get": {
        "operationId": "searchRequisitions",
        "summary": "Search requisitions",
        "parameters": [
          { "name": "facility", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "program", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "processingPeriod", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Paged requisitions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RequisitionPage" }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List/search orders (fulfillment)",
        "parameters": [
          { "name": "supplyingFacilityId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "programId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paged orders",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrderPage" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Order" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created order",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Order" } }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get an order by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Order" } }
            }
          }
        }
      }
    },
    "/stockCardSummaries": {
      "get": {
        "operationId": "listStockCardSummaries",
        "summary": "List stock card summaries (stock on hand)",
        "parameters": [
          { "name": "programId", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "facilityId", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Paged stock card summaries",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StockCardSummaryPage" }
              }
            }
          }
        }
      }
    },
    "/stockEvents": {
      "post": {
        "operationId": "createStockEvent",
        "summary": "Submit a stock event (stock management)",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/StockEvent" } }
          }
        },
        "responses": {
          "201": {
            "description": "Created stock event id",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/StockEvent" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PageMeta": {
        "type": "object",
        "description": "Spring Data style pagination metadata shared by list endpoints.",
        "properties": {
          "totalElements": { "type": "integer" },
          "totalPages": { "type": "integer" },
          "number": { "type": "integer", "description": "Zero-based page index" },
          "numberOfElements": { "type": "integer" },
          "size": { "type": "integer" },
          "first": { "type": "boolean" },
          "last": { "type": "boolean" }
        }
      },
      "ObjectReference": {
        "type": "object",
        "description": "Lightweight reference to another resource by id and href.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "href": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "Facility": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "active": { "type": "boolean" },
          "enabled": { "type": "boolean" },
          "goLiveDate": { "type": "string", "format": "date" },
          "comment": { "type": "string" },
          "geographicZone": { "$ref": "#/components/schemas/GeographicZone" },
          "type": { "$ref": "#/components/schemas/FacilityType" },
          "operator": { "$ref": "#/components/schemas/ObjectReference" },
          "supportedPrograms": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ObjectReference" }
          }
        }
      },
      "FacilityPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Facility" }
              }
            }
          }
        ]
      },
      "FacilityType": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "displayOrder": { "type": "integer" },
          "active": { "type": "boolean" }
        }
      },
      "FacilityTypePage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/FacilityType" }
              }
            }
          }
        ]
      },
      "Program": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "active": { "type": "boolean" },
          "periodsSkippable": { "type": "boolean" },
          "skipAuthorization": { "type": "boolean" },
          "showNonFullSupplyTab": { "type": "boolean" },
          "enableDatePhysicalStockCountCompleted": { "type": "boolean" }
        }
      },
      "Orderable": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "productCode": { "type": "string" },
          "fullProductName": { "type": "string" },
          "description": { "type": "string" },
          "netContent": { "type": "integer" },
          "packRoundingThreshold": { "type": "integer" },
          "roundToZero": { "type": "boolean" },
          "dispensable": {
            "type": "object",
            "properties": {
              "dispensingUnit": { "type": "string" }
            }
          },
          "programOrderables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "programId": { "type": "string", "format": "uuid" },
                "orderableDisplayCategoryId": { "type": "string", "format": "uuid" },
                "active": { "type": "boolean" },
                "fullSupply": { "type": "boolean" },
                "pricePerPack": { "type": "number" }
              }
            }
          },
          "identifiers": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "versionNumber": { "type": "integer" },
              "lastUpdated": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "OrderablePage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Orderable" }
              }
            }
          }
        ]
      },
      "GeographicZone": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "level": { "$ref": "#/components/schemas/ObjectReference" },
          "catchmentPopulation": { "type": "integer" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "parent": { "$ref": "#/components/schemas/ObjectReference" }
        }
      },
      "GeographicZonePage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/GeographicZone" }
              }
            }
          }
        ]
      },
      "ProcessingPeriod": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "durationInMonths": { "type": "integer" },
          "processingSchedule": { "$ref": "#/components/schemas/ObjectReference" }
        }
      },
      "ProcessingPeriodPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProcessingPeriod" }
              }
            }
          }
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "username": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "jobTitle": { "type": "string" },
          "timezone": { "type": "string" },
          "homeFacilityId": { "type": "string", "format": "uuid" },
          "active": { "type": "boolean" },
          "roleAssignments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "roleId": { "type": "string", "format": "uuid" },
                "programId": { "type": "string", "format": "uuid" },
                "supervisoryNodeId": { "type": "string", "format": "uuid" },
                "warehouseId": { "type": "string", "format": "uuid" }
              }
            }
          }
        }
      },
      "UserPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        ]
      },
      "SupplyLine": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "supervisoryNode": { "$ref": "#/components/schemas/ObjectReference" },
          "program": { "$ref": "#/components/schemas/ObjectReference" },
          "supplyingFacility": { "$ref": "#/components/schemas/ObjectReference" }
        }
      },
      "SupplyLinePage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/SupplyLine" }
              }
            }
          }
        ]
      },
      "SupervisoryNode": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "facility": { "$ref": "#/components/schemas/ObjectReference" },
          "parentNode": { "$ref": "#/components/schemas/ObjectReference" },
          "requisitionGroup": { "$ref": "#/components/schemas/ObjectReference" }
        }
      },
      "SupervisoryNodePage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/SupervisoryNode" }
              }
            }
          }
        ]
      },
      "Lot": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "lotCode": { "type": "string" },
          "tradeItemId": { "type": "string", "format": "uuid" },
          "expirationDate": { "type": "string", "format": "date" },
          "manufactureDate": { "type": "string", "format": "date" },
          "active": { "type": "boolean" }
        }
      },
      "LotPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Lot" }
              }
            }
          }
        ]
      },
      "Requisition": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "facility": { "$ref": "#/components/schemas/ObjectReference" },
          "program": { "$ref": "#/components/schemas/ObjectReference" },
          "processingPeriod": { "$ref": "#/components/schemas/ObjectReference" },
          "supervisoryNode": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": ["INITIATED", "SUBMITTED", "AUTHORIZED", "IN_APPROVAL", "APPROVED", "RELEASED", "REJECTED", "SKIPPED"]
          },
          "emergency": { "type": "boolean" },
          "reportOnly": { "type": "boolean" },
          "createdDate": { "type": "string", "format": "date-time" },
          "modifiedDate": { "type": "string", "format": "date-time" },
          "requisitionLineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "orderable": { "$ref": "#/components/schemas/ObjectReference" },
                "beginningBalance": { "type": "integer" },
                "totalReceivedQuantity": { "type": "integer" },
                "totalConsumedQuantity": { "type": "integer" },
                "stockOnHand": { "type": "integer" },
                "requestedQuantity": { "type": "integer" },
                "approvedQuantity": { "type": "integer" }
              }
            }
          }
        }
      },
      "RequisitionPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Requisition" }
              }
            }
          }
        ]
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "orderCode": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["ORDERED", "FULFILLING", "SHIPPED", "RECEIVED", "TRANSFER_FAILED", "IN_ROUTE", "READY_TO_PACK"]
          },
          "emergency": { "type": "boolean" },
          "program": { "$ref": "#/components/schemas/ObjectReference" },
          "requestingFacility": { "$ref": "#/components/schemas/ObjectReference" },
          "supplyingFacility": { "$ref": "#/components/schemas/ObjectReference" },
          "receivingFacility": { "$ref": "#/components/schemas/ObjectReference" },
          "processingPeriod": { "$ref": "#/components/schemas/ObjectReference" },
          "createdDate": { "type": "string", "format": "date-time" },
          "orderLineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "orderable": { "$ref": "#/components/schemas/ObjectReference" },
                "orderedQuantity": { "type": "integer" }
              }
            }
          }
        }
      },
      "OrderPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Order" }
              }
            }
          }
        ]
      },
      "StockCardSummary": {
        "type": "object",
        "properties": {
          "orderable": { "$ref": "#/components/schemas/ObjectReference" },
          "stockOnHand": { "type": "integer" },
          "canFulfillForMe": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orderable": { "$ref": "#/components/schemas/ObjectReference" },
                "lot": { "$ref": "#/components/schemas/ObjectReference" },
                "stockOnHand": { "type": "integer" },
                "processedDate": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "StockCardSummaryPage": {
        "allOf": [
          { "$ref": "#/components/schemas/PageMeta" },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/StockCardSummary" }
              }
            }
          }
        ]
      },
      "StockEvent": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "resourceId": { "type": "string", "format": "uuid" },
          "facilityId": { "type": "string", "format": "uuid" },
          "programId": { "type": "string", "format": "uuid" },
          "signature": { "type": "string" },
          "documentNumber": { "type": "string" },
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orderableId": { "type": "string", "format": "uuid" },
                "lotId": { "type": "string", "format": "uuid" },
                "quantity": { "type": "integer" },
                "occurredDate": { "type": "string", "format": "date" },
                "reasonId": { "type": "string", "format": "uuid" },
                "sourceId": { "type": "string", "format": "uuid" },
                "destinationId": { "type": "string", "format": "uuid" }
              }
            }
          }
        }
      }
    }
  }
}
