{
  "openapi": "3.0.3",
  "info": {
    "title": "AWS S3 (OpenFn adaptor surface)",
    "version": "1.0.0",
    "description": "Synthesized OpenAPI description of the Amazon S3 object operations used by the OpenFn aws-s3 adaptor (put, get, list). The adaptor uses the AWS SDK (S3 PutObject, GetObject, ListObjectsV2) rather than raw REST; responses are modelled as JSON to reflect the shapes the adaptor exposes on state.data / state.response.",
    "x-openfn-adaptor": "aws-s3"
  },
  "servers": [
    { "url": "https://s3.amazonaws.com" }
  ],
  "paths": {
    "/{bucket}/{key}": {
      "put": {
        "operationId": "put",
        "summary": "Put an object into S3 (PutObject)",
        "parameters": [
          { "name": "bucket", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "Content-Type", "in": "header", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": { "type": "string", "format": "binary" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Object stored",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PutObjectResult" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get",
        "summary": "Get an object from S3 (GetObject)",
        "parameters": [
          { "name": "bucket", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Object body. Adaptor parses JSON into state.data, or returns { base64 } for binary objects.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetObjectResult" }
              }
            }
          }
        }
      }
    },
    "/{bucket}": {
      "get": {
        "operationId": "list",
        "summary": "List objects in a bucket (ListObjectsV2)",
        "parameters": [
          { "name": "bucket", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "prefix", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "max-keys", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "continuation-token", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Listing result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListObjectsResult" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PutObjectResult": {
        "type": "object",
        "properties": {
          "bucket": { "type": "string" },
          "key": { "type": "string" },
          "ETag": { "type": "string", "example": "\"9b2cf535f27731c974343645a3985328\"" },
          "VersionId": { "type": "string", "nullable": true },
          "ServerSideEncryption": { "type": "string", "nullable": true }
        }
      },
      "GetObjectResult": {
        "type": "object",
        "properties": {
          "bucket": { "type": "string" },
          "key": { "type": "string" },
          "ContentType": { "type": "string" },
          "ContentLength": { "type": "integer" },
          "LastModified": { "type": "string", "format": "date-time" },
          "ETag": { "type": "string" },
          "body": { "type": "object", "additionalProperties": true, "description": "Parsed JSON body when applicable" },
          "base64": { "type": "string", "description": "Base64 content for binary objects" }
        }
      },
      "S3Object": {
        "type": "object",
        "properties": {
          "Key": { "type": "string" },
          "LastModified": { "type": "string", "format": "date-time" },
          "ETag": { "type": "string" },
          "Size": { "type": "integer" },
          "StorageClass": { "type": "string", "example": "STANDARD" }
        }
      },
      "ListObjectsResult": {
        "type": "object",
        "properties": {
          "Name": { "type": "string", "description": "Bucket name" },
          "Prefix": { "type": "string" },
          "KeyCount": { "type": "integer" },
          "MaxKeys": { "type": "integer" },
          "IsTruncated": { "type": "boolean" },
          "NextContinuationToken": { "type": "string", "nullable": true },
          "Contents": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/S3Object" }
          }
        }
      }
    }
  }
}
