{
  "openapi": "3.0.3",
  "info": {
    "title": "Intuit QuickBooks Online Accounting API (mock subset)",
    "version": "v3",
    "description": "Focused subset of the Intuit QuickBooks Online Accounting API used by the OpenFn intuit adaptor (a generic HTTP wrapper). Covers the core accounting entities: Customer, Invoice, Item, Account, Vendor, Payment, plus the SQL-like query endpoint. All requests are under /v3/company/{realmId} and authenticated with an OAuth2 Bearer access_token.",
    "x-openfn-adaptor": "intuit"
  },
  "servers": [{ "url": "https://sandbox-quickbooks.api.intuit.com" }],
  "paths": {
    "/v3/company/{realmId}/query": {
      "get": {
        "operationId": "query",
        "summary": "Run a QuickBooks query (SQL-like)",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "query", "in": "query", "required": true, "schema": { "type": "string" }, "description": "e.g. select * from Customer where Active = true" },
          { "name": "minorversion", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Query response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QueryResponseWrapper" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/customer": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create or update a customer",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } }
        },
        "responses": {
          "200": {
            "description": "Customer response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/customer/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Read a customer by id",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Customer response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/invoice": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create or update an invoice",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Invoice" } } }
        },
        "responses": {
          "200": {
            "description": "Invoice response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvoiceResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/invoice/{id}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Read an invoice by id",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Invoice response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvoiceResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/item": {
      "post": {
        "operationId": "createItem",
        "summary": "Create or update an item",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Item" } } }
        },
        "responses": {
          "200": {
            "description": "Item response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ItemResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/account": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create or update an account",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Account" } } }
        },
        "responses": {
          "200": {
            "description": "Account response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/vendor": {
      "post": {
        "operationId": "createVendor",
        "summary": "Create or update a vendor",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vendor" } } }
        },
        "responses": {
          "200": {
            "description": "Vendor response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VendorResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/payment": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create or update a payment",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Payment" } } }
        },
        "responses": {
          "200": {
            "description": "Payment response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/company/{realmId}/companyinfo/{id}": {
      "get": {
        "operationId": "getCompanyInfo",
        "summary": "Read company info",
        "parameters": [
          { "name": "realmId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Company info response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CompanyInfo": { "$ref": "#/components/schemas/CompanyInfo" },
                    "time": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReferenceType": {
        "type": "object",
        "properties": {
          "value": { "type": "string", "example": "1" },
          "name": { "type": "string", "example": "Services" }
        }
      },
      "PhysicalAddress": {
        "type": "object",
        "properties": {
          "Id": { "type": "string" },
          "Line1": { "type": "string", "example": "123 Main St" },
          "City": { "type": "string", "example": "Mountain View" },
          "CountrySubDivisionCode": { "type": "string", "example": "CA" },
          "PostalCode": { "type": "string", "example": "94042" },
          "Country": { "type": "string", "example": "USA" }
        }
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "CreateTime": { "type": "string", "format": "date-time" },
          "LastUpdatedTime": { "type": "string", "format": "date-time" }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "1" },
          "SyncToken": { "type": "string", "example": "0" },
          "DisplayName": { "type": "string", "example": "Amy's Bird Sanctuary" },
          "GivenName": { "type": "string", "example": "Amy" },
          "FamilyName": { "type": "string", "example": "Lauterbach" },
          "CompanyName": { "type": "string", "example": "Amy's Bird Sanctuary" },
          "Active": { "type": "boolean", "example": true },
          "Balance": { "type": "number", "example": 239.0 },
          "PrimaryEmailAddr": {
            "type": "object",
            "properties": { "Address": { "type": "string", "example": "Birds@Intuit.com" } }
          },
          "PrimaryPhone": {
            "type": "object",
            "properties": { "FreeFormNumber": { "type": "string", "example": "(650) 555-3311" } }
          },
          "BillAddr": { "$ref": "#/components/schemas/PhysicalAddress" },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "Customer": { "$ref": "#/components/schemas/Customer" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "InvoiceLine": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "1" },
          "LineNum": { "type": "integer", "example": 1 },
          "Amount": { "type": "number", "example": 150.0 },
          "DetailType": { "type": "string", "example": "SalesItemLineDetail" },
          "Description": { "type": "string", "example": "Pest Control Services" },
          "SalesItemLineDetail": {
            "type": "object",
            "properties": {
              "ItemRef": { "$ref": "#/components/schemas/ReferenceType" },
              "Qty": { "type": "number", "example": 1 },
              "UnitPrice": { "type": "number", "example": 150.0 }
            }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "130" },
          "SyncToken": { "type": "string", "example": "0" },
          "DocNumber": { "type": "string", "example": "1037" },
          "TxnDate": { "type": "string", "format": "date", "example": "2026-06-01" },
          "CustomerRef": { "$ref": "#/components/schemas/ReferenceType" },
          "Line": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/InvoiceLine" }
          },
          "TotalAmt": { "type": "number", "example": 150.0 },
          "Balance": { "type": "number", "example": 150.0 },
          "DueDate": { "type": "string", "format": "date", "example": "2026-07-01" },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "Invoice": { "$ref": "#/components/schemas/Invoice" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "1" },
          "SyncToken": { "type": "string", "example": "0" },
          "Name": { "type": "string", "example": "Pest Control" },
          "Description": { "type": "string", "example": "Pest Control Services" },
          "Active": { "type": "boolean", "example": true },
          "Type": { "type": "string", "example": "Service" },
          "UnitPrice": { "type": "number", "example": 35.0 },
          "IncomeAccountRef": { "$ref": "#/components/schemas/ReferenceType" },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "ItemResponse": {
        "type": "object",
        "properties": {
          "Item": { "$ref": "#/components/schemas/Item" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "33" },
          "SyncToken": { "type": "string", "example": "0" },
          "Name": { "type": "string", "example": "Accounts Payable" },
          "AccountType": { "type": "string", "example": "Accounts Payable" },
          "AccountSubType": { "type": "string", "example": "AccountsPayable" },
          "Classification": { "type": "string", "example": "Liability" },
          "CurrentBalance": { "type": "number", "example": 1602.67 },
          "Active": { "type": "boolean", "example": true },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "Account": { "$ref": "#/components/schemas/Account" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "Vendor": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "56" },
          "SyncToken": { "type": "string", "example": "0" },
          "DisplayName": { "type": "string", "example": "Bob's Burger Joint" },
          "CompanyName": { "type": "string", "example": "Bob's Burger Joint" },
          "Active": { "type": "boolean", "example": true },
          "Balance": { "type": "number", "example": 0 },
          "PrimaryEmailAddr": {
            "type": "object",
            "properties": { "Address": { "type": "string", "example": "bob@example.com" } }
          },
          "BillAddr": { "$ref": "#/components/schemas/PhysicalAddress" },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "VendorResponse": {
        "type": "object",
        "properties": {
          "Vendor": { "$ref": "#/components/schemas/Vendor" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "1" },
          "SyncToken": { "type": "string", "example": "0" },
          "TotalAmt": { "type": "number", "example": 150.0 },
          "CustomerRef": { "$ref": "#/components/schemas/ReferenceType" },
          "TxnDate": { "type": "string", "format": "date", "example": "2026-06-05" },
          "UnappliedAmt": { "type": "number", "example": 0 },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "Payment": { "$ref": "#/components/schemas/Payment" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "example": "1" },
          "CompanyName": { "type": "string", "example": "Sandbox Company_US_1" },
          "LegalName": { "type": "string", "example": "Sandbox Company_US_1" },
          "CompanyAddr": { "$ref": "#/components/schemas/PhysicalAddress" },
          "Country": { "type": "string", "example": "US" },
          "MetaData": { "$ref": "#/components/schemas/MetaData" }
        }
      },
      "QueryResponseWrapper": {
        "type": "object",
        "properties": {
          "QueryResponse": {
            "type": "object",
            "properties": {
              "startPosition": { "type": "integer", "example": 1 },
              "maxResults": { "type": "integer", "example": 10 },
              "Customer": { "type": "array", "items": { "$ref": "#/components/schemas/Customer" } },
              "Invoice": { "type": "array", "items": { "$ref": "#/components/schemas/Invoice" } },
              "Item": { "type": "array", "items": { "$ref": "#/components/schemas/Item" } },
              "Account": { "type": "array", "items": { "$ref": "#/components/schemas/Account" } },
              "Vendor": { "type": "array", "items": { "$ref": "#/components/schemas/Vendor" } }
            }
          },
          "time": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
