{
  "openapi": "3.0.3",
  "info": {
    "title": "RapidPro API v2 (mock subset)",
    "version": "2.0",
    "description": "Focused subset of the RapidPro/TextIt API v2 used by the OpenFn rapidpro adaptor: contacts (list, create, upsert by URN), flow starts and broadcasts. RapidPro endpoints are served under /api/v2/ and accept/return JSON with a .json suffix.",
    "x-openfn-adaptor": "rapidpro"
  },
  "servers": [
    { "url": "https://app.rapidpro.io", "description": "RapidPro cloud host (self-hosted instances vary)" }
  ],
  "paths": {
    "/api/v2/contacts.json": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "parameters": [
          { "name": "uuid", "in": "query", "schema": { "type": "string" } },
          { "name": "urn", "in": "query", "schema": { "type": "string" } },
          { "name": "group", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paginated contacts",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ContactList" } }
            }
          }
        }
      },
      "post": {
        "operationId": "addContact",
        "summary": "Create or upsert a contact (upsert when a urn query param is supplied)",
        "parameters": [
          { "name": "urn", "in": "query", "schema": { "type": "string" }, "description": "When present, upsert the contact matching this URN" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ContactWrite" } }
          }
        },
        "responses": {
          "200": {
            "description": "The created or updated contact",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } }
            }
          },
          "201": {
            "description": "Created contact",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Contact" } }
            }
          }
        }
      }
    },
    "/api/v2/flow_starts.json": {
      "get": {
        "operationId": "listFlowStarts",
        "summary": "List flow starts",
        "responses": {
          "200": {
            "description": "Paginated flow starts",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/FlowStartList" } }
            }
          }
        }
      },
      "post": {
        "operationId": "startFlow",
        "summary": "Start a flow for a set of contacts, groups, or URNs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/FlowStartWrite" } }
          }
        },
        "responses": {
          "201": {
            "description": "The queued flow start",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/FlowStart" } }
            }
          }
        }
      }
    },
    "/api/v2/broadcasts.json": {
      "get": {
        "operationId": "listBroadcasts",
        "summary": "List broadcasts",
        "responses": {
          "200": {
            "description": "Paginated broadcasts",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/BroadcastList" } }
            }
          }
        }
      },
      "post": {
        "operationId": "sendBroadcast",
        "summary": "Send a message to contacts, groups, and/or URNs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/BroadcastWrite" } }
          }
        },
        "responses": {
          "201": {
            "description": "The queued broadcast",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Broadcast" } }
            }
          }
        }
      }
    },
    "/api/v2/flows.json": {
      "get": {
        "operationId": "listFlows",
        "summary": "List flows",
        "responses": {
          "200": {
            "description": "Paginated flows",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/FlowList" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ObjectRef": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string", "nullable": true },
          "language": { "type": "string", "nullable": true },
          "urns": { "type": "array", "items": { "type": "string" }, "example": ["tel:+250788123123"] },
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectRef" } },
          "fields": { "type": "object", "additionalProperties": true },
          "blocked": { "type": "boolean", "nullable": true },
          "stopped": { "type": "boolean", "nullable": true },
          "created_on": { "type": "string", "format": "date-time" },
          "modified_on": { "type": "string", "format": "date-time" }
        }
      },
      "ContactWrite": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "language": { "type": "string" },
          "urns": { "type": "array", "items": { "type": "string" } },
          "groups": { "type": "array", "items": { "type": "string" } },
          "fields": { "type": "object", "additionalProperties": true }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "next": { "type": "string", "nullable": true },
          "previous": { "type": "string", "nullable": true },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } }
        }
      },
      "FlowStart": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "flow": { "$ref": "#/components/schemas/ObjectRef" },
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectRef" } },
          "contacts": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectRef" } },
          "status": { "type": "string", "example": "pending" },
          "params": { "type": "object", "additionalProperties": true },
          "created_on": { "type": "string", "format": "date-time" },
          "modified_on": { "type": "string", "format": "date-time" }
        }
      },
      "FlowStartWrite": {
        "type": "object",
        "required": ["flow"],
        "properties": {
          "flow": { "type": "string", "description": "Flow UUID" },
          "contacts": { "type": "array", "items": { "type": "string" } },
          "groups": { "type": "array", "items": { "type": "string" } },
          "urns": { "type": "array", "items": { "type": "string" } },
          "restart_participants": { "type": "boolean" },
          "extra": { "type": "object", "additionalProperties": true }
        }
      },
      "FlowStartList": {
        "type": "object",
        "properties": {
          "next": { "type": "string", "nullable": true },
          "previous": { "type": "string", "nullable": true },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/FlowStart" } }
        }
      },
      "Broadcast": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "urns": { "type": "array", "items": { "type": "string" } },
          "contacts": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectRef" } },
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectRef" } },
          "text": { "type": "object", "additionalProperties": { "type": "string" } },
          "status": { "type": "string", "example": "queued" },
          "created_on": { "type": "string", "format": "date-time" }
        }
      },
      "BroadcastWrite": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": { "type": "string" },
          "urns": { "type": "array", "items": { "type": "string" } },
          "contacts": { "type": "array", "items": { "type": "string" } },
          "groups": { "type": "array", "items": { "type": "string" } }
        }
      },
      "BroadcastList": {
        "type": "object",
        "properties": {
          "next": { "type": "string", "nullable": true },
          "previous": { "type": "string", "nullable": true },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Broadcast" } }
        }
      },
      "Flow": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "archived": { "type": "boolean" },
          "created_on": { "type": "string", "format": "date-time" }
        }
      },
      "FlowList": {
        "type": "object",
        "properties": {
          "next": { "type": "string", "nullable": true },
          "previous": { "type": "string", "nullable": true },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Flow" } }
        }
      }
    }
  }
}
