{
  "openapi": "3.0.3",
  "info": {
    "title": "Hubtel Messaging API (mock subset)",
    "version": "1.0.0",
    "description": "Focused subset of the Hubtel messaging REST API used by the OpenFn hubtel adaptor: the Quick Send SMS endpoint (sendSMS) plus a generic request passthrough. Hubtel is a Ghanaian communications platform; messages are sent via POST /messages/send with clientId/clientSecret basic auth.",
    "x-openfn-adaptor": "hubtel"
  },
  "servers": [{ "url": "https://smsc.hubtel.com/v1" }],
  "paths": {
    "/messages/send": {
      "post": {
        "operationId": "sendSMS",
        "summary": "Send an SMS message (Quick Send)",
        "description": "Send a single SMS message from a registered sender ID to a recipient.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message accepted for delivery",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageResponse" }
              }
            }
          },
          "200": {
            "description": "Message accepted for delivery",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageResponse" }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}": {
      "get": {
        "operationId": "getMessageStatus",
        "summary": "Get the delivery status of a sent message",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageStatus" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["from", "to", "content"],
        "properties": {
          "from": {
            "type": "string",
            "description": "Registered sender ID or short code",
            "example": "OpenFn-Test-01"
          },
          "to": {
            "type": "string",
            "description": "Recipient MSISDN in international format",
            "example": "233538675309"
          },
          "content": {
            "type": "string",
            "description": "The message text",
            "example": "hi there, this is OpenFn using the Hubtel adaptor"
          },
          "registeredDelivery": {
            "type": "boolean",
            "description": "Request a delivery report"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "Status": {
            "type": "integer",
            "description": "0 indicates the message was accepted",
            "example": 0
          },
          "MessageId": {
            "type": "string",
            "example": "43cceb19d2a242f58fb338692e12c0bb"
          },
          "Rate": { "type": "number", "example": 0 },
          "NetworkId": { "type": "string", "example": "0" }
        }
      },
      "MessageStatus": {
        "type": "object",
        "properties": {
          "MessageId": { "type": "string", "example": "43cceb19d2a242f58fb338692e12c0bb" },
          "Status": { "type": "string", "example": "Delivered" },
          "From": { "type": "string", "example": "OpenFn-Test-01" },
          "To": { "type": "string", "example": "233538675309" },
          "Content": { "type": "string" },
          "Rate": { "type": "number", "example": 0.03 },
          "NetworkId": { "type": "string", "example": "62001" },
          "UpdatedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
