{
  "openapi": "3.0.3",
  "info": {
    "title": "HL7 FHIR R4 REST API (OpenFn fhir-4 subset)",
    "version": "4.0.1",
    "description": "Focused OpenAPI model of the HL7 FHIR R4 RESTful API that the OpenFn fhir-4 adaptor calls: read (GET type/id), search (GET type), create (POST type), update (PUT type/id), delete, and transaction/batch Bundle upload (POST base). Models the core FHIR resources the adaptor and its resource builders produce.",
    "x-openfn-adaptor": "fhir-4"
  },
  "servers": [
    {
      "url": "https://hapi.fhir.org/baseR4"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "submitTransactionBundle",
        "summary": "Submit a transaction/batch Bundle (uploadBundle)",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Bundle"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction response Bundle",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      }
    },
    "/Patient": {
      "get": {
        "operationId": "searchPatient",
        "summary": "Search Patient resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Patient",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPatient",
        "summary": "Create a Patient resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Patient"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Patient",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}": {
      "get": {
        "operationId": "readPatient",
        "summary": "Read a Patient by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Patient resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePatient",
        "summary": "Update (upsert) a Patient by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Patient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Patient",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "201": {
            "description": "Created Patient",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePatient",
        "summary": "Delete a Patient by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation": {
      "get": {
        "operationId": "searchObservation",
        "summary": "Search Observation resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Observation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createObservation",
        "summary": "Create a Observation resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Observation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Observation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Observation"
                }
              }
            }
          }
        }
      }
    },
    "/Observation/{id}": {
      "get": {
        "operationId": "readObservation",
        "summary": "Read a Observation by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Observation resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Observation"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateObservation",
        "summary": "Update (upsert) a Observation by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Observation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Observation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Observation"
                }
              }
            }
          },
          "201": {
            "description": "Created Observation",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Observation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteObservation",
        "summary": "Delete a Observation by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter": {
      "get": {
        "operationId": "searchEncounter",
        "summary": "Search Encounter resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Encounter",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEncounter",
        "summary": "Create a Encounter resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Encounter"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Encounter",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Encounter"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter/{id}": {
      "get": {
        "operationId": "readEncounter",
        "summary": "Read a Encounter by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Encounter resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Encounter"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateEncounter",
        "summary": "Update (upsert) a Encounter by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Encounter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Encounter",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Encounter"
                }
              }
            }
          },
          "201": {
            "description": "Created Encounter",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Encounter"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEncounter",
        "summary": "Delete a Encounter by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Organization": {
      "get": {
        "operationId": "searchOrganization",
        "summary": "Search Organization resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Organization",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create a Organization resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Organization",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/Organization/{id}": {
      "get": {
        "operationId": "readOrganization",
        "summary": "Read a Organization by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Update (upsert) a Organization by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Organization",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "201": {
            "description": "Created Organization",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete a Organization by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Practitioner": {
      "get": {
        "operationId": "searchPractitioner",
        "summary": "Search Practitioner resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Practitioner",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPractitioner",
        "summary": "Create a Practitioner resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Practitioner"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Practitioner",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Practitioner"
                }
              }
            }
          }
        }
      }
    },
    "/Practitioner/{id}": {
      "get": {
        "operationId": "readPractitioner",
        "summary": "Read a Practitioner by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Practitioner resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Practitioner"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePractitioner",
        "summary": "Update (upsert) a Practitioner by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Practitioner"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Practitioner",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Practitioner"
                }
              }
            }
          },
          "201": {
            "description": "Created Practitioner",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Practitioner"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePractitioner",
        "summary": "Delete a Practitioner by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "operationId": "searchCondition",
        "summary": "Search Condition resources",
        "parameters": [
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result Bundle of Condition",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCondition",
        "summary": "Create a Condition resource",
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created Condition",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "operationId": "readCondition",
        "summary": "Read a Condition by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Condition resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCondition",
        "summary": "Update (upsert) a Condition by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Condition",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "201": {
            "description": "Created Condition",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCondition",
        "summary": "Delete a Condition by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete outcome",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "versionId": {
            "type": "string"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "profile": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Identifier": {
        "type": "object",
        "properties": {
          "use": {
            "type": "string"
          },
          "system": {
            "type": "string",
            "format": "uri"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "HumanName": {
        "type": "object",
        "properties": {
          "use": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "given": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string"
          }
        }
      },
      "ContactPoint": {
        "type": "object",
        "properties": {
          "system": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "use": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "use": {
            "type": "string"
          },
          "line": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "city": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Coding": {
        "type": "object",
        "properties": {
          "system": {
            "type": "string",
            "format": "uri"
          },
          "code": {
            "type": "string"
          },
          "display": {
            "type": "string"
          }
        }
      },
      "CodeableConcept": {
        "type": "object",
        "properties": {
          "coding": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coding"
            }
          },
          "text": {
            "type": "string"
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "display": {
            "type": "string"
          }
        }
      },
      "Quantity": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "system": {
            "type": "string",
            "format": "uri"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "Period": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Patient": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Patient"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HumanName"
            }
          },
          "telecom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            }
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "other",
              "unknown"
            ]
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "managingOrganization": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "Observation": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Observation"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "status": {
            "type": "string"
          },
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "subject": {
            "$ref": "#/components/schemas/Reference"
          },
          "encounter": {
            "$ref": "#/components/schemas/Reference"
          },
          "effectiveDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "valueQuantity": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueCodeableConcept": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "valueString": {
            "type": "string"
          }
        }
      },
      "Encounter": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Encounter"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "status": {
            "type": "string"
          },
          "class": {
            "$ref": "#/components/schemas/Coding"
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "subject": {
            "$ref": "#/components/schemas/Reference"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "serviceProvider": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "Organization": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Organization"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            }
          },
          "telecom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            }
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "Practitioner": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Practitioner"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HumanName"
            }
          },
          "telecom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            }
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "Condition": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Condition"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "identifier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          "clinicalStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "code": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "subject": {
            "$ref": "#/components/schemas/Reference"
          },
          "encounter": {
            "$ref": "#/components/schemas/Reference"
          },
          "recordedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BundleEntry": {
        "type": "object",
        "properties": {
          "fullUrl": {
            "type": "string"
          },
          "resource": {
            "type": "object"
          },
          "request": {
            "type": "object",
            "properties": {
              "method": {
                "type": "string",
                "enum": [
                  "GET",
                  "POST",
                  "PUT",
                  "DELETE",
                  "PATCH"
                ]
              },
              "url": {
                "type": "string"
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "location": {
                "type": "string"
              }
            }
          }
        }
      },
      "Bundle": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "Bundle"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "type": {
            "type": "string",
            "enum": [
              "searchset",
              "transaction",
              "transaction-response",
              "batch",
              "collection",
              "document"
            ]
          },
          "total": {
            "type": "integer"
          },
          "link": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relation": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "entry": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BundleEntry"
            }
          }
        }
      },
      "OperationOutcome": {
        "type": "object",
        "required": [
          "resourceType"
        ],
        "properties": {
          "resourceType": {
            "type": "string",
            "enum": [
              "OperationOutcome"
            ]
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "issue": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "diagnostics": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}